<div class="menu noprint clearfix">
    <div style="display:inline-block" class="fLeft">
        <ul *ngIf="menu.length" (mouseenter)="rootMenuMouseEnter()" (mouseleave)="rootMenuMouseLeave()">
            <li [class.active]="item['active']" *ngFor="let item of menu;let i = index" (mouseover)="menuMouseOver(item,i)" (click)="jumpToFirst(item,i)">
                <span>{{"menu."+item.category | translate}}</span>
            </li>
        </ul>
    </div>

    <ol class="sub-menu" [class.active]="expand" (mouseenter)="subMenuMouseEnter()" (mouseleave)="subMenuMouseLeave()">
        <li *ngFor="let sub of expandItem;index as it;" [class.active]="sub['active']" (click)="jump(sub)">
            <!-- <img src="https://via.placeholder.com/144x144.png/ffffff/333333/?text=gooalgene" /> -->
            <div class="tool-imgs {{sub['url']}}-img"></div>
            <!-- <img src="../res/img/韦恩图.png" /> diff-venn-->
            <!-- <p ></p> -->
            <div style="height:40px;">{{sub['content']}}</div>
            <a class="menu-button">{{"menu."+sub['name'] | translate}}</a>
        </li>
    </ol>

    <!-- 我的分析 -->
    <!-- <div class="table-analysis-button  blue fRight" (click)="analysisFn()" style="margin-top: 4px;">
        <b>{{'myAnalysis' | translate}}</b>
        <span><i class="anticon anticon-appstore"></i></span>
    </div> -->

    <!-- <em *ngIf="storeService['store']['analysisCount']" style="font-style:normal;margin-left:-10px;color:#f40;">（{{storeService['store']['analysisCount']}}）</em> -->

    <!-- <div class="fRight menufunc" (click)="analysisFn()" style="margin-top: 7px;">
        <span><i class="iconfont icon-fenxi" style="color:rgb(122, 212, 138);margin-right:2px;"></i></span>
        <b>{{'myAnalysis' | translate}}</b>
        <nz-badge [nzCount]="+storeService['store']['analysisCount']" [nzOverflowCount]="10"></nz-badge>
    </div> -->

    <!-- 我的基因集 handleSaveGeneListClick-->
    <nz-dropdown [nzPlacement]="'bottomRight'" class="fRight"> 
        <div nz-dropdown *ngIf="showGeneList" class="savegenelist menufunc" (click)="analysisFn()">
            <!-- <span><i class="iconfont icon-fenxi" style="margin-right:2px;color:rgba(108, 210, 150, 0.9);"></i></span> -->
            <b>{{'myAnalysis' | translate}}</b>
            <nz-badge *ngIf="+storeService['store']['analysisCount']" [nzCount]="+storeService['store']['analysisCount']" [nzOverflowCount]="9"></nz-badge>
        </div>
        <ul [hidden]="!analysisList.length" nz-menu class="geneListUl">
            <li nz-menu-item *ngFor="let item of analysisList" (click)="goDetail(item)">
                <nz-badge style="line-height: 0.74" [nzDot]="!item['isCheck']"><p>{{item.nickname}}</p></nz-badge>
                <p>{{item.date}}</p>
                <span *ngIf="item['process'] == 1"><i class="anticon anticon-check-circle success"></i></span>
                <span *ngIf="item['process'] == 0"><i class="anticon anticon-close-circle error"></i></span>
                <span *ngIf="item['process'] == -1"><i class="anticon anticon-hourglass pending"></i></span>
            </li>
        </ul>
        <div [hidden]="analysisList.length" nz-menu class="nogeneList center">
            <div>
                <img src="assets/img/boy_swim.svg" />
                <p>请先创建一个分析任务</p>
            </div>
        </div>
    </nz-dropdown>

    <!-- gene transform -->
    <!-- <div *ngIf="geneSwitch" class="fRight" style="margin-top: 7px;margin-right: 12px;">
        <nz-switch [ngModel]="pageModuleService['defaultModule']==='gene'" (ngModelChange)="moduleSwitchChange($event)" nzCheckedChildren="gene" nzUnCheckedChildren="transform"></nz-switch>
    </div> -->

    <ng-content></ng-content>
</div>