<div class="menu clearfix">
    <div style="display:inline-block" class="fLeft">
        <ul *ngIf="menu.length" (mouseenter)="rootMenuMouseEnter()" (mouseleave)="rootMenuMouseLeave()">
            <li *ngFor="let item of menu;let i = index" (mouseover)="menuMouseOver(item,i)">
                <span [class.active]="item['active']">{{item.category}}</span>
            </li>
        </ul>
    </div>

    <ol class="sub-menu" [class.active]="expand" (mouseenter)="subMenuMouseEnter()" (mouseleave)="subMenuMouseLeave()">
        <li *ngFor="let sub of expandItem;index as it;" [class.active]="sub['active']" (click)="jump(sub)">
            <!-- <img src="https://via.placeholder.com/144x144.png/ffffff/333333/?text=gooalgene" /> -->
            <div class="tool-imgs {{sub['url']}}-img"></div>
            <!-- <img src="../res/img/韦恩图.png" /> diff-venn-->
            <p>描述信息描述信息描述信息描述信息描述信息描述信息描述信息描述信息</p>
            <a class="menu-button">{{sub['name']}}</a>
        </li>
    </ol>

    <div class="table-analysis-button  blue fRight" (click)="analysisFn()" style="margin-top: 4px;">
        <b>我的分析</b>
        <span><i class="anticon anticon-appstore"></i></span>
    </div>
    <!-- gene isoform -->
    <div *ngIf="geneSwitch" class="fRight" style="margin-top: 7px;margin-right: 12px;">
        <nz-switch [ngModel]="pageModuleService['defaultModule']==='gene'" (ngModelChange)="moduleSwitchChange($event)" nzCheckedChildren="gene" nzUnCheckedChildren="transform"></nz-switch>
    </div>

    <ng-content></ng-content>
</div>
