<div class="top">
    <ng-content></ng-content>
    <style>
        .top button{
            margin-left:10px;
            margin-top:7px;
        }
    </style>
    <button *ngIf="lang" nzSize="small" nz-button (click)="changeLan()">切换语言 {{browserLang}}</button>
    <button *ngIf="pdf" nzSize="small" nz-button (click)="exportPdf()"> export as pdf</button>
    <button *ngIf="analysis" nzSize="small" nz-button (click)="analysisFn()"> 我的分析</button>
    <button *ngIf="upload" nzSize="small" nz-button (click)="uploadFn()"> 上传数据</button>
</div>
