<div class="mgeneDetail">
  <div class="mgeneDetail_conetnt">
    <div class="mgene_title">
      {{geneID}} {{'gene_detail.gene_detail' | translate}}
    </div>

    <div class="mgene_page">
      <!-- 基因信息 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.gene_information' | translate}}</h4>
          <p *ngIf="geneInfoList['gene_id']">
            <span class="info_name">{{'gene_detail.gene_id' | translate}}</span>
            <span class="info_content">
              {{geneInfoList.gene_id}}
            </span>
            <span *ngIf="geneInfoList['url_ncbi_gene_id']" class="mlink">link to<a href="https://www.ncbi.nlm.nih.gov/gene/{{geneInfoList['url_ncbi_gene_id']}}" target="_blank">NCBI</a></span>
            <span *ngIf="geneInfoList['url_hgnc_gene_id']" class="mlink">link to<a href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{geneInfoList['url_hgnc_gene_id']}}" target="_blank">HGNC</a></span>
            <span *ngIf="geneInfoList['url_ensembl_gene_id']" class="mlink">link to<a href=" https://www.ensembl.org/Homo_sapiens/Gene/Summary?g={{geneInfoList['url_ensembl_gene_id']}}" target="_blank">Ensembl</a></span>
            <span *ngIf="geneInfoList['url_genecard_gene_id']" class="mlink">link to<a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{geneInfoList['url_genecard_gene_id']}}" target="_blank">GeneCards</a></span>
            <span *ngIf="geneInfoList['url_kegg_gene_id']" class="mlink">link to<a href="https://www.kegg.jp/dbget-bin/www_bget?ko:{{geneInfoList['url_kegg_gene_id']}}" target="_blank">KEGG</a></span>
            <span *ngIf="geneInfoList['url_mirbase_gene_id']" class="mlink">link to<a href=" http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={{geneInfoList['url_mirbase_gene_id']}}" target="_blank">miRBase</a></span>
          </p>
          <p *ngIf="geneInfoList['gene_symbol']">
            <span class="info_name">{{'gene_detail.gene_symbol' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_symbol']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_full_name']">
            <span class="info_name">{{'gene_detail.gene_full_name' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_full_name']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_other_symbol']">
            <span class="info_name">{{'gene_detail.gene_other_symbol' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_other_symbol']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['tf_family']">
            <span class="info_name">{{'gene_detail.tf_family' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['tf_family']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_chr']">
            <span class="info_name">{{'gene_detail.gene_chr' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_chr']}}<span *ngIf="geneInfoList['gene_start']">:</span>{{geneInfoList['gene_start']}}<span *ngIf="geneInfoList['gene_end']">-</span>{{geneInfoList['gene_end']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_map_loc']">
            <span class="info_name">{{'gene_detail.gene_map_loc' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_map_loc']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['genome_version']">
            <span class="info_name">{{'gene_detail.genome_version' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['genome_version']}}
            </span>
          </p>
          <button *ngIf="btn_show" style="margin-left: 20px;" nz-button [nzSize]="'small'" nzType="primary" (click)="btnShow()">{{'gene_detail.showGeneID' | translate}}</button>
          <button *ngIf="!btn_show" style="margin-left: 20px;" nz-button [nzSize]="'small'" nzType="primary" (click)="btnShow()">{{'gene_detail.noShowGeneID' | translate}}</button>
          <!-- 转录本信息 -->
          <div class="transcripts_table" *ngIf="!btn_show">
              <app-little-table [hidden]="!rna_flag" [targetID]="'rna_id'" [targetURL]="'https://www.ncbi.nlm.nih.gov/nuccore/'" [type]="'rna_type'" (drawTableEmit)="drawKEGGPathway($event)" [url]="defaultUrl" [pageEntity]="rna_params"></app-little-table>
          </div>
      </div>
      
      <!-- 样本表达量（FPKM） -->
      <div class="mgene_content" [hidden]="!expressive_g_flag && !expressive_t_flag && !line_flag && !line_flag2">
          <h4>{{'gene_detail.expressive_information' | translate}}</h4>
         
          <div class="transcripts_table" [hidden]="!expressive_g_flag && !expressive_t_flag">
              <h5>{{'gene_detail.sample_expression' | translate}}</h5>
              <nz-tabset [nzSelectedIndex]="expressive_index" (nzSelectedIndexChange)="SelectedExpressiveChange($event)">
                <nz-tab nzTitle="基因">
                    <app-little-table [hidden]="!expressive_g_flag" [type]="'FPKM_gene'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="expressive_defaultUrl" [pageEntity]="expressive_params_g"></app-little-table>
                </nz-tab>
                <nz-tab nzTitle="转录本">
                    <app-little-table [hidden]="!expressive_t_flag" [type]="'FPKM_trans'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="expressive_defaultUrl" [pageEntity]="expressive_params_t"></app-little-table>
                </nz-tab>
              </nz-tabset>
          </div>

          <!-- 折线图 -->
          <div class="transcripts_table" [hidden]="!line_flag">
              <h5>{{'gene_detail.expression_polygraph' | translate}}</h5>
              <div id="lineChartDiv" class="mlineChartDiv">
              </div>
          </div>

          <div class="transcripts_table" [hidden]="!line_flag2">
              <h5>{{'gene_detail.expression_polygraph' | translate}}</h5>
              <div id="lineChartDiv2" class="mlineChartDiv">
              </div>
          </div>
      </div>

      <!-- 差异表达 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.differential_expression' | translate}}</h4>
          <div class="transcripts_table" [hidden]="!groupDiff_params_g_flag && !groupDiff_params_t_flag"><!-- 组间差异  [nzSelectedIndex]="groupDiff_index" (nzSelectedIndexChange)="SelectedGroupDiffChange($event)"-->
              <h5>{{'gene_detail.group_differences' | translate}}</h5>
              <nz-tabset>
                  <nz-tab nzTitle="基因">
                      <app-little-table [hidden]="!groupDiff_params_g_flag" [type]="'diff_group_gene'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="groupDiff_defaultUrl" [pageEntity]="groupDiff_params_g"></app-little-table>
                  </nz-tab>
                  <nz-tab nzTitle="转录本">
                      <app-little-table [hidden]="!groupDiff_params_t_flag" [type]="'diff_group_trans'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="groupDiff_defaultUrl" [pageEntity]="groupDiff_params_t"></app-little-table>
                  </nz-tab>
              </nz-tabset>
          </div>
          
          <div class="transcripts_table" [hidden]="!sampleDiff_params_g_flag && !sampleDiff_params_t_flag"> <!-- 样本差异 [nzSelectedIndex]="sampleDiff_index" (nzSelectedIndexChange)="SelectedSampleDiffChange($event)"-->
            <h5>{{'gene_detail.sample_differences' | translate}}</h5>
            <nz-tabset>
                <nz-tab nzTitle="基因">
                    <app-little-table [hidden]="!sampleDiff_params_g_flag" [type]="'diff_sample_gene'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="sampleDiff_defaultUrl" [pageEntity]="sampleDiff_params_g"></app-little-table>
                </nz-tab>
                <nz-tab nzTitle="转录本">
                    <app-little-table [hidden]="!sampleDiff_params_t_flag" [type]="'diff_sample_trans'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="sampleDiff_defaultUrl" [pageEntity]="sampleDiff_params_t"></app-little-table>
                </nz-tab>
            </nz-tabset>
          </div>
      </div>

      <!-- 表达量信息 -->
      <div class="mgene_content" *ngIf="precursor_image">
        <h4>{{'gene_detail.miRNA_second_structure' | translate}}</h4>
        <div class="transcripts_table">
          <p>下图展示miRNA的二级截图和reads与前体（precursor）的比对情况，reads来自于公共数据，与本项目数据无关。</p>
          <img [src]="precursor_image" class="m_img" />
        </div>
      </div>
    
      <!-- 变异信息 -->
      <div class="mgene_content" [hidden]="!snp_flag && !indel_flag"> 
          <h4>{{'gene_detail.variation_information' | translate}}</h4>
          <div class="transcripts_table" [hidden]="!snp_flag">
              <h5>SNP</h5>
              <app-little-table [type]="'SNP'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="snp_defaultUrl" [pageEntity]="snp_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!indel_flag">
              <h5>InDel</h5>
              <app-little-table [type]="'INDEL'" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="indel_defaultUrl" [pageEntity]="indel_params"></app-little-table>
          </div>
      </div>

      <!-- 融合基因 -->
      <!-- <div class="mgene_content">
          <h4>{{'gene_detail.fusion_gene' | translate}}</h4>
          <div class="transcripts_table">

          </div>
      </div> -->

      <!-- 序列信息 -->
      <!-- <div class="mgene_content">
          <h4>{{'gene_detail.sequence_information' | translate}}</h4>
          <div class="transcripts_table">

          </div>
      </div> -->

      <!-- 功能注释信息 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.functional_annotation_information' | translate}}</h4>

          <div class="transcripts_table" [hidden]="!kegg_way_flag">
              <h5>KEGG Pathway</h5>
              <app-little-table [targetID]="'kegg_pathway_term_id'" [targetURL]="'https://www.kegg.jp/dbget-bin/www_bget?map'" [type]="kegg_pathway_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="kegg_way_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!kegg_reaction_flag">
              <h5>KEGG Reaction</h5>
              <app-little-table [targetID]="'kegg_reaction_term_id'" [targetURL]="'https://www.kegg.jp/dbget-bin/www_bget?rn:'" [type]="kegg_reaction_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="kegg_reaction_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!kegg_module_flag">
              <h5>KEGG Module</h5>
              <app-little-table [targetID]="'kegg_module_term_id'" [targetURL]="'https://www.kegg.jp/kegg-bin/show_module?'" [type]="kegg_module_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="kegg_module_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!kegg_disease_flag">
              <h5>KEGG Disease</h5>
              <app-little-table [targetID]="'kegg_disease_term_id'" [targetURL]="'https://www.kegg.jp/dbget-bin/www_bget?ds:'" [type]="kegg_disease_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="kegg_disease_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="go_f_flag">
              <h5>GO Molecular Function</h5>
                <div *ngFor="let item of go_f_list" >
                    <p class="table_title">{{item.level_1}}</p>
                    <div class="table_border table_srcoll">
                        <div *ngFor="let item_f of item['list']" class="goinfo">
                            <a href="http://amigo.geneontology.org/amigo/term/{{item_f.id}}" target="_blank">{{item_f.id}}</a>
                            &nbsp;
                            <span>{{item_f.desc}}</span>
                        </div>
                    </div>
                </div>
          </div>

          <div class="transcripts_table" [hidden]="go_c_flag">
              <h5>GO Cellular Component</h5>
              <div *ngFor="let item of go_c_list" >
                  <p class="table_title">{{item.level_1}}</p>
                  <div class="table_border table_srcoll">
                      <div *ngFor="let item_f of item['list']" class="goinfo">
                          <a href="http://amigo.geneontology.org/amigo/term/{{item_f.id}}" target="_blank">{{item_f.id}}</a>
                          &nbsp;
                          <span>{{item_f.desc}}</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="transcripts_table" [hidden]="go_b_flag">
              <h5>GO Biological Process</h5>
              <div *ngFor="let item of go_b_list" >
                  <p class="table_title">{{item.level_1}}</p>
                  <div class="table_border table_srcoll">
                      <div *ngFor="let item_f of item['list']" class="goinfo">
                          <a href="http://amigo.geneontology.org/amigo/term/{{item_f.id}}" target="_blank">{{item_f.id}}</a>
                          &nbsp;
                          <span>{{item_f.desc}}</span>
                      </div>
                  </div>
              </div>
          </div>

          <div class="transcripts_table" [hidden]="pfam_flag">
              <h5>Pfam</h5>
              <app-little-table [targetID]="'pfam_term_id'" [targetURL]="'http://pfam.xfam.org/family/'" [type]="pfam_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="pfam_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!reactome_flag">
              <h5>Reactome</h5>
              <app-little-table [targetID]="'reactome_term_id'" [targetURL]="'https://reactome.org/'" [type]="reactome_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="reactome_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!interpro_flag">
              <h5>InterPro</h5>
              <app-little-table [targetID]="'interpro_term_id'" [targetURL]="'https://www.ebi.ac.uk/interpro/entry/'" [type]="InterPro_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="interpro_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!cog_flag">
              <h5>COG</h5>
              <app-little-table [targetID]="'cog_term_id'" [targetURL]="'ftp://ftp.ncbi.nih.gov/pub/COG/COG2014/static/byCOG/'" [type]="cog_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="cog_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!eggnog_flag">
              <h5>EggNOG</h5>
              <app-little-table [targetID]="'eggnog_term_id'" [targetFlag] = "true" [targetURL]="'http://eggnogdb.embl.de/#/app/home'" [type]="eggnog_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="eggnog_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_h_flag">
              <h5>Msigdb_H</h5>
              <app-little-table [targetID]="'msigdb_h_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_H_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_h_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c1_flag">
              <h5>Msigdb C1</h5>
              <app-little-table [targetID]="'msigdb_c1_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C1_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c1_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c2_cgp_flag">
              <h5>MsigDB C2_CGP</h5>
              <app-little-table [targetID]="'msigdb_c2_cgp_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C2_CGP_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c2_cgp_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>
          <div class="transcripts_table" [hidden]="!msigdb_c2_cp_biocarta_flag">
              <h5>MsigDB C2_CP_BIOCARTA</h5>
              <app-little-table [targetID]="'msigdb_c2_cp_biocarta_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C2_CP_BIOCARTA_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c2_cp_biocarta_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_C2_CP_flag">
              <h5>MsigDB C2_CP</h5>
              <app-little-table [targetID]="'msigdb_c2_cp_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigDB_C2_CP_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_C2_CP_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>
          <div class="transcripts_table" [hidden]="!msigdb_c2_cp_kegg_flag">
              <h5>MsigDB C2_CP_KEGG</h5>
              <app-little-table [targetID]="'msigdb_c2_cp_kegg_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C2_CP_KEGG_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c2_cp_kegg_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c2_cp_reactome_flag">
              <h5>MsigDB C2_CP_REACTOME</h5>
              <app-little-table [targetID]="'msigdb_c2_cp_reactome_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C2_CP_REACTOME_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c2_cp_reactome_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>
          
          <div class="transcripts_table" [hidden]="!msigdb_c3_mir_flag">
              <h5>MsigDB C3_MIR</h5>
              <app-little-table [targetID]="'msigdb_c3_mir_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C3_MIR_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c3_mir_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>
          <div class="transcripts_table" [hidden]="!msigdb_c3_tft_flag">
              <h5>MsigDB C3_TFT</h5>
              <app-little-table [targetID]="'msigdb_c3_tft_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C3_TFT_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c3_tft_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c4_cgn_flag">
              <h5>MsigDB C4_CGN</h5>
              <app-little-table [targetID]="'msigdb_c4_cgn_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C4_CGN_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c4_cgn_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>
          <div class="transcripts_table" [hidden]="!msigdb_c4_cm_flag">
              <h5>MsigDB C4_CM</h5>
              <app-little-table [targetID]="'msigdb_c4_cm_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C4_CM_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c4_cm_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c5_bp_flag">
              <h5>MsigDB C5_BP</h5>
              <app-little-table [targetID]="'msigdb_c5_bp_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C5_BP_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c5_bp_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c5_cc_flag">
              <h5>MsigDB C5_CC</h5>
              <app-little-table [targetID]="'msigdb_c5_cc_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C5_CC_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c5_cc_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c5_mf_flag">
              <h5>MsigDB C5_MF</h5>
              <app-little-table [targetID]="'msigdb_c5_mf_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C5_MF_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c5_mf_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c6_flag">
              <h5>Msigdb C6</h5>
              <app-little-table [targetID]="'msigdb_c6_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C6_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c6_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_c7_flag">
              <h5>Msigdb C7</h5>
              <app-little-table [targetID]="'msigdb_c7_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_C7_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_c7_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_archived_c5_mf_flag">
              <h5>MsigDB ARCHIVED_C5_MF</h5>
              <app-little-table [targetID]="'msigdb_c5_mf_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_ARCHIVED_C5_MF_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_archived_c5_mf_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_archived_c5_c_flag">
              <h5>MsigDB ARCHIVED_C5_CC</h5>
              <app-little-table [targetID]="'msigdb_c5_cc_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_ARCHIVED_C5_CC_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_archived_c5_cc_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!msigdb_archived_c5_bp_flag">
              <h5>MsigDB ARCHIVED_C5_BP</h5>
              <app-little-table [targetID]="'msigdb_c5_bp_term_id'" [targetURL]="'http://software.broadinstitute.org/gsea/msigdb/cards/'" [type]="msigdb_ARCHIVED_C5_BP_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="msigdb_archived_c5_bp_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!tf_cofactors_flag">
              <h5>TF Cofactors</h5>
              <app-little-table [type]="tf_cofactors_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="tf_cofactors_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

          <div class="transcripts_table" [hidden]="!tf_flag">
              <h5>Transcription Factor</h5>
              <app-little-table [targetID]="'tf_term_id'" [targetFlag] = "true" [targetURL]="'http://bioinfo.life.hust.edu.cn/AnimalTFDB/#!/'" [type]="tf_parameter" (drawTableEmit)="drawKEGGPathway($event)" [inRefreshShow]="false" [url]="tf_url" [pageEntity]="go_molecular_params"></app-little-table>
          </div>

      </div>

      <!-- 文献信息 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.document_information' | translate}}</h4>
          <div class="transcripts_table table_border">
              <nz-spin [nzSpinning]="isSpinning" [nzSize]="'small'">
                <div *ngFor="let item of documentList; let i=index" style="margin-top:5px;">
                    <p>
                        <span>{{i + 1}}</span>.
                        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{item.PubMed_ID}}" target="_blank">{{item.ArticleTitle}}</a>
                    </p>
                    <p>{{item.Author}}&nbsp;{{item.ISOAbbreviation}}&nbsp;{{item.JournalIssuem}}&nbsp;PMID&nbsp;{{item.PubMed_ID}}&nbsp;{{item.PublishTime}}</p>
                </div>
              </nz-spin>
          </div>
          <button *ngIf="load_more_show" style="margin-left:20px;" nz-button [nzSize]="'small'" nzType="default" (click)="loadMore()">加载更多</button>
      </div>
    
    </div>
  </div>
</div>