<div class="add-column">
    <div class="add-head" *ngIf="thead.length">
        <button nz-button nzType="primary" (click)="toggleShow()"><i class="anticon" [ngClass]="show?' anticon-minus':' anticon-plus'"></i><span
                *ngIf="!show">{{'addThead.addButton' | translate}}</span><span *ngIf="show">{{'addThead.packUpButton' | translate}}</span></button>
        <div class="tag-wrap" *ngIf="show">
            <nz-tag class="tag" *ngFor="let d of selected;index as i;" [nzColor]="'#2db7f5'" nzMode="closeable" (nzOnClose)="closeTag(d)">{{d.name}}</nz-tag>
        </div>
    </div>
    <div *ngIf="show && thead.length" class="items">
        <nz-tabset>
            <nz-tab *ngFor="let item of thead;index as i" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <span class="add-thead-head-item">{{ item.category}}<b *ngIf="selectCount[i]">{{selectCount[i]}}</b></span>
                </ng-template>
                <span class="head-item" [ngClass]="{'active':head.checked}" *ngFor="let head of item.children" (click)="toggleSelect(head)">{{head.name}}</span>
            </nz-tab>
        </nz-tabset>
    </div>
    <div class="add-foot" *ngIf="show && thead.length">
        <button nz-button nzType="default" (click)="cancel()">{{'addThead.cancelButton' | translate}}</button>
        <button nz-button nzType="danger" (click)="clear()">{{'addThead.clearButton' | translate}}</button>
        <button nz-button nzType="primary" (click)="confirm()">{{'addThead.confirmButton' | translate}}</button>
    </div>

    <button *ngIf="!thead.length" nz-button nzType="primary">{{'addThead.noData' | translate}}</button>
</div>
