<div class="big-table-check-component" [id]="tableId">
    <nz-spin [nzSpinning]="isLoading" nzTip='Loading...'>
        <!-- table head -->
        <div class="table">

            <div class="table-thead tableHeader">
                <div class="fLeft">
                    <!-- 筛选 -->
                    <i class="anticon anticon-filter" [ngClass]="{'active':beginFilterStatus}" [nzTitle]="'tableButton.filter' | translate" nz-tooltip (click)="beginFilter()"></i>
                    <!-- 下拉框 -->
                    <ng-container *ngTemplateOutlet="selectTemplate ? selectTemplate: ''"></ng-container>
                    <!-- 其他下拉框 -->
                    <ng-container *ngTemplateOutlet="otherLeftTemplate ? otherLeftTemplate: ''"></ng-container>
                </div>
                <div class="fRight">
                    <button *ngIf="showConfirmButton" class="mr12" nz-button nzType="primary" nzSize="small" (click)="handleConfirmButton()">确定</button>
                    <!-- 刷新、下载 -->
                    <i class="iconfont icon-shuaxin" [nzTitle]="'tableButton.refresh' | translate" nz-tooltip (click)="refresh()"></i>
                    <app-grid-export *ngIf="!error" [url]="url" [tableEntity]="tableEntity" [fileName]="fileName"></app-grid-export>
                </div>
            </div>
            <div #tableFilter class="table-filter">
                <div class="table-top" *ngIf="rootHtmlString.length ">
                    <span class="filter-head">{{'rootFilterTitle'| translate}}：</span>
                    <span class="filter-item" *ngFor="let item of rootHtmlString">
                            <em [innerHTML]="item['html']"></em>
                            <i class="anticon anticon-close-circle" (click)="deleteRootFilterItem(item)"></i>
                        </span>
                </div>
                <div class="table-top" *ngIf="filterHtmlString.length ">
                    <span class="filter-head">{{'filterTitle' | translate}}：</span>
                    <span class="filter-item" *ngFor="let item of filterHtmlString">
                            <em [innerHTML]="item['html']"></em>
                            <i class="anticon anticon-close-circle" (click)="deleteFilterItem(item)"></i>
                        </span>
                </div>
            </div>
            <div class="table-content">
                <!-- [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getRemoteData()" (nzPageSizeChange)="getRemoteData(true)" x:head.length*150+'px'  [nzWidthConfig]="widthConfig"-->
                <nz-table *ngIf="dataSet.length && head.length && !error" #ajaxTable nzSize="small" [nzScroll]="scroll" [nzData]="dataSet" [nzFrontPagination]='false' [nzShowPagination]="false" [nzTotal]="total" nzBordered>
                    <thead>
                        <tr>
                            <!-- checkbox  nzShowRowSelection [nzSelections]="selectMenu"-->
                            <th nzLeft="0px" style="min-width:60px;" [attr.rowspan]="twoLevelHead.length?2:1" nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
                            <!-- 首列 [ngStyle]="{'min-width':widthConfig[1]}"-->
                            <th style="text-align: center;" [ngStyle]="{'min-width':widthConfig[1]}" [attr.colspan]="head[0]['colspan']" [attr.rowspan]="head[0]['rowspan']" [(nzSort)]="sortMap[head[0]['true_key']]" [nzShowSort]="head[0]['searchType']!='string'" [nzSortKey]="head[0]['true_key']"
                                (nzSortChange)="sort(head[0]['true_key'],$event)">
                                <span nzTitle="{{ 'tableHeader.'+((head[0]['hover'] || head[0]['hover']==0)?head[0]['hover']:'NA') | translate }}" nzPlacement="topCenter" nz-tooltip>{{head[0]['name']}}</span>
                                <!-- get app-filter child emit function <recive> <delete> -->
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="head[0]['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="head[0]['name']" [filterName]="head[0]['true_key']"></app-filter>
                            </th>
                            <!-- 其他列  [ngStyle]="{'min-width':widthConfig[i+2]}"-->
                            <th style="text-align: center;" [ngStyle]="{'min-width':widthConfig[i+2]}" [nzSortKey]="head[i+1]['true_key']" [(nzSort)]="sortMap[head[i+1]['true_key']]" (nzSortChange)="sort(head[i+1]['true_key'],$event)" [nzShowSort]="!head[i+1]['children'].length && head[i+1]['searchType']!='string'"
                                [attr.colspan]="h['colspan']" [attr.rowspan]="h['rowspan']" *ngFor="let h of head.slice(1);index as i;trackBy:identify">
                                <span nzTitle="{{ 'tableHeader.'+((head[i+1]['hover'] || head[i+1]['hover']==0)?head[i+1]['hover']:'NA') | translate }}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus && !h.children.length" [pid]="tableId" [searchType]="head[i+1]['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="head[i+1]['name']"
                                    [filterName]="head[i+1]['true_key']"></app-filter>
                            </th>
                        </tr>
                        <tr *ngIf="twoLevelHead.length">
                            <!-- 二级表头首列 -->
                            <th class="two-level-thead" style="text-align: center;" *ngFor="let h of twoLevelHead.slice(0,head[0].children.length);index as i;trackBy:identify" [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']"
                                (nzSortChange)="sort(h['true_key'],$event)">
                                <span nzTitle="{{ 'tableHeader.'+((h['hover'] || h['hover']==0)?h['hover']:'NA') | translate }}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="h['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']" [filterName]="h['true_key']"></app-filter>
                            </th>
                            <!-- 二级表头其他列 -->
                            <th style="text-align: center;" *ngFor="let h of twoLevelHead.slice(head[0].children.length);index as i;trackBy:identify" [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']" (nzSortChange)="sort(h['true_key'],$event)">
                                <span nzTitle="{{ 'tableHeader.'+((h['hover'] || h['hover']==0)?h['hover']:'NA') | translate }}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="h['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']" [filterName]="h['true_key']"></app-filter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of dataSet" style="text-align: center;">
                            <!-- checkbox -->
                            <td nzLeft="0px" style="min-width:60px;" nzShowCheckbox [(nzChecked)]="d.checked" (nzCheckedChange)="refreshStatus($event,d)"></td>
                            <!-- 首列的二级头表格数据  -->
                            <ng-container *ngFor="let two of (head[0].children.length?head[0].children:[head[0]]);index as i;trackBy:identity">
                                <!-- 有值 -->
                                <td *ngIf="d[two['true_key']] || d[two['true_key']]==0" [ngStyle]="{'min-width':widthConfig[1],'max-width':widthConfig[1]}"  [nzContent]="tpl" nzPlacement="right" nz-popover>
                                    <ng-template #tpl>
                                        <span [innerHTML]="d[two['true_key']] | tableSpecialTheadFilter : two['true_key']:two['searchType']:true:compareGroup:reanalysisId:tableEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                    </ng-template>
                                    <!-- 如果是string类型 可能会有特殊头 需要过滤  不是string 默认接number过滤  {{d[two['true_key']] | accuracyPipe : accuracy : two['searchType']}}-->
                                    <span [innerHTML]="d[two['true_key']] | tableSpecialTheadFilter : two['true_key']:two['searchType']:false:compareGroup:reanalysisId:tableEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                </td>
                                <!-- NA -->
                                <td *ngIf="!d[two['true_key']] && d[two['true_key']]!=0" [ngStyle]="{'min-width':widthConfig[1],'max-width':widthConfig[1]}">
                                    <span>NA</span>
                                </td>
                            </ng-container>
                            <!-- 其他列 -->
                            <ng-container *ngFor="let h of tbodyOutFirstCol;index as i;">
                                <!-- 正常值 -->
                                <td *ngIf="d[h['true_key']] || d[h['true_key']]==0" [ngStyle]="{'min-width':widthConfig[i+2],'max-width':widthConfig[i+2]}"  [nzContent]="tpl2" nzPlacement="right" nz-popover>
                                    <ng-template #tpl2>
                                        <span [innerHTML]="d[h['true_key']] | tableSpecialTheadFilter : h['true_key']:h['searchType']:true:compareGroup:reanalysisId:tableEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                    </ng-template>
                                    <!-- 如果是string类型 可能会有特殊头 需要过滤  不是string 默认接number过滤  {{(d[h['true_key']] || d[h['true_key']]==0)?(d[h['true_key']] | accuracyPipe : accuracy : h['searchType']):'NA' }}-->
                                    <span [innerHTML]="d[h['true_key']] | tableSpecialTheadFilter : h['true_key']:h['searchType']:false:compareGroup:reanalysisId:tableEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                </td>
                                <!-- NA -->
                                <td *ngIf="!d[h['true_key']] && d[h['true_key']]!=0">
                                    <span>NA</span>
                                </td>
                            </ng-container>
                        </tr>
                    </tbody>
                </nz-table>
                <app-error *ngIf="error" [error]="error"></app-error>
                <div #tableBottom class="table-bottom" *ngIf="!error">
                    <app-pagination style="float:left;" [(pageIndex)]="tableEntity['pageIndex']" [total]="total" [(pageSize)]="tableEntity['pageSize']" (pageIndexChange)="getRemoteData()" (pageSizeChange)="pageSizeChange()" [maxLimit]="1000">
                    </app-pagination>
                </div>
            </div>
        </div>
    </nz-spin>

</div>
