<nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [(nzVisible)]="isShowSetPanel" (nzVisibleChange)="setClick()">
    <i class="iconfont icon-shezhi" nz-tooltip nzTitle="设置" nz-dropdown></i>

    <div class="setPanel" nz-menu>
        <div class='rangeSet'>
               <nz-row>
                   <nz-col nzSpan='4' class="textCol">
                       <span>宽度</span>
                   </nz-col>
                    <nz-col nzSpan="10">
                        <nz-slider [nzMin]="200" [nzMax]="2000" [(ngModel)]="width"></nz-slider>
                    </nz-col>
                    <nz-col nzSpan="7">
                        <nz-input-number [nzMin]="200" [nzMax]="2000" [(ngModel)]="width"></nz-input-number>
                    </nz-col>
                    <nz-col nzSpan='3' class="textCol">
                        <span>像素</span>
                    </nz-col>
                </nz-row>
      
                <nz-row>
                    <nz-col nzSpan="4" class="textCol">
                        <span>高度</span>
                    </nz-col>
                    <nz-col nzSpan="10">
                        <nz-slider [nzMin]="200" [nzMax]="5000" [(ngModel)]="height"></nz-slider>
                    </nz-col>
                    <nz-col nzSpan="7">
                        <nz-input-number [nzMin]="200" [nzMax]="5000" [(ngModel)]="height"></nz-input-number>
                    </nz-col>
                    <nz-col nzSpan="3" class="textCol">
                        <span>像素</span>
                    </nz-col>
                </nz-row>

                <nz-row [hidden]="type && type === 'relation'" class="domainRange">
                    <nz-col nzSpan="6" class="textCol">
                        <span>图例值域</span>
                    </nz-col>
                    <nz-col nzSpan="17">
                        <nz-slider nzRange [nzStep]="(max<10) ? 0.1 : 1 " [nzMin]="min" [nzMax]="max" [(ngModel)]="rangeValue" (ngModelChange)="rangeValueChange()"></nz-slider>
                    </nz-col>
                </nz-row>

                <nz-row [hidden]="type && type === 'relation'">
                    <nz-col nzSpan="7" style="margin-left: 22.833333%;">
                        <nz-input-number [nzMin]="min" [nzMax]="max" [(ngModel)]="minValue" (ngModelChange)='minValueChange()'></nz-input-number>
                    </nz-col>
                    <nz-col nzSpan="7" style="margin-left: 18.666667%;">
                        <nz-input-number [nzMin]="min" [nzMax]="max" [(ngModel)]="maxValue" (ngModelChange)='maxValueChange()'></nz-input-number>
                    </nz-col>
                </nz-row>
                    
        </div>

        <div class="dataSet">
            <nz-row>
                <nz-col nzSpan="5" style="margin-top:5px">行名称</nz-col>
                <nz-col nzSpan="16">
                    <nz-select style="width: 216px;" [(ngModel)]="selectedGene">
                        <nz-option *ngFor="let gene of geneList" [nzLabel]="gene.name" [nzValue]="gene.key"></nz-option>
                    </nz-select>
                </nz-col>
            </nz-row>

            <nz-row [hidden]="type && type === 'relation'">
                <nz-col nzSpan="5" style="margin-top:3px">列聚类</nz-col>
                <nz-col nzSpan="10">
                    <nz-switch [(ngModel)]="isHorizontalCluster"></nz-switch>
                </nz-col>
            </nz-row>
            
            <nz-row>
                <nz-col nzSpan="6">分类设置</nz-col>
            </nz-row>

            <nz-row>
                <nz-col nzSpan="6" nzOffset="2">纵向分类：</nz-col>
                <nz-col class="center" nzSpan="2" nzOffset="2" nz-tooltip nzTitle="添加" (click)="addVclass()">
                        <i nz-icon class="anticon anticon-plus-circle" theme="outline"></i>
                </nz-col>
            </nz-row>
                
            <div *ngIf="verticalInfos.length">
                <nz-row class="center" *ngFor="let vertical of verticalInfos;let i=index">
                    <nz-col class="left textEllipsis" nzSpan="12" nzOffset="4" nz-tooltip [nzTitle]="vertical.name">
                        <span>{{vertical.name}}</span>
                    </nz-col>
                    <!-- <nz-col nzSpan="2" nzOffset="1" nz-tooltip nzTitle="修改" (click)="editVclass(i)">
                        <i nz-icon class="anticon anticon-edit" theme="outline"></i>
                    </nz-col> -->
                    <nz-col nzSpan="2" nzOffset="1" nz-tooltip nzTitle="删除" (click)="deleteVclass(i)">
                        <i nz-icon class="anticon anticon-close-circle" theme="outline"></i>
                    </nz-col>
                </nz-row>
            </div>

            <nz-row>
                <nz-col nzSpan="6" nzOffset="2">横向分类：</nz-col>
                <nz-col class="center" nzSpan="2" nzOffset="2" nz-tooltip nzTitle="添加" (click)="addHclass()">
                        <i nz-icon class="anticon anticon-plus-circle" theme="outline"></i>
                </nz-col>
            </nz-row>

            <div *ngIf="horizontalInfos.length">
                <nz-row class="center" *ngFor="let horizon of horizontalInfos;let i=index">
                    <nz-col class="left textEllipsis" nzSpan="12" nzOffset="4" nz-tooltip [nzTitle]="horizon.name">
                        <span>{{horizon.name}}</span>
                    </nz-col>
                    <!-- <nz-col nzSpan="2" nzOffset="1" nz-tooltip nzTitle="修改" (click)="editHclass(i)">
                        <i nz-icon class="anticon anticon-edit" theme="outline"></i>
                    </nz-col> -->
                    <nz-col nzSpan="2" nzOffset="1" nz-tooltip nzTitle="删除" (click)="deleteHclass(i)">
                        <i nz-icon class="anticon anticon-close-circle" theme="outline"></i>
                    </nz-col>
                </nz-row>
            </div>

        </div>

        <div class="setBtns right">
            <button nz-button nzType="default" (click)="setCance()">取消</button>&nbsp;
            <button nz-button nzType="primary" (click)="setConfirm()">确定</button>
        </div>
     </div>

     <!-- 纵向修改面板 -->
     <!-- <div class="addPanel" [hidden]='!isShowEditVertical'>
        <div class="addTitle">修改纵向分类</div>
        <div class="rationClassifyRow">
            <button (click)="editVBtnClick(item)" nz-button nzType="default" *ngFor="let item of verticalEditList">{{item.name}}</button>&nbsp;
        </div>
    </div> -->

     <!-- 横向修改面板 -->
     <!-- <div class="addPanel" [hidden]='!isShowEditHorizontal'>
        <div class="addTitle">修改纵向分类</div>
        <div class="rationClassifyRow">
            <button (click)="editHBtnClick(item)" nz-button nzType="default" *ngFor="let item of horizontalEditList">{{item.name}}</button>&nbsp;
        </div>
    </div> -->
     
</nz-dropdown>

<!-- 纵向添加面板 弹窗 -->
<nz-modal [(nzVisible)]="isShowAddVertical && verticalClassList.length" nzWidth="440" nzTitle="添加纵向分类" (nzOnCancel)="addVCance()" (nzOnOk)="addVConfirm()">
    <div class="items">
        <div *ngIf="!isVhasTitle">
            <div *ngFor="let item of verticalClassList;index as i">
                <div *ngFor="let it of item['children'];index as m;">
                    <button class="head-item" style="margin-right:10px;margin-bottom: 10px" nz-button nzSize="small" nzType="default" [class.btnActive]='d.isChecked' *ngFor="let d of it['children']" (click)="addVBtnClick(d)">{{d['name']}}
                    </button>
                </div>
            </div>
        </div>
        <nz-tabset *ngIf="isVhasTitle">
            <nz-tab *ngFor="let item of verticalClassList;index as i" [nzTitle]="titleTemplate">
                <ng-template #titleTemplate>
                    <span class="add-thead-head-item">{{ item['category'] | translate }}</span>
                </ng-template>
                <div class="head-item-content" *ngIf="item['children'].length" style="border-bottom:0">
                    <ng-container *ngFor="let it of item['children'];index as m;">
                        <p>
                            {{it['category'] | translate}}
                            <ng-container *ngIf="it['category'].startsWith(config['outerDataBaseIndex'])">
                                <button nz-button nzType="default" nzSize="small" (click)="addTreeThead(it)" >
                                    <i class="anticon anticon-plus"></i>
                                </button>
                                <nz-modal [(nzVisible)]="it['modalVisible']"  (nzOnCancel)="handleCancel(it)" (nzOnOk)="handleOk(it)">
                                    <ng-container *ngIf="it['category']===config['TCGA_KEY']">
                                        <app-new-tree [defaultExpandAll]="false" [(isLoading)]="isLoading" [reset]="it['modalVisible']" (composeTheadChange)="handlerSelectDataChange($event)" [treeData]="it['treeData']"></app-new-tree>
                                    </ng-container>
                                    <ng-container *ngIf="it['category']!==config['TCGA_KEY']">
                                        <app-tree [defaultExpandAll]="false" [reset]="it['modalVisible']" (composeTheadChange)="handlerSelectDataChange($event)" [treeData]="it['treeData']" [theadMap]="it['theadMap']">
                                        </app-tree>
                                    </ng-container>
                                </nz-modal>
                            </ng-container>
                        </p>
                        <ng-container *ngIf="it['children'].length">
                            <button class="head-item" nz-button nzSize="small" nzType="default" [class.btnActive]='d.isChecked' *ngFor="let d of it['children']" (click)="addVBtnClick(d)">{{d['name']}}</button>
                        </ng-container>
                    </ng-container>
                </div>
            </nz-tab>
        </nz-tabset>
    </div>
</nz-modal>

 <!-- 横向添加面板 弹窗-->
 <nz-modal [(nzVisible)]="isShowAddHorizontal && horizontalClassList.length" nzWidth="440" nzTitle="添加横向分类" (nzOnCancel)="addHCance()" (nzOnOk)="addHConfirm()">
        <div class="items">
            <div *ngIf="!isHhasTitle">
                <div *ngFor="let item of horizontalClassList;index as i">
                    <div *ngFor="let it of item['children'];index as m;">
                        <button class="head-item" style="margin-right:10px;margin-bottom: 10px" nz-button nzSize="small" nzType="default" [class.btnActive]='d.isChecked' *ngFor="let d of it['children']" (click)="addHBtnClick(d)">{{d['name']}}
                        </button>
                    </div>
                </div>
            </div>
            <nz-tabset *ngIf="isHhasTitle">
                <nz-tab *ngFor="let item of horizontalClassList;index as i" [nzTitle]="titleTemplate">
                    <ng-template #titleTemplate>
                        <span class="add-thead-head-item">{{ item['category'] | translate }}</span>
                    </ng-template>
                    <div class="head-item-content" *ngIf="item['children'].length" style="border-bottom:0">
                        <ng-container *ngFor="let it of item['children'];index as m;">
                            <p>
                                {{it['category'] | translate}}
                                <ng-container *ngIf="it['category'].startsWith(config['outerDataBaseIndex'])">
                                    <button nz-button nzType="default" nzSize="small" (click)="addTreeThead(it)" >
                                        <i class="anticon anticon-plus"></i>
                                    </button>
                                    <nz-modal [(nzVisible)]="it['modalVisible']"  (nzOnCancel)="handleCancel(it)" (nzOnOk)="handleOk(it)">
                                        <app-tree [defaultExpandAll]="true" [reset]="it['modalVisible']" (composeTheadChange)="handlerSelectDataChange($event)" [treeData]="it['treeData']" [theadMap]="it['theadMap']">
                                        </app-tree>
                                    </nz-modal>
                                </ng-container>
                            </p>
                            <ng-container *ngIf="it['children'].length">
                                <button class="head-item" nz-button nzSize="small" nzType="default" [class.btnActive]='d.isChecked' *ngFor="let d of it['children']" (click)="addHBtnClick(d)">{{d['name']}}</button>
                            </ng-container>
                        </ng-container>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
    </nz-modal>
    