<nz-dropdown nzTrigger="click" [nzClickHide]="false" [(nzVisible)]="visible">
    <i class="anticon anticon-filter" [ngClass]="{'active':filtering}" nz-dropdown></i>
    <div class="custom-filter-dropdown">
        <!-- select search type -->
        <div>
            <!--  ngModelChange="handlerSelectChange()" -->
            <nz-select style="width: 160px;" nzSize="default" [(ngModel)]="selectType" [nzAllowClear]="false"
                nzPlaceHolder="Choose" (ngModelChange)="selectChange()">
                <nz-option *ngIf="searchType==='string'" nzValue='regExp' nzLabel="{{'filterPanel.like' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='range' nzLabel="{{'filterPanel.range' | translate}}"></nz-option>
                <nz-option nzValue='equal' nzLabel="{{'filterPanel.equal' | translate}}"></nz-option>
                <nz-option nzValue='$ne' nzLabel="{{'filterPanel.ne' | translate}}"></nz-option>
                <nz-option nzValue='$in' nzLabel="{{'filterPanel.in'| translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$gt' nzLabel="{{'filterPanel.gt' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$lt' nzLabel="{{'filterPanel.lt' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$gte' nzLabel="{{'filterPanel.gte' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$lte' nzLabel="{{'filterPanel.lte' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$gteabs' nzLabel="{{'filterPanel.gteabs' | translate}}"></nz-option>
                <nz-option *ngIf="searchType!=='string'" nzValue='$gtabs' nzLabel="{{'filterPanel.gtabs' | translate}}"></nz-option>
            </nz-select>
        </div>
        <div class="form">
            <input *ngIf="searchType==='string' && selectType==='regExp'" type="text" nz-input placeholder="like"
                nzSize="default" (input)="oninput()" [(ngModel)]="filter.regExp">
            <input *ngIf="searchType!=='string' && selectType==='range'" type="number" nz-input placeholder="rangeA"
                nzSize="default" (input)="oninput()" [(ngModel)]="filter.rangeA">
            <input style="margin-top:6px;" *ngIf="searchType!=='string' && selectType==='range'" type="number" nz-input placeholder="rangeB"
                nzSize="default" (input)="oninput()" [(ngModel)]="filter.rangeB">
            <input *ngIf="selectType==='equal'" type="text" nz-input placeholder="equal" nzSize="default" (input)="oninput()" [(ngModel)]="filter.equal">
            <input *ngIf="selectType==='$ne'" type="text" nz-input placeholder="unequal" nzSize="default" (input)="oninput()" [(ngModel)]="filter.unequal">
            <textarea *ngIf="selectType==='$in'" type="text" nz-input placeholder="in" nzSize="default" (input)="oninput()" [(ngModel)]="filter.in"></textarea>
            <input *ngIf="searchType!=='string' && selectType==='$gt'" type="number" nz-input placeholder="gt" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.gt">
            <input *ngIf="searchType!=='string' && selectType==='$lt'" type="number" nz-input placeholder="lt" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.lt">
            <input *ngIf="searchType!=='string' && selectType==='$gte'" type="number" nz-input placeholder="egt" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.gte">
            <input *ngIf="searchType!=='string' && selectType==='$lte'" type="number" nz-input placeholder="elt" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.lte">
            <input *ngIf="searchType!=='string' && selectType==='$gteabs'" type="number" nz-input placeholder="gteabs" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.gteabs">
            <input *ngIf="searchType!=='string' && selectType==='$gtabs'" type="number" nz-input placeholder="gtabs" nzSize="default" (input)="oninput()"
                [(ngModel)]="filter.gtabs">
        </div>
        <nz-alert *ngIf="nodata" nzType="error" [nzMessage]="'filterPanel.error' | translate"></nz-alert>
        <!-- 交并集选择 -->
        <div>
            <nz-radio-group [(ngModel)]="radioValue">
                <label nz-radio nzValue="inter">{{'filterPanel.interText' | translate}}</label>
                <label nz-radio nzValue="union">{{'filterPanel.unionText' | translate}}</label>
            </nz-radio-group>
        </div>
        <!-- button group -->
        <div class="btn-group">
            <button nz-button nzType="primary" nzSize="small" (click)="confirm()">{{'filterPanel.confirmButtonText'|
                translate}}</button>
            <button nz-button nzType="default" nzSize="small" (click)="clear()">{{'filterPanel.clearButtonText' |
                translate}}</button>
            <button nz-button nzType="default" nzSize="small" (click)="close()">{{'filterPanel.closeButtonText' |
                translate}}</button>
        </div>
    </div>
</nz-dropdown>

