<div #geneTable class="gene-table-component" [id]="tableId">
    <nz-spin [nzSpinning]="isLoading" nzTip='Loading...'>
        <!-- demo -->
        <!-- <button nz-button nzType="default" (click)="sort('email','descend')">{{'sortEmail' | translate}}</button> -->
        <!-- 外部筛选 -->
        <!-- 外部筛选：
    <button nz-button nzType="default" (click)="_filter('tf_query_id2','Gene ID2','equal','2',null,'union')">Gene ID2 equal 2 (union)</button>
    <button nz-button nzType="default" (click)="_filter('tf_query_id','Gene ID','regExp','10',null,'inter')">Gene ID like 10 (inter)</button>
    <br>
    增删列：
    <button nz-button nzType="default" (click)="add1()">add => name age</button>
    <button nz-button nzType="default" (click)="add2()">add => age name</button>
    <button nz-button nzType="default" (click)="add3()">add => age</button>
    <button nz-button nzType="default" (click)="add4()">add => name</button>
    <br> 一级筛选：
    <button nz-button nzType="default" (click)="_rootFilter('tf_query_id2','Gene ID2','filter','introduce',null)">Gendid2 introduce
    </button>
    <br> 保存基因集：
    <button nz-button nzType="default">保存基因集</button>


    <hr>选中
    <em *ngFor="let item of checked">{{item}}&emsp;</em>
    <hr>未选中
    <em *ngFor="let item of unChecked">{{item}}&emsp;</em> -->
        <!-- table head -->
        <div class="gene-table">
            <div #tableHeader class="table-thead tableHeader">
                <div class="fLeft">
                    <!-- 筛选 -->
                    <i class="anticon anticon-filter" [ngClass]="{'active':beginFilterStatus}" [nzTitle]="'tableButton.filter' | translate"
                        nz-tooltip (click)="beginFilter()"></i>
                        <!-- 匹配所有基因 按钮 -->
                    <!-- <button *ngIf="!tableEntity['matchAll'] && tableType=='transform' && !error && matchAll " (click)="matchAllFn()" nz-button nzType="primary" nzSize="small">查看所有基因</button> -->
                    <!-- 下拉框 -->
                    <!-- <nz-select style="width: 180px;margin-left: 10px" [(ngModel)]="singleValue" [nzSize]="'small'" nzShowSearch>
                        <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                    </nz-select> -->
                    <ng-container *ngTemplateOutlet="selectItems ? selectItems: ''"></ng-container>
                </div>
                <div class="fRight">
                    <!-- 精度 -->
                    <!-- <nz-select style="width: 180px;margin-right: 10px" [(ngModel)]="accuracy" [nzSize]="'small'">
                        <nz-option [nzLabel]="'accuracy.toFixedOne' | translate" [nzValue]="1"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedTwo' | translate" [nzValue]="2"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedThree' | translate" [nzValue]="3"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedFour' | translate" [nzValue]="4"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedFive' | translate" [nzValue]="5"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedSix' | translate" [nzValue]="6"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedSeven' | translate" [nzValue]="7"></nz-option>
                        <nz-option [nzLabel]="'accuracy.toFixedAll' | translate" [nzValue]="-1"></nz-option>
                    </nz-select> -->
                    <!-- 保存基因集 -->
                    <i *ngIf="!error" class="iconfont icon-baocunjiyin" [nzTitle]="'tableButton.saveGene' | translate" nz-tooltip (click)="saveGeneList()">
                        <nz-modal [(nzVisible)]="isSaveGeneList" [nzTitle]="'saveGene.title' | translate" [nzOkText]="'saveGene.confirm'| translate" [nzCancelText]="'saveGene.cancel' | translate" (nzOnOk)="handleSaveGeneConfirm()" (nzOnCancel)="handleSaveGeneCancel()" >
                            <form nz-form [formGroup]="validateForm">
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">{{'saveGene.name' | translate}}</nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" [nzValidateStatus]="validateForm.controls['name']">
                                        <input nz-input formControlName="name" id="name">
                                        <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
                                            <!-- required -->
                                            <ng-container *ngIf="validateForm.get('name').errors.required">{{'saveGene.name_invalid' | translate}}</ng-container>
                                            <!-- maxlength -->
                                            <ng-container *ngIf="validateForm.get('name').errors.pattern">{{'saveGene.name_pattern' | translate}}</ng-container>
                                        </nz-form-explain>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="label">{{'saveGene.tag' | translate}}</nz-form-label>
                                    <nz-form-control [class.has-error]="labelSelectError" [nzSm]="14" [nzXs]="24">
                                        <nz-select [(nzOpen)]="openSelect" id="label" nzMode="tags" (ngModelChange)="handleSelectChange()" formControlName="label" nzPlaceHolder="tags">
                                            <nz-option  *ngFor="let label of labels"  [nzLabel]="label" [nzValue]="label">
                                            </nz-option>
                                        </nz-select>
                                        <nz-form-explain *ngIf="labelSelectError">{{delSelect[0]}} &emsp;{{'saveGene.label_invalid' | translate}}</nz-form-explain>
                                    </nz-form-control>
                                </nz-form-item>
                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mark"> {{'saveGene.remark' | translate}}</nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24">
                                        <div class="counter-content">
                                            <textarea rows="4" nz-input (keyup)="handleTextKeyUp($event)" formControlName="mark" id="mark"></textarea>
                                            <span>{{validateForm.value['mark'].length}}/{{textareaMaxLen}}</span>
                                        </div>
                                    </nz-form-control>
                                </nz-form-item>
                              </form>
                        </nz-modal>
                    </i>
                    <!-- 刷新、下载 -->
                    <i class="iconfont icon-shuaxin" [nzTitle]="'tableButton.refresh' | translate" nz-tooltip (click)="refresh()"></i>
                    <app-grid-export *ngIf="!error" [url]="url" [tableEntity]="tableEntity" [fileName]="fileName"></app-grid-export>
                </div>
            </div>

            <!-- root filter items -->
            <div #tableFilter class="table-filter">
                <div class="table-top" *ngIf="rootHtmlString.length">
                    <span class="filter-head">{{'rootFilterTitle'| translate}}：</span>
                    <span class="filter-item" (click)="deleteRootFilterItem(item)" *ngFor="let item of rootHtmlString"
                        [innerHTML]="item['html']"></span>
                </div>
                <div class="table-top" *ngIf="filterHtmlString.length">
                    <span class="filter-head">{{'filterTitle' | translate}}：</span>
                    <span class="filter-item" (click)="deleteFilterItem(item)" *ngFor="let item of filterHtmlString"
                        [innerHTML]="item['html']"></span>
                </div>
                <!-- 交集 interSearchConditionList -->
                <!-- <div class="table-top" *ngIf="interConditionHtmlString.length">
                    <span class="filter-head">{{'interFilterTitle' | translate}}：</span>
                    <span class="filter-item" (click)="deleteFilterItem(item)" *ngFor="let item of interConditionHtmlString"
                        [innerHTML]="item['html']"></span>
                </div> -->
                <!-- 并集 unionSearchConditionList  -->
                <!-- <div class="table-top" *ngIf="unionConditionHtmlStirng.length">
                    <span class="filter-head">{{'unionFilterTitle' | translate}}：</span>
                    <span class="filter-item" (click)="deleteFilterItem(item)" *ngFor="let item of unionConditionHtmlStirng"
                        [innerHTML]="item['html']"></span>
                </div> -->
            </div>
            <div class="table-content">
                <!-- [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="getRemoteData()" (nzPageSizeChange)="getRemoteData(true)" x:head.length*150+'px'-->
                <nz-table *ngIf="dataSet.length && head.length && !error" #ajaxTable nzSize="small" [nzScroll]="scroll"
                    [nzData]="dataSet" [nzFrontPagination]='false' [nzShowPagination]="false" [nzTotal]="total"
                    nzBordered [nzWidthConfig]="widthConfig">
                    <thead #thead>
                        <tr>
                            <!-- checkbox -->
                            <th nzLeft="0px" style="min-width:60px;" [attr.rowspan]="twoLevelHead.length?2:1" nzShowCheckbox nzShowRowSelection
                                [nzSelections]="selectMenu" [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate"
                                (nzCheckedChange)="checkAll($event)"></th>
                            <!-- 首列 -->
                            <th style="text-align: center;" [attr.colspan]="head[0]['colspan']" [attr.rowspan]="head[0]['rowspan']"
                                [nzLeft]="colLeftConfig[0]" [(nzSort)]="sortMap[head[0]['true_key']]" [nzShowSort]="head[0]['searchType']!='string'"
                                [nzSortKey]="head[0]['true_key']" (nzSortChange)="sort(head[0]['true_key'],$event)">
                                <span [nzTitle]="(head[0]['hover'] || head[0]['hover']==0)?head[0]['hover']:'NA'" nzPlacement="topCenter" nz-tooltip>{{head[0]['name']}}</span>
                                <!-- get app-filter child emit function <recive> <delete> -->
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="head[0]['searchType']"
                                    (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="head[0]['name']"
                                    [filterName]="head[0]['true_key']"></app-filter>
                            </th>
                            <!-- 其他列 -->
                            <th style="text-align: center;" [nzSortKey]="head[i+1]['true_key']" [(nzSort)]="sortMap[head[i+1]['true_key']]"
                                (nzSortChange)="sort(head[i+1]['true_key'],$event)" [nzShowSort]="!head[i+1]['children'].length && head[i+1]['searchType']!='string'"
                                [attr.colspan]="h['colspan']" [attr.rowspan]="h['rowspan']" *ngFor="let h of head.slice(1);index as i;trackBy:identify">
                                <span [nzTitle]="(head[i+1]['hover'] || head[i+1]['hover']==0)?head[i+1]['hover']:'NA'" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus && !h.children.length" [pid]="tableId"
                                    [searchType]="head[i+1]['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)"
                                    [filterNamezh]="head[i+1]['name']" [filterName]="head[i+1]['true_key']"></app-filter>
                            </th>
                        </tr>
                        <tr ng-if="twoLevelHead.length">
                            <!-- 二级表头首列 -->
                            <th class="two-level-thead" style="text-align: center;" *ngFor="let h of twoLevelHead.slice(0,head[0].children.length);index as i;trackBy:identify"
                                [nzLeft]="colLeftConfig[i]" [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']"
                                (nzSortChange)="sort(h['true_key'],$event)">
                                <span [nzTitle]="(h['hover'] || h['hover']==0)?h['hover']:'NA'" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="h['searchType']"
                                    (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']"
                                    [filterName]="h['true_key']"></app-filter>
                            </th>
                            <!-- 二级表头其他列 -->
                            <th style="text-align: center;" *ngFor="let h of twoLevelHead.slice(head[0].children.length);index as i;trackBy:identify"
                                [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']"
                                (nzSortChange)="sort(h['true_key'],$event)">
                                <span [nzTitle]="(h['hover'] || h['hover']==0)?h['hover']:'NA'" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                <app-filter #child *ngIf="beginFilterStatus" [pid]="tableId" [searchType]="h['searchType']"
                                    (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']"
                                    [filterName]="h['true_key']"></app-filter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let d of dataSet" style="text-align: center;">
                            <!-- checkbox -->
                            <td nzLeft="0px" style="min-width:60px;" nzShowCheckbox [(nzChecked)]="d.checked" (nzCheckedChange)="refreshStatus($event,d)"></td>
                            <!-- 首列的二级头表格数据 -->
                            <td *ngFor="let two of (head[0].children.length?head[0].children:[head[0]]);index as i;trackBy:identity"
                                [nzLeft]="colLeftConfig[i]"
                                [nzContent]="(d[two['true_key']]+'')?(d[two['true_key']]| accuracyPipe : accuracy : two['searchType']):'NA'" nzPlacement="right" nz-popover>
                                {{d[two['true_key']] | accuracyPipe : accuracy : two['searchType']}}
                            </td>
                            <!-- 其他列  (| accuracyPipe : accuracy : h['searchType'])-->
                            <td *ngFor="let h of tbodyOutFirstCol"
                            [nzContent]="(d[h['true_key']] || d[h['true_key']]==0)?d[h['true_key']]:'NA' " nzPlacement="right" nz-popover>
                                {{(d[h['true_key']] || d[h['true_key']]==0)?(d[h['true_key']] | accuracyPipe : accuracy : h['searchType']):'NA' }}
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <app-error *ngIf="error" [error]="error"></app-error>
                <div #tableBottom class="table-bottom" *ngIf="!error">
                    <app-pagination style="float:left;" [(pageIndex)]="tableEntity['pageIndex']" [total]="total"
                        [(pageSize)]="tableEntity['pageSize']" (pageIndexChange)="getRemoteData()" (pageSizeChange)="pageSizeChange()"
                        [maxLimit]="1000">
                    </app-pagination>
                    <!-- 分析按钮 -->
                    <div class="table-analysis-button green" (click)="analysis()" [class.invaild]="!checked.length" [class.active]="checked.length" style="float:right;">
                        <b>{{'tableButton.analysis' | translate}}</b>
                        <span>{{checkStatus?(total - unChecked.length):checked.length}}</span>
                    </div>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
