<div class="relative-component" style="display:inline-block;">
    <button class="relative-btn" nz-button nzType="Default" [disabled]="disabled" (click)="showRelationModal()">{{'relativeButton' | translate}}</button>

    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
        <ng-template #modalTitle>
            Interaction
        </ng-template>

        <ng-template #modalContent>
            <nz-select [nzDropdownMatchSelectWidth]='false' nz-tooltip [nzTitle]='selectedType' class="mb12" style="min-width:160px" [(ngModel)]="selectedType" (ngModelChange)="selectChange()">
                <nz-option *ngFor="let type of selectType" [nzValue]="type" [nzLabel]="type"></nz-option>
            </nz-select>
            <div class="relative-params-top" *ngIf="selectedType===selectType[0]">
                <p *ngIf="currentTableRelative.length">当前表格中的关系：<span class="mr12" *ngFor="let re of currentTableRelative;index as i;">{{re}}</span></p>
                <!-- [class.active-disabled]="currentTableRelative.includes(relation['name'])" -->
                <button style="margin-right: 8px;" [hidden]="(geneType!=='gene' && relation['key']=='ggi') || (geneType!=='rna' && relation['key']=='rnaplex')" [class.btnActive]="relation['checked'] && !relations['disabled']" *ngFor="let relation of relations;index as i;" [nzSize]="middle" nz-button nzType="Default" [disabled]="relation['disabled']" (click)="select(relation)">{{relation['name']}}</button>
            </div>
            <div class="relative-params-content">
                <!-- 功能关系 -->
                <ng-container *ngIf="selectedType===selectType[0]">
                    <ng-container *ngFor="let relation of relations;index as i;">
                        <div [hidden]="!relation['checked']">
                            <nz-divider [nzText]="relation['name']" nzOrientation="left"></nz-divider>
                            <!-- min score -->
                            <nz-row>
                                <nz-col nzSpan="4" *ngIf="relation['key']!=='rnaplex'">min score</nz-col>
                                <nz-col nzSpan="4" *ngIf="relation['key']==='rnaplex'">max score</nz-col>
                                <nz-col nzSpan="10">
                                    <nz-slider [nzDisabled]="relation['disabled']" [nzStep]="(relation['score'][1] - relation['score'][0]) > 10 || relation['key']=='target' ? 1 : 0.1" [nzMin]="relation['score'][0]" [nzMax]="relation['score'][1]" [(ngModel)]="relation['score'][2]"></nz-slider>
                                </nz-col>
                                <nz-col nzSpan="1"></nz-col>
                                <nz-col nzSpan="1">
                                    <nz-input-number [nzDisabled]="relation['disabled']" [nzMin]="relation['score'][0]" [nzMax]="relation['score'][1]" [nzPrecision]="relation['key']==='target' ? 0 : ''" [(ngModel)]="relation['score'][2]"></nz-input-number>
                                </nz-col>
                            </nz-row>
                            <!-- max num -->
                            <nz-row>
                                <nz-col nzSpan="4">max num</nz-col>
                                <nz-col nzSpan="10">
                                    <nz-row>
                                        <nz-col>
                                            <nz-radio-group [nzDisabled]="relation['disabled']" [(ngModel)]="relation['limit']">
                                                <label nz-radio [nzValue]="true">limit</label>
                                                <label nz-radio [nzValue]="false">no limit</label>
                                            </nz-radio-group>
                                        </nz-col>
                                    </nz-row>
                                    <nz-row>
                                        <nz-col nzSpan="20">
                                            <nz-slider [nzDisabled]="relation['disabled']" [nzStep]="(relation['max'][1] - relation['max'][0]) > 10?1:0.1" [nzMin]="relation['max'][0]" [nzMax]="relation['max'][1]" [(ngModel)]="relation['max'][2]" [nzDisabled]="!relation['limit']"></nz-slider>
                                        </nz-col>
                                        <nz-col nzSpan="1"></nz-col>
                                        <nz-col nzSpan="1">
                                            <nz-input-number [nzDisabled]="relation['disabled']" [nzStep]="(relation['max'][1] - relation['max'][0]) > 10?1:0.1" [nzMin]="relation['max'][0]" [nzDisabled]="!relation['limit']" [nzMax]="relation['max'][1]" [(ngModel)]="relation['max'][2]"></nz-input-number>
                                        </nz-col>
                                    </nz-row>
                                </nz-col>
                            </nz-row>
                        </div>
                    </ng-container>
                </ng-container>
                <!-- 位置关系 -->
                <ng-container *ngIf="selectedType===selectType[1]">
                    <div style="overflow: hidden;">
                        <p>上下游参数选择</p>
                        <nz-row class="mb12">
                            <nz-col nzSpan="2"></nz-col>
                            <nz-col nzSpan="2">上游</nz-col>
                            <nz-col nzSpan="10">
                                <nz-slider [nzMin]="PosRange[0]" [nzStep]="(PosRange[1] - PosRange[0]) > 10?1:0.1" [nzMax]="PosRange[1]" [(ngModel)]="posRelative['up']"></nz-slider>
                            </nz-col>
                            <nz-col nzSpan="1"></nz-col>
                            <nz-col nzSpan="5">
                                <nz-input-number [nzMin]="PosRange[0]" [nzMax]="PosRange[1]" [nzStep]="(PosRange[1] - PosRange[0]) > 10?1:0.1" [(ngModel)]="posRelative['up']"></nz-input-number>
                            </nz-col>
                            <nz-col nzSpan="1">
                                <span>{{unit}}</span>
                            </nz-col>
                        </nz-row>
                        <nz-row class="mb12">
                            <nz-col nzSpan="2"></nz-col>
                            <nz-col nzSpan="2">下游</nz-col>
                            <nz-col nzSpan="10">
                                <nz-slider [nzMin]="PosRange[0]" [nzMax]="PosRange[1]" [nzStep]="(PosRange[1] - PosRange[0]) > 10?1:0.1" [(ngModel)]="posRelative['down']"></nz-slider>
                            </nz-col>
                            <nz-col nzSpan="1"></nz-col>
                            <nz-col nzSpan="5">
                                <nz-input-number [nzMin]="PosRange[0]" [nzMax]="PosRange[1]" [nzStep]="(PosRange[1] - PosRange[0]) > 10?1:0.1" [(ngModel)]="posRelative['down']"></nz-input-number>
                            </nz-col>
                            <nz-col nzSpan="1">
                                <span>{{unit}}</span>
                            </nz-col>
                        </nz-row>
                        <nz-row>
                            <nz-col nzSpan="2"></nz-col>
                            <nz-col nzSpan="2">链</nz-col>
                            <nz-col nzSpan="10">
                                <label nz-radio [(ngModel)]="posRelative['slink']" (click)="posRelative['slink'] = !posRelative['slink']">正义链</label>
                                <label nz-radio [(ngModel)]="posRelative['alink']" (click)="posRelative['alink'] = !posRelative['alink']">反义链</label>
                            </nz-col>
                        </nz-row>
                        <nz-alert class="mt12" *ngIf="selectedType==selectType[1] && geneCount>targetGeneLimit" nzType="warning" nzMessage="基因数量不能超过{{targetGeneLimit}}个，当前选择{{geneCount}}" nzShowIcon></nz-alert>
                    </div>
                </ng-container>
            </div>
        </ng-template>

        <ng-template #modalFooter>
            <button nz-button nzType="default" (click)="handleCancel()">取消</button>
            <button nz-button nzType="primary" [disabled]="!selectRelations.length || (selectedType==selectType[1] && geneCount>targetGeneLimit)" (click)="confirm()">确定</button>
        </ng-template>
    </nz-modal>
</div>
