<div class="little-table">
    <nz-spin [nzSpinning]="isLoading" nzTip='Loading...'>
        <ng-template #titleTemplate>
            <div class="table-thead">
                <div class="fRight">
                    <i class="iconfont icon-shuaxin" (click)="refresh()" *ngIf="inRefreshShow"></i>
                    <!-- <i class="anticon anticon-download"></i> -->
                    <i class="iconfont icon-xiazai" (click)="down()"></i>
                </div>
            </div>
        </ng-template>
        <nz-table *ngIf="!tableError" [nzData]="tableData['rows']" [nzScroll]="{x:'100%'}" nzShowPagination="false" [nzSize]="'small'" [nzTitle]="titleTemplate">
            <thead>
                <tr>
                    <th style="text-align: center;min-width:120px;"  *ngFor="let thead of tableData['baseThead'];index as i">{{thead.name}}</th>
                </tr>
            </thead>
            <!-- min-width:160px;max-width: 160px; -->
            <tbody>
                <tr *ngFor="let row of tableData['rows'];index as idx">
                    <td style="text-align: center;min-width:120px;text-align: center;" *ngFor="let thead of tableData['baseThead']">{{row[thead.true_key]}}</td>
                </tr>
            </tbody>
        </nz-table>
    </nz-spin>
</div>