<nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'">
    <i class="anticon anticon-setting" nz-tooltip nzTitle="设置" (click)="setClick()" nz-dropdown></i>

    <div class="setPanel" nz-menu>
        <div class="center setPanelTitle">定量信息选择</div>

        <div class="infoContent" *ngIf="infoList.length">
            <span class="infoTitle center">关联基因</span>
            <span class="infoTitle center">定量列</span>
            <div class="infoContent" *ngFor="let info of infoList;let i=index">
                <div class="infoCol">
                    <nz-select style="width: 100px;margin-left: 10px" [(ngModel)]="info.relation" [nzSize]="'small'" (ngModelChange)="relationChange()" nzShowSearch>
                        <nz-option [nzDisabled]='relation.isDisabled' *ngFor="let relation of relationList" [nzLabel]="relation.name" [nzValue]="relation.name"></nz-option>
                    </nz-select>
                </div>
                <div class="infoCol">
                    <span>{{info.rationCol}}</span>
                </div>
                <div class="infoCol">
                    <i nz-icon class="anticon anticon-form" theme="outline" nz-tooltip nzTitle="修改" (click)="updateInfo(info)"></i>
                </div>
                <div class="infoCol">
                    <i nz-icon class="anticon anticon-close" theme="outline" nz-tooltip nzTitle="删除" (click)="deleteInfo(i)"></i>
                </div>
            </div>
        </div>

        <div class="center addInfo">
            <button nz-button nzType="default" (click)="addInfo()"><i nz-icon class="anticon anticon-plus" theme="outline"></i>添加定量信息</button>
        </div>

        <div class="setBtns right">
            <button nz-button nzType="primary" (click)="rationInfoConfirm()">确定</button>&nbsp;
            <button nz-button nzType="default" (click)="rationInfoCance()">取消</button>
        </div>
    </div>

    <!-- 添加定量信息面板 -->
    <div class="rationClassify" *ngIf="isShowAddPanel && rationClassifyList.length">
        <div class="rationClassifyRow">
            <span>定量类型：</span>
            <nz-select style="width: 180px;margin-left: 10px" [(ngModel)]="curRationClassify" [nzSize]="'small'" (ngModelChange)="rationClassifyChange()" nzShowSearch>
                <nz-option *ngFor="let ration of rationClassifyList" [nzLabel]="ration?.name" [nzValue]="ration?.name"></nz-option>
            </nz-select>
        </div>
        <div class="rationClassifyRow">
            <span>定量列：</span>
            <button (click)="rationColSelect(item)" style="margin-right:5px;margin-bottom:5px " nz-button nzType="default" *ngFor="let item of rations">{{item}}</button>&nbsp;
        </div>
        <div class="setBtns right">
            <button nz-button nzType="primary" (click)="rationColConfirm()">确定</button>&nbsp;
            <button nz-button nzType="default" (click)="rationColCance()">取消</button>
        </div>
    </div>

    <!-- 修改面板 -->
    <div class="rationClassify" *ngIf="isShowUpdatePanel && rationClassifyList.length">
        <div class="rationClassifyRow">
            <span>定量类型：</span>
            <nz-select style="width: 180px;margin-left: 10px" [(ngModel)]="curUpdateClassify" [nzSize]="'small'" (ngModelChange)="updateClassifyChange()" nzShowSearch>
                <nz-option *ngFor="let ration of rationClassifyList" [nzLabel]="ration?.name" [nzValue]="ration?.name"></nz-option>
            </nz-select>
        </div>
        <div class="rationClassifyRow">
            <span>定量列：</span>
            <button (click)="updateRationColSelect(item)" style="margin-right:5px;margin-bottom:5px " nz-button nzType="default" *ngFor="let item of rationList">{{item}}</button>&nbsp;
        </div>
    </div>

</nz-dropdown>