<ng-template #headerTemplate>
    <div class="table-thead tableHeader">
        <div class="fLeft">
            <!-- 图表切换按钮 -->
            <button nz-button [class.btnActive]="!isShowTable" [nzSize]="'small'" nzType="default" (click)="chartBtnClick()" nz-tooltip nzTitle="{{'view.s_view' | translate}}">
                <i class="anticon anticon-area-chart"></i>
            </button>
            <button *ngIf="tableUrl" nz-button [class.btnActive]="isShowTable" [nzSize]="'small'" nzType="default" (click)="tableBtnClick()" nz-tooltip nzTitle="{{'view.t_view' | translate}}">
                <i class="anticon anticon-table"></i>
            </button>
            <!-- 表筛选 -->
            <i style='margin:0;margin-left:10px;' *ngIf="isFilter && isShowTable" class="anticon anticon-filter" [ngClass]="{'active':beginFilterStatus}" [nzTitle]="'tableButton.filter' | translate" nz-tooltip (click)="beginFilter()"></i>
            <!-- 选择面板 显示隐藏icon -->
            <span *ngIf="isHasSelectPanel && selectPanelList.length" style="margin-left:10px" (click)='showSelectPanel()'>
                <i class="iconfont icon-zhankai1"></i>
            </span>
            <!-- 下拉框 -->
            <ng-container *ngTemplateOutlet="selectTemplate ? selectTemplate :''"></ng-container>
            <!-- 图类型下拉 -->
            <nz-select nz-tooltip nzTitle="切换图样式" *ngIf="!isShowTable && chartTypeData && chartTypeData.length" style="min-width:160px" class="ml12" nzSize="small" [(ngModel)]="chartType" (ngModelChange)="chartTypeChange()">
                <nz-option *ngFor="let item of chartTypeData" [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
            </nz-select>
            <!--左-其他模块 -->
            <ng-container *ngTemplateOutlet="(otherLeftTemplate && (!chartError || !tableError)) ? otherLeftTemplate :''"></ng-container>
        </div>
        <div class="fRight">
            <!-- 右-其他模块 -->
            <ng-container *ngTemplateOutlet="(otherRightTemplate && (!chartError || !tableError)) ? otherRightTemplate :''"></ng-container>
            <!-- 单选、多选 -->
            <nz-switch style="vertical-align: middle;margin-top: -5px;" *ngIf="!isShowTable && isHasMultiSelect && !chartError" class="switchBtn" title="{{isMultiSelect?'关闭多选':'开启多选'}}" [(ngModel)]="isMultiSelect" (ngModelChange)="getSelectModule()" nzCheckedChildren="{{'tableButton.multiple' | translate}}"
                nzUnCheckedChildren="{{'tableButton.multiple' | translate}}"></nz-switch>
            <button *ngIf="!isShowTable && isHasMultiSelect && !chartError" class="multiConfirmBtn" title="完成多选后，请确定" nz-button nzType="primary" [nzSize]="'small'" [disabled]="!isMultiSelect" (click)="multipleConfirm()">{{'tableButton.confirm' | translate}}</button>
            <!-- 精度下拉框 -->
            <!-- <nz-select style="width: 180px;margin-right: 10px" [(ngModel)]="accuracy" [nzSize]="'small'" *ngIf="isShowTable && isShowAccuracy">
                <nz-option *ngFor="let accu of accuracyList" [nzLabel]="accu.name" [nzValue]="accu.value"></nz-option>
            </nz-select> -->
            <nz-select style="min-width:160px;margin-right: 10px" [(ngModel)]="accuracy" [nzSize]="'small'" *ngIf="isShowTable && isShowAccuracy">
                <nz-option [nzLabel]="'accuracy.toFixedOne' | translate" [nzValue]="1"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedTwo' | translate" [nzValue]="2"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedThree' | translate" [nzValue]="3"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedFour' | translate" [nzValue]="4"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedFive' | translate" [nzValue]="5"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedSix' | translate" [nzValue]="6"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedSeven' | translate" [nzValue]="7"></nz-option>
                <nz-option [nzLabel]="'accuracy.toFixedAll' | translate" [nzValue]="-1"></nz-option>
            </nz-select>
            <!-- 设置 -->
            <ng-container *ngTemplateOutlet="(setTemplate && (!chartError || !tableError)) ? setTemplate :''"></ng-container>
            <!-- 刷新-->
            <!-- getTableData getTableData getChartData -->
            <i *ngIf="!chartUrl" class="iconfont icon-shuaxin" (click)="handlerRefresh()" nz-tooltip [nzTitle]="'tableButton.refresh' | translate"></i>
            <i *ngIf="chartUrl && isShowTable" class="iconfont icon-shuaxin" (click)="handlerRefresh()" nz-tooltip [nzTitle]="'tableButton.refresh' | translate"></i>
            <i *ngIf="chartUrl && !isShowTable" class="iconfont icon-shuaxin" (click)="handlerRefresh()" nz-tooltip [nzTitle]="'tableButton.refresh' | translate"></i>
            <!--表下载  -->
            <app-grid-export *ngIf="isShowTable && !tableError" [url]='tableUrl' [tableEntity]='apiEntity' [fileName]='tableName'></app-grid-export>
            <!-- 图下载 -->
            <app-chart-export *ngIf="!isShowTable && !chartError" [chartId]="chartId" [chartName]="chartName"></app-chart-export>
        </div>
    </div>
</ng-template>

<!-- <ng-template #selectPanel>
    <div #selectedPanel class="selectPanel">
        <div class="selectContent">
            <div *ngFor="let selected of selectPanelList">
                <span>{{selected.type}}</span>&nbsp;
                <button nz-button nzType="default" [nzSize]="'small'" *ngFor="let item of selected.data" [class.btnActive]="item.isChecked" (click)="selectClick(item)">{{item.name}}</button>
            </div>
        </div>
        <div class="right">
            <button nz-button nzType="primary" [nzSize]="'small'" (click)="selectConfirm()" [disabled]="!selectedList.length">确定</button>
        </div>
    </div>
</ng-template> -->

<div class="tableSwitchChart" [class.table-switch-chart-flex]="flex" [class.full-height]="flex" [attr.id]="id">
    <nz-spin [nzSpinning]="isLoading" nzTip='Loading...' [class.extend-height]="flex">
        <div class="flex column" [class.extend-height]="flex">
            <ng-container *ngTemplateOutlet="headerTemplate ? headerTemplate :''"></ng-container>

            <div #tableContent class="table-content" style="flex:1;display: flex;flex-direction: column;padding: 0 1px;">
                <!-- 选择面板 -->
                <!-- <ng-container *ngTemplateOutlet="(selectPanel && isHasSelectPanel) ? selectPanel :''"></ng-container> -->
                <div #selectPanel class="selectPanel" *ngIf="isShowSelectPanel && isHasSelectPanel && selectPanelList.length">
                    <div class="selectContent">
                        <div *ngFor="let selected of selectPanelList">
                            <span>{{selected.type}}</span>&nbsp;
                            <button nz-button nzType="default" [nzSize]="'small'" *ngFor="let item of selected.data" [class.btnActive]="item.isChecked" (click)="selectClick(item)">{{item.name}}</button>
                        </div>
                    </div>
                    <div class="right">
                        <button nz-button nzType="primary" [nzSize]="'small'" (click)="selectConfirm()" [disabled]="!selectedList.length || selectedList.length>10">{{'tableButton.confirm' | translate}}</button>
                    </div>
                </div>
                <!-- 筛选面板 -->
                <div *ngIf="isFilter && filterHtmlString.length" #tableFilter class="table-filter">
                    <div class="table-top">
                        <span class="filter-head">{{'filterTitle' | translate}}：</span>
                        <span class="filter-item" *ngFor="let item of filterHtmlString">
                            <em [innerHTML]="item['html']"></em>
                            <i class="anticon anticon-close-circle" (click)="deleteFilterItem(item)"></i>
                        </span>
                    </div>
                </div>
                <!-- 图和表的容器  border-bottom: 1px solid rgba(234, 234, 235, 0.95);-->
                <div #tableChartContent class="table-chart-content" [class.center-flex]="!isShowTable && !chartError" style="flex:1;" [ngStyle]="{'overflow':!isShowTable?'auto':'hidden'}">

                    <!-- 普通表  -->
                    <nz-table *ngIf="!isFilter && !isVennTable && isShowTable && !tableError" nzShowPagination="false" [nzData]="tableData.rows" [nzScroll]="scroll" [nzSize]="'small'">
                        <thead>
                            <tr>
                                <th class="center textEllipsis" style="min-width:160px;max-width: 160px;" *ngFor="let thead of tableData['baseThead']" nz-tooltip nzTitle="{{ 'tableHeader.'+thead['hover'] | translate }}">{{thead.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData.rows">
                                <ng-container *ngFor="let thead of tableData['baseThead']">
                                    <!-- 正常值 -->
                                    <td *ngIf="row[thead.true_key] || row[thead.true_key]==0" class="center textEllipsis" style="min-width:160px;max-width: 160px;" nz-popover [nzContent]="tpl0" nzPlacement="right">
                                        <!-- {{row[thead.true_key] | accuracyPipe : accuracy : thead['searchType']}} -->
                                        <ng-template #tpl0>
                                            <span [innerHTML]="row[thead.true_key] | tableSpecialTheadFilter : thead['true_key']:thead['searchType']:true:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                        </ng-template>
                                        <span [innerHTML]="row[thead.true_key] | tableSpecialTheadFilter : thead['true_key']:thead['searchType']:false:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                    </td>
                                    <!-- NA -->
                                    <td *ngIf="!row[thead.true_key] && row[thead.true_key]!=0" class="center textEllipsis" style="min-width:160px;max-width: 160px;">
                                        <span>NA</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </nz-table>

                    <!-- 有筛选的表 -->
                    <nz-table *ngIf="isFilter && !isVennTable && isShowTable && !tableError" nzSize="small" [nzScroll]="scroll" [nzData]="tableData.rows" [nzFrontPagination]='false' [nzShowPagination]="false" [nzTotal]="total" nzBordered>
                        <thead>
                            <tr>
                                <!-- 首列 -->
                                <th [ngStyle]="{'min-width':widthConfig[0]}" style="text-align: center;" [attr.colspan]="tableData.baseThead[0]['colspan']" [attr.rowspan]="tableData.baseThead[0]['rowspan']" [(nzSort)]="sortMap[tableData.baseThead[0]['true_key']]" [nzShowSort]="tableData.baseThead[0]['searchType']!='string'"
                                    [nzSortKey]="tableData.baseThead[0]['true_key']" (nzSortChange)="sort(tableData.baseThead[0]['true_key'],$event)">
                                    <span nzTitle="{{'tableHeader.'+((tableData.baseThead[0]['hover'] || tableData.baseThead[0]['hover']==0)?tableData.baseThead[0]['hover']:'NA') | translate}}" nzPlacement="topCenter" nz-tooltip>{{tableData.baseThead[0]['name']}}</span>
                                    <!-- get app-filter child emit function <recive> <delete> -->
                                    <app-filter #child *ngIf="beginFilterStatus" [pid]="id" [searchType]="tableData.baseThead[0]['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="tableData.baseThead[0]['name']"
                                        [filterName]="tableData.baseThead[0]['true_key']"></app-filter>
                                </th>
                                <!-- 其他列 -->
                                <th [ngStyle]="{'min-width':widthConfig[i+1]}" style="text-align: center;" [nzSortKey]="tableData.baseThead[i+1]['true_key']" [(nzSort)]="sortMap[tableData.baseThead[i+1]['true_key']]" (nzSortChange)="sort(tableData.baseThead[i+1]['true_key'],$event)"
                                    [nzShowSort]="!tableData.baseThead[i+1]['children'].length && tableData.baseThead[i+1]['searchType']!='string'" [attr.colspan]="h['colspan']" [attr.rowspan]="h['rowspan']" *ngFor="let h of tableData.baseThead.slice(1);index as i;trackBy:identify">
                                    <span nzTitle="{{'tableHeader.'+((tableData.baseThead[i+1]['hover'] || tableData.baseThead[i+1]['hover']==0)?tableData.baseThead[i+1]['hover']:'NA') | translate}}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                    <app-filter #child *ngIf="beginFilterStatus && !h.children.length" [pid]="id" [searchType]="tableData.baseThead[i+1]['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="tableData.baseThead[i+1]['name']"
                                        [filterName]="tableData.baseThead[i+1]['true_key']"></app-filter>
                                </th>
                            </tr>
                            <tr ng-if="twoLevelHead.length">
                                <!-- 二级表头首列 -->
                                <th class="two-level-thead" style="text-align: center;" *ngFor="let h of twoLevelHead.slice(0,tableData.baseThead[0].children.length);index as i;trackBy:identify" [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']"
                                    (nzSortChange)="sort(h['true_key'],$event)">
                                    <span nzTitle="{{'tableHeader.'+((h['hover'] || h['hover']==0)?h['hover']:'NA') | translate}}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                    <app-filter #child *ngIf="beginFilterStatus" [pid]="id" [searchType]="h['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']" [filterName]="h['true_key']"></app-filter>
                                </th>
                                <!-- 二级表头其他列 -->
                                <th style="text-align: center;" *ngFor="let h of twoLevelHead.slice(tableData.baseThead[0].children.length);index as i;trackBy:identify" [(nzSort)]="sortMap[h['true_key']]" [nzShowSort]="h['searchType']!='string'" [nzSortKey]="h['true_key']" (nzSortChange)="sort(h['true_key'],$event)">
                                    <span nzTitle="{{'tableHeader.'+((h['hover'] || h['hover']==0)?h['hover']:'NA') | translate}}" nzPlacement="topCenter" nz-tooltip>{{h['name']}}</span>
                                    <app-filter #child *ngIf="beginFilterStatus" [pid]="id" [searchType]="h['searchType']" (getData)="recive($event)" (deleteData)="delete($event)" (deleteDataWithoutRequest)="deleteWithoutRequest($event)" [filterNamezh]="h['name']" [filterName]="h['true_key']"></app-filter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let d of tableData.rows" style="text-align: center;">
                                <!-- 首列的二级头表格数据 -->
                                <ng-container *ngFor="let two of (tableData.baseThead[0].children.length?tableData.baseThead[0].children:[tableData.baseThead[0]]);index as i;trackBy:identity">
                                    <!-- 正常值 -->
                                    <td *ngIf="d[two['true_key']] || d[two['true_key']]==0" [ngStyle]="{'min-width':widthConfig[0],'max-width':widthConfig[0]}" [nzContent]="tpl" nzPlacement="right" nz-popover>
                                        <ng-template #tpl>
                                            <span [innerHTML]="d[two['true_key']] | tableSpecialTheadFilter : two['true_key']:two['searchType']:true:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                        </ng-template>
                                        <span [innerHTML]="d[two['true_key']] | tableSpecialTheadFilter : two['true_key']:two['searchType']:false:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                    </td>
                                    <!-- NA -->
                                    <td *ngIf="!d[two['true_key']] && d[two['true_key']]!=0" [ngStyle]="{'min-width':widthConfig[0],'max-width':widthConfig[0]}">
                                        <span>NA</span>
                                    </td>
                                </ng-container>

                                <!-- 其他列 -->
                                <ng-container *ngFor="let h of tbodyOutFirstCol;index as i;">
                                    <!-- 正常值 -->
                                    <td *ngIf="d[h['true_key']] || d[h['true_key']]==0" [ngStyle]="{'min-width':widthConfig[i+1],'max-width':widthConfig[i+1]}" [nzContent]="tpl2" nzPlacement="right" nz-popover>
                                        <ng-template #tpl2>
                                            <span [innerHTML]="d[h['true_key']] | tableSpecialTheadFilter : h['true_key']:h['searchType']:true:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                        </ng-template>
                                        <span [innerHTML]="d[h['true_key']] | tableSpecialTheadFilter:h['true_key']:h['searchType']:false:compareGroup:reanalysisId:apiEntity['geneType']:reanalysisDate:isKeggRich"></span>
                                    </td>
                                    <!-- NA -->
                                    <td *ngIf="!d[h['true_key']] && d[h['true_key']]!=0" [ngStyle]="{'min-width':widthConfig[i+1],'max-width':widthConfig[i+1]}">
                                        <span>NA</span>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </nz-table>

                    <!-- 大表分页  -->
                    <div #tableBottom class="table-bottom" *ngIf="isPaging && !isVennTable && isShowTable && !tableError">
                        <app-pagination style="float:left;" [(pageIndex)]="apiEntity['pageIndex']" [total]="total" [(pageSize)]="apiEntity['pageSize']" (pageIndexChange)="pageIndexChange()" (pageSizeChange)="pageSizeChange()">
                        </app-pagination>
                    </div>

                    <!-- veen/upsetR表 -->
                    <nz-table *ngIf="!isFilter && isVennTable && isShowTable && !tableError" nzShowPagination="false" [nzData]="tableData.rows" [nzScroll]="{y:scroll.y}" [nzSize]="'small'">
                        <thead>
                            <tr>
                                <th class="center" nzWidth="120px">name</th>
                                <th class="center" nzWidth="120px">value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of tableData['rows']">
                                <td class="center">{{row['name']}}</td>
                                <td class="center">{{row['value'] | accuracyPipe : accuracy : "double"}}</td>
                            </tr>
                        </tbody>
                    </nz-table>

                    <!-- chart -->
                    <div class="center chart" [hidden]="isShowTable || chartError">
                        <div [attr.id]="chartId" style='margin: auto;'></div>
                        <!-- 图说明 -->
                        <div class="desc" *ngIf="chartDescContent && !isShowTable && !chartError">
                            <div class="descTitle" [class.active]='isShowChartDesc' (click)='isShowChartDesc=!isShowChartDesc'>
                                <i nz-icon class="anticon anticon-info-circle" theme="outline"></i>&nbsp;
                                <span *ngIf="!chartDescTitle">图说明</span>
                                <span *ngIf="chartDescTitle">{{chartDescTitle}}</span>
                            </div>
                            <div class="descContent" *ngIf="isShowChartDesc" [innerHTML]="chartDescContent"> </div>
                        </div>
                    </div>

                    <!-- error -->
                    <app-error *ngIf="!isShowTable && chartError" [error]="chartError"></app-error>

                    <app-error *ngIf="isShowTable && tableError" [error]="tableError"></app-error>
                </div>
            </div>
        </div>
    </nz-spin>
    <!-- 表说明 -->
    <div class="desc" *ngIf="tableDescContent && isShowTable && !tableError">
        <div class="descTitle" [class.active]='isShowTableDesc' (click)='isShowTableDesc=!isShowTableDesc'>
            <i nz-icon class="anticon anticon-info-circle" theme="outline"></i>&nbsp;
            <span *ngIf="!tableDescTitle">表说明</span>
            <span *ngIf="tableDescTitle">{{tableDescTitle}}</span>
        </div>
        <div class="descContent" *ngIf="isShowTableDesc">
            {{tableDescContent}}
        </div>
    </div>
</div>