<div class="tool-component">
    <nz-drawer [nzClosable]="true" [nzVisible]="toolsService['visible']" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" nzTitle="请选择一个分析方案" (nzOnClose)="close()" >
        gene:{{ toolsService["geneCount"] }}
        <ul class="clearfix">
            <li *ngFor="let tool of toolList; index as i" (click)="selectParams(tool['type'])" >
                <img src="http://temp.im/68x82" (mouseover)="handlerMouseOver(tool)" />
                <p style="margin-top:12px;">{{ tool["name"] }}</p>
            </li>
        </ul>
        <div class="tools-desc" *ngIf="desc && title">
            <h5>{{ title }}</h5>
            <p>{{ desc }}</p>
        </div>

        <!-- 聚类 -->
        <nz-drawer nzTitle="聚类热图" [nzVisible]="childVisible && selectType=='heatmap'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <nz-tabset [nzSize]="'small'">
                    <nz-tab nzTitle="表达量聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="expressionData.length || expressionUpload.length">数据选择</p>
                                <span *ngIf="expressionData.length && expressionUpload.length">原始数据</span>
                                <div *ngIf="expressionData.length">
                                    <button (click)="handlerHeatmapSelect(ex,expressionSelect,'expression')" [class.active]="ex['checked']" *ngFor="let ex of expressionData;index as i;" nz-button nzType="default" nzSize="middle">{{ex['name']}}</button>
                                </div>
                                <span *ngIf="expressionUpload.length">上传数据</span>
                                <div *ngIf="expressionUpload.length">
                                    <button (click)="handlerHeatmapSelect(exup,expressionSelect,'expression')" [class.active]="exup['checked']" *ngFor="let exup of expressionUpload;index as i;" nz-button nzType="default" nzSize="middle">{{exup['name']}}</button>
                                </div>
                                <nz-alert *ngIf="expressionError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!expressionData.length && !expressionUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(expressionData.length || expressionUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="expressionError" (click)="heatmapConfirm('expression')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="差异聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="diffData.length || diffUpload.length">数据选择</p>
                                <span *ngIf="diffData.length && diffUpload.length">原始数据</span>
                                <div *ngIf="diffData.length">
                                    <button (click)="handlerHeatmapSelect(diff,diffSelect,'diff')" [class.active]="diff['checked']" *ngFor="let diff of diffData;index as i;" nz-button nzType="default" nzSize="middle">{{diff['name']}}</button>
                                </div>
                                <span *ngIf="diffUpload.length">上传数据</span>
                                <div *ngIf="diffUpload.length">
                                    <button (click)="handlerHeatmapSelect(diffUp,diffSelect,'diff')" [class.active]="diffUp['checked']" *ngFor="let diffUp of diffUpload;index as i;" nz-button nzType="default" nzSize="middle">{{diffUp['name']}}</button>
                                </div>
                                <nz-alert *ngIf="diffError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!diffData.length && !diffUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(diffData.length || diffUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="diffError" (click)="heatmapConfirm('diff')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="自定义数据聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="customData.length || customUpload.length">数据选择</p>
                                <span *ngIf="customData.length && customUpload.length">原始数据</span>
                                <div *ngIf="customData.length">
                                    <button (click)="handlerHeatmapSelect(custom,customSelect,'custom')" [class.active]="custom['checked']" *ngFor="let custom of customData;index as i;" nz-button nzType="default" nzSize="middle">{{custom['name']}}</button>
                                </div>
                                <span *ngIf="customUpload.length">上传数据</span>
                                <div *ngIf="customUpload.length">
                                    <button (click)="handlerHeatmapSelect(customUp,customSelect,'custom')" [class.active]="customUp['checked']" *ngFor="let customUp of customUpload;index as i;" nz-button nzType="default" nzSize="middle">{{customUp['name']}}</button>
                                </div>
                                <nz-alert *ngIf="customError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!customData.length && !customUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(customData.length || customUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="customError" (click)="heatmapConfirm('custom')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </nz-spin>
            </nz-drawer>

            <!-- 多组学 -->
            <nz-drawer nzTitle="多组学" [nzVisible]="childVisible && selectType=='multiOmics'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
                <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                    <ng-container *ngIf="multiOmicsData.length && !multiOmicsError">
                        <button *ngFor="let mu of multiOmicsData;index as i;" nz-button nzType="default" nzSize="middle" (click)="multiOmicsClick(mu)" [class.active]="mu['checked']">{{mu['name']}}</button>
                        <nz-divider></nz-divider>
                        <div class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="customError" (click)="multiOmicsConfirm('multiOmics')" nzSize="middle">确定</button>
                        </div>
                    </ng-container>
                    <p *ngIf="!multiOmicsData.length || multiOmicsError" class="center">暂无参数</p>
                </nz-spin>
            </nz-drawer>

    </nz-drawer>
</div>
