<div class="tool-component">
    <nz-drawer [nzClosable]="true" [nzVisible]="toolsService['visible']" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" nzTitle="请选择一个分析方案" (nzOnClose)="close()" >
        <!-- gene:{{ toolsService["geneCount"] }} -->
        <ul class="clearfix">
            <li *ngFor="let tool of toolList; index as i" (click)="selectParams(tool['type'])" (mouseover)="handlerMouseOver(tool)">
                <div class="tool-imgs {{tool['type']}}-img"></div>
                <p style="margin-top:12px;">{{ tool["name"] }}</p>
            </li>
        </ul>
        <div class="tools-desc" *ngIf="desc && title">
            <h5>{{ title }}</h5>
            <p>{{ desc }}</p>
        </div>

        <!-- 聚类 -->
        <nz-drawer nzTitle="聚类热图" [nzVisible]="childVisible && selectType=='heatmap'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <nz-tabset [nzSize]="'small'">
                    <nz-tab nzTitle="表达量聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="expressData.length || expressUpload.length">数据选择</p>
                                <span *ngIf="expressData.length && expressUpload.length">原始数据</span>
                                <div *ngIf="expressData.length">
                                    <button (click)="handlerHeatmapSelect(ex,expressSelect,'express')" [class.active]="ex['checked']" *ngFor="let ex of expressData;index as i;" nz-button nzType="default" nzSize="middle">{{ex['name']}}</button>
                                </div>
                                <span *ngIf="expressUpload.length">上传数据</span>
                                <div *ngIf="expressUpload.length">
                                    <button (click)="handlerHeatmapSelect(exup,expressSelect,'express')" [class.active]="exup['checked']" *ngFor="let exup of expressUpload;index as i;" nz-button nzType="default" nzSize="middle">{{exup['name']}}</button>
                                </div>
                                <nz-alert *ngIf="expressError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!expressData.length && !expressUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(expressData.length || expressUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="expressError" (click)="heatmapConfirm('express')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="差异聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="diffData.length || diffUpload.length">数据选择</p>
                                <span *ngIf="diffData.length && diffUpload.length">原始数据</span>
                                <div *ngIf="diffData.length">
                                    <button (click)="handlerHeatmapSelect(diff,diffSelect,'diff')" [class.active]="diff['checked']" *ngFor="let diff of diffData;index as i;" nz-button nzType="default" nzSize="middle">{{diff['name']}}</button>
                                </div>
                                <span *ngIf="diffUpload.length">上传数据</span>
                                <div *ngIf="diffUpload.length">
                                    <button (click)="handlerHeatmapSelect(diffUp,diffSelect,'diff')" [class.active]="diffUp['checked']" *ngFor="let diffUp of diffUpload;index as i;" nz-button nzType="default" nzSize="middle">{{diffUp['name']}}</button>
                                </div>
                                <nz-alert *ngIf="diffError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!diffData.length && !diffUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(diffData.length || diffUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="diffError" (click)="heatmapConfirm('diff')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="自定义数据聚类">
                            <div class="tool-params-tab">
                                <p *ngIf="standList.length">标准化</p>
                                <nz-select *ngIf="standList.length" style="width: 120px; margin-top:1em;margin-bottom:1em;" [(ngModel)]="stand" nzPlaceHolder="stand">
                                    <nz-option *ngFor="let s of standList;index as i;" [nzValue]="s" [nzLabel]="s"></nz-option>
                                </nz-select>
                                <p *ngIf="customData.length || customUpload.length">数据选择</p>
                                <span *ngIf="customData.length && customUpload.length">原始数据</span>
                                <div *ngIf="customData.length">
                                    <button (click)="handlerHeatmapSelect(custom,customSelect,'custom')" [class.active]="custom['checked']" *ngFor="let custom of customData;index as i;" nz-button nzType="default" nzSize="middle">{{custom['name']}}</button>
                                </div>
                                <span *ngIf="customUpload.length">上传数据</span>
                                <div *ngIf="customUpload.length">
                                    <button (click)="handlerHeatmapSelect(customUp,customSelect,'custom')" [class.active]="customUp['checked']" *ngFor="let customUp of customUpload;index as i;" nz-button nzType="default" nzSize="middle">{{customUp['name']}}</button>
                                </div>
                                <nz-alert *ngIf="customError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                                <p *ngIf="geneType.length">基因分类</p>
                                <div *ngIf="geneType.length">
                                    <button (click)="handlerGeneSelect(type)" [class.active]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                    <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert>
                                </div>
                                <p *ngIf="!customData.length && !customUpload.length && !geneType.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="(customData.length || customUpload.length) && geneType.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="customError" (click)="heatmapConfirm('custom')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                    </nz-tabset>
                </nz-spin>
            </nz-drawer>

        <!-- 多组学 -->
        <nz-drawer nzTitle="多组学" [nzVisible]="childVisible && selectType=='multiOmics'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <ng-container *ngIf="multiOmicsData.length">
                    <button class="mb12" *ngFor="let mu of multiOmicsData;index as i;" nz-button nzType="default" nzSize="middle" (click)="multiOmicsClick(mu)" [class.active]="mu['checked']">{{mu['name']}}</button>
                    <nz-alert *ngIf="multiOmicsError || !multiOmicsSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                    <nz-divider></nz-divider>
                    <div class="tool-params-button-group">
                        <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                        <button nz-button nzType="primary" [disabled]="multiOmicsError || !multiOmicsData.length" (click)="multiOmicsConfirm('multiOmics')" nzSize="middle">确定</button>
                    </div>
                </ng-container>
                <p *ngIf="!multiOmicsData.length" class="center">暂无参数</p>
            </nz-spin>
        </nz-drawer>

        <!-- 折线图 -->
        <nz-drawer nzTitle="折线图" [nzVisible]="childVisible && selectType=='line'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <nz-tabset [nzSize]="'small'">
                    <nz-tab nzTitle="分组平均表达量" *ngIf="lineGroupData.length">
                        <div class="tool-params-tab">
                            <button (click)="lineClick('group',line)" [class.active]="line['checked']" *ngFor="let line of lineGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                            <p *ngIf="!lineGroupData.length " class="center">暂无参数</p>
                            <nz-alert *ngIf="lineGroupError || !lineGroupSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="lineGroupData.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="lineGroupError || !lineGroupSelect.length" (click)="lineConfirm('line','group')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="单样本表达量" *ngIf="lineSampleData.length">
                            <div class="tool-params-tab">
                                <button (click)="lineClick('sample',line)" [class.active]="line['checked']" *ngFor="let line of lineSampleData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                                <nz-alert *ngIf="lineSampleError || !lineSampleSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                                <p *ngIf="!lineSampleData.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="lineSampleData.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="lineSampleError || !lineSampleSelect.length" (click)="lineConfirm('line','sample')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                        <nz-tab nzTitle="用户上传数据" *ngIf="lineCustomData.length">
                            <div class="tool-params-tab">
                                <button (click)="lineClick('custom',line)" [class.active]="line['checked']" *ngFor="let line of lineCustomData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                                <nz-alert *ngIf="lineCustomError || !lineCustomSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                                <p *ngIf="!lineCustomData.length" class="center">暂无参数</p>
                            </div>
                            <nz-divider></nz-divider>
                            <div *ngIf="lineCustomData.length" class="tool-params-button-group">
                                <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                                <button nz-button nzType="primary" [disabled]="lineCustomError || !lineCustomSelect.length" (click)="lineConfirm('line','custom')" nzSize="middle">确定</button>
                            </div>
                        </nz-tab>
                    </nz-tabset>

            </nz-spin>
        </nz-drawer>

        <!-- 卡方检验 -->
        <nz-drawer nzTitle="卡方检验" [nzVisible]="childVisible && selectType=='kaFun'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
                <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                    <div class="tool-params-kafun">
                        <div class="tool-params-kafun-top">
                            <div nz-row class="my-nz-row">
                                <div nz-col nzSpan="8" class="my-nz-row">Data</div>
                                <div nz-col nzSpan="16" class="my-nz-row">{{kaFunDataName}}</div>
                            </div>
                            <div nz-row class="my-nz-row">
                                <div nz-col nzSpan="8" class="my-nz-row">Statistics</div>
                                <div nz-col nzSpan="16" class="my-nz-row">
                                    <nz-select style="width: 160px;" [(ngModel)]="kaFunStatisticsName" nzAllowClear nzPlaceHolder="选择" (ngModelChange)="onkaFunChange($event)">
                                        <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of kaFunStatistics;index as i;"></nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <div nz-row class="my-nz-row" *ngIf="kaFunGroupData.length">Classification</div>
                            <div class="tool-params-tab" *ngIf="kaFunGroupData.length">
                                <button (click)="kaFunClick(kaFun)" [class.active]="kaFun['checked']" *ngFor="let kaFun of kaFunGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{kaFun['name']}}</button>
                                <nz-alert *ngIf="kaFunGroupError || !kaFunGroupSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                                <p *ngIf="!kaFunGroupData.length" class="center">暂无参数</p>
                            </div>
                        </div>
                    </div>
                    <div class="tool-params-button-group" *ngIf="kaFunGroupData.length">
                        <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                        <button nz-button nzType="primary" [disabled]="kaFunGroupError || !kaFunGroupSelect.length"  (click)="kaFunConfirm('chiSquare')" nzSize="middle">确定</button>
                    </div>
                </nz-spin>
        </nz-drawer>

        <!-- 可变剪切 -->
        <nz-drawer nzTitle="可变剪切" [nzVisible]="childVisible && selectType=='relativeSplice'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-kafun">
                    <div class="tool-params-kafun-top">
                        <div nz-row class="my-nz-row">
                            <div nz-col nzSpan="8" class="my-nz-row">Data</div>
                            <div nz-col nzSpan="16" class="my-nz-row">{{kaFunDataName}}</div>
                        </div>
                        <div nz-row class="my-nz-row">
                            <div nz-col nzSpan="8" class="my-nz-row">Statistics</div>
                            <div nz-col nzSpan="16" class="my-nz-row">
                                <nz-select style="width: 160px;" [(ngModel)]="kaFunStatisticsName" nzAllowClear nzPlaceHolder="选择" (ngModelChange)="onkaFunChange($event)">
                                    <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of kaFunStatistics;index as i;"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="my-nz-row" *ngIf="kaFunGroupData.length">Classification</div>
                        <div class="tool-params-tab" *ngIf="kaFunGroupData.length">
                            <button (click)="kaFunClick(kaFun)" [class.active]="kaFun['checked']" *ngFor="let kaFun of kaFunGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{kaFun['name']}}</button>
                            <nz-alert *ngIf="kaFunGroupError || !kaFunGroupSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                            <p *ngIf="!kaFunGroupData.length" class="center">暂无参数</p>
                        </div>
                    </div>
                </div>
                <div class="tool-params-button-group" *ngIf="kaFunGroupData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="kaFunGroupError || !kaFunGroupSelect.length"  (click)="kaFunConfirm('chiSquare')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 网络图 -->
        <nz-drawer nzTitle="蛋白网络互作" [nzVisible]="childVisible && selectType=='net'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-net">
                    <button class="mr6 mb6" (click)="netClick(net)" [class.active]="net['checked']" *ngFor="let net of netData;index as i;" nz-button nzType="default" nzSize="middle">{{net['name']}}</button>
                    <p *ngIf="!netData.length " class="center">暂无参数</p>
                    <nz-alert class="mb6" *ngIf="netError || !netSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                    <!-- 参数选择 -->
                    <div class="tools-prams-content">
                        <nz-row class="mb12" *ngFor="let par of netSelect;index as i;">
                            <nz-divider nzText="{{par['name']}} 参数" nzOrientation="left"></nz-divider>
                            <nz-col nzSpan="6"><span>min Score</span></nz-col>
                            <nz-col nzSpan="10">
                                <nz-slider [nzStep]="0.1" [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"  [(ngModel)]="par['score'][2]"></nz-slider>
                            </nz-col>
                            <nz-col nzSpan="6" [nzPush]="1">
                                <nz-input-number [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"   [(ngModel)]="par['score'][2]"></nz-input-number>
                            </nz-col>
                        </nz-row>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <div class="tool-params-button-group" *ngIf="netData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="netError || !netSelect.length"  (click)="netConfirm('net')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 关联网络图 -->
        <nz-drawer nzTitle="关联网络图" [nzVisible]="childVisible && selectType=='relativeNet'" [nzClosable]="true" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
                <nz-spin nzTip='正在提交重分析，请稍后...' [nzDelay]="100" [nzSpinning]="isSubmitReanalysis">
                    <div class="tool-params-relativeNet">
                        <button class="mr6 mb6" (click)="relativeNetClick(relativeNet)" [class.active]="relativeNet['checked']" *ngFor="let relativeNet of relativeNetData;index as i;" nz-button nzType="default" nzSize="middle">{{relativeNet['name']}}</button>
                        <p *ngIf="!relativeNetData.length " class="center">暂无参数</p>
                        <nz-alert class="mb6" *ngIf="relativeNetError || !relativeNetSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                        <!-- 参数选择 -->
                        <div class="tools-prams-content">
                            <ng-container *ngFor="let par of relativeNetSelect;index as i;">
                                <nz-row>
                                    <nz-divider nzText="{{par['name']}} 参数" nzOrientation="left"></nz-divider>
                                    <nz-col nzSpan="6"><span>min Score</span></nz-col>
                                    <nz-col nzSpan="10">
                                        <nz-slider [nzStep]="0.1" [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"  [(ngModel)]="par['score'][2]"></nz-slider>
                                    </nz-col>
                                    <nz-col nzSpan="6" [nzPush]="1">
                                        <nz-input-number [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"   [(ngModel)]="par['score'][2]"></nz-input-number>
                                    </nz-col>
                                </nz-row>
                                <nz-row class="mb12">
                                    <nz-col nzSpan="6">max num</nz-col>
                                    <nz-col nzSpan="13">
                                        <nz-row>
                                            <nz-col>
                                                <nz-radio-group [(ngModel)]="par['limit']">
                                                    <label nz-radio [nzValue]="true">limit</label>
                                                    <label nz-radio [nzValue]="false">no limit</label>
                                                </nz-radio-group>
                                            </nz-col>
                                        </nz-row>
                                        <nz-row>
                                            <nz-col nzSpan="20">
                                                <nz-slider [nzMin]="par['max'][0]" [nzMax]="par['max'][1]"  [(ngModel)]="par['max'][2]" [nzDisabled]="!par['limit']"></nz-slider>
                                            </nz-col>
                                            <nz-col nzSpan="1"></nz-col>
                                            <nz-col nzSpan="1">
                                                <nz-input-number [nzMin]="par['max'][0]" [nzDisabled]="!par['limit']" [nzMax]="par['max'][1]"   [(ngModel)]="par['max'][2]"></nz-input-number>
                                            </nz-col>
                                        </nz-row>
                                    </nz-col>
                                </nz-row>
                            </ng-container>
                        </div>
                    </div>
                    <nz-divider></nz-divider>
                    <div class="tool-params-button-group" *ngIf="relativeNetData.length">
                        <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                        <button nz-button nzType="primary" [disabled]="relativeNetError || !relativeNetSelect.length"  (click)="relativeNetConfirm()" nzSize="middle">确定</button>
                    </div>
                </nz-spin>
            </nz-drawer>

        </nz-drawer>
</div>
