<div class="tool-component">
    <nz-drawer [nzClosable]="true" [class.zindex-10]="!toolsService['visible']" [nzVisible]="toolsService['visible']" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'tools-wrap'" [nzWidth]="376" nzPlacement="right" [nzTitle]="drawerTitleTpl"
        (nzOnClose)="close()">
        <ng-template #drawerTitleTpl>
            <span>{{'analysisPanel.title' | translate}}</span><br>
            <span style="font-size:14px;word-break: break-all;color: rgba(0, 0, 0, 0.65);">{{'analysisPanel.desc' | translate}}</span>
        </ng-template>
        <!-- gene:{{ toolsService["geneCount"] }} -->
        <ul class="clearfix">
            <!-- [nzTitle]="tool['limit'].length>1?('Limit : '+tool['limit'][0]+'-'+tool['limit'][1])+'':'Limit : At least '+tool['limit'][0]" -->
            <li nz-tooltip nzTitle="{{'toolpopover.'+tool['name'] | translate}}" *ngFor="let tool of toolList; index as i" [class.disabled]="tool['disabled']" (click)="selectParams(tool)" (mouseover)="handlerMouseOver(tool)">
                <div class="tool-imgs {{tool['type']}}-img"></div>
                <p>{{ "tools."+tool['name'] | translate }}</p>
            </li>
        </ul>
        <!-- [class.disabled]="disabled" -->
        <div class="tools-desc" *ngIf="desc && title">
            <h5>{{ "tools."+title | translate }}</h5>
            <p>{{ "desc."+desc | translate }}</p>
            <nz-alert *ngIf="'useage.'+desc | translate" nzType="info" [nzMessage]="'useage.'+desc | translate" nzShowIcon></nz-alert>
        </div>

        <ng-template #titleTpl>
            <i class="anticon anticon-arrow-left mr12 cursor" (click)="handlerChildClose()"></i>
            <span *ngIf="childVisible && selectType==='heatmap'">聚类热图参数</span>
            <span *ngIf="childVisible && selectType==='multiOmics'">多组学关联参数</span>
            <span *ngIf="childVisible && selectType==='line'">折线图参数</span>
            <span *ngIf="childVisible && selectType==='kda'">KDA参数</span>
            <span *ngIf="childVisible && selectType==='chiSquare'">卡方检验参数</span>
            <span *ngIf="childVisible && selectType==='net'">网络互作参数</span>
            <span *ngIf="childVisible && selectType==='linkedNetwork'">关联网络参数</span>
            <span *ngIf="childVisible && selectType==='heatmapRelation'">关联聚类参数</span>
            <span *ngIf="childVisible && selectType==='classification'">分类参数</span>
            <span *ngIf="childVisible && selectType==='enrichment'">富集参数</span>
            <span *ngIf="childVisible && selectType==='gsea'">GSEA富集</span>
        </ng-template>
        <!-- 聚类 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='heatmap'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <nz-tabset [nzSize]="'small'">
                    <nz-tab nzTitle="表达量">
                        <div class="tool-params-tab">
                            <p *ngIf="standList.length">标准化方法&emsp;&nbsp;
                                <nz-select *ngIf="standList.length" nz-tooltip nzTitle="{{'standardization.'+stand | translate}}" style="min-width: 120px; margin-top:1em;margin-bottom:1em;" [(ngModel)]="stand" nzPlaceHolder="stand">
                                    <nz-option *ngFor="let s of standList;index as i;" [nzValue]="s.key" [nzLabel]="s.name"></nz-option>
                                </nz-select>
                            </p>
                            <p *ngIf="expressData.length || expressUpload.length">数据选择&emsp;&nbsp;
                                <nz-select style="width: 120px;" [nzSize]="small" [(ngModel)]="heatmapSelect" (ngModelChange)="heatmapSelectChange()">
                                    <nz-option *ngFor="let select of heatmapSelectList" [nzValue]="select" [nzLabel]="select"></nz-option>
                                </nz-select>
                            </p>
                            <span *ngIf="expressData.length && expressUpload.length">原始数据</span>
                            <div *ngIf="expressData.length">
                                <button (click)="handlerHeatmapSelect(ex,'express')" nz-tooltip [nzTitle]="ex['name']" [class.btnActive]="ex['checked']" *ngFor="let ex of expressData;index as i;" nz-button nzType="default" nzSize="middle">{{ex['name']}}</button>
                            </div>
                            <span *ngIf="expressUpload.length">上传数据</span>
                            <div *ngIf="expressUpload.length">
                                <button (click)="handlerHeatmapSelect(exup,'express')" nz-tooltip [nzTitle]="exup['name']" [class.btnActive]="exup['checked']" *ngFor="let exup of expressUpload;index as i;" nz-button nzType="default" nzSize="middle">{{exup['name']}}</button>
                            </div>
                            <nz-alert *ngIf="expressError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                            <p *ngIf="geneType.length && expressData.length && heatmapSelectList.length">基因分类</p>
                            <div *ngIf="geneType.length && expressData.length && heatmapSelectList.length">
                                <button (click)="handlerGeneSelect(type)" [class.btnActive]="type['checked']" nz-tooltip [nzTitle]="type['name']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                <!-- <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert> -->
                                <br>
                                <label *ngIf="selectGeneType.length" nz-checkbox [(ngModel)]="clusterByGeneType" [nzDisabled]="!selectGeneType[0]['flag']">
									按照分类结果进行聚类
								</label>
                            </div>
                            <p *ngIf="(!expressData.length && !expressUpload.length && !geneType.length && doHeatmapAjax ) || (!heatmapSelectList.length && doHeatmapAjax)" class="center">缺少必要数据</p>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="expressData.length || expressUpload.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="expressError" (click)="heatmapConfirm('Express')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="差异倍数">
                        <div class="tool-params-tab">
                            <p *ngIf="diffData.length || diffUpload.length">数据选择</p>
                            <span *ngIf="diffData.length && diffUpload.length">原始数据</span>
                            <div *ngIf="diffData.length">
                                <button (click)="handlerHeatmapSelect(diff,'diff')" nz-tooltip [nzTitle]="diff['name']" [class.btnActive]="diff['checked']" *ngFor="let diff of diffData;index as i;" nz-button nzType="default" nzSize="middle">{{diff['name']}}</button>
                            </div>
                            <span *ngIf="diffUpload.length">上传数据</span>
                            <div *ngIf="diffUpload.length">
                                <button (click)="handlerHeatmapSelect(diffUp,'diff')" nz-tooltip [nzTitle]="diffUp['name']" [class.btnActive]="diffUp['checked']" *ngFor="let diffUp of diffUpload;index as i;" nz-button nzType="default" nzSize="middle">{{diffUp['name']}}</button>
                            </div>
                            <nz-alert *ngIf="diffError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                            <p *ngIf="diffData.length && geneType.length">基因分类</p>
                            <div *ngIf="diffData.length && geneType.length">
                                <button (click)="handlerGeneSelect(type)" nz-tooltip [nzTitle]="type['name']" [class.btnActive]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                <!-- <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert> -->
                                <br>
                                <label *ngIf="selectGeneType.length" nz-checkbox [(ngModel)]="clusterByGeneType" [nzDisabled]="!selectGeneType[0]['flag']">
									按照分类结果进行聚类
								</label>
                            </div>
                            <p *ngIf="!diffData.length && !diffUpload.length && !geneType.length && doHeatmapAjax" class="center">缺少必要数据</p>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="diffData.length || diffUpload.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="diffError" (click)="heatmapConfirm('Diff')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="自定义数据">
                        <div class="tool-params-tab">
                            <p *ngIf="standList.length">标准化方法</p>
                            <nz-select *ngIf="standList.length" nz-tooltip nzTitle="{{'standardization.'+stand | translate}}" style="min-width: 120px; margin-top:1em;margin-bottom:1em;" [(ngModel)]="stand" nzPlaceHolder="stand">
                                <nz-option *ngFor="let s of standList;index as i;" [nzValue]="s.key" [nzLabel]="s.name"></nz-option>
                            </nz-select>
                            <p *ngIf="customData.length || customUpload.length">数据选择</p>
                            <span *ngIf="customData.length && customUpload.length">原始数据</span>
                            <div *ngIf="customData.length">
                                <button (click)="handlerHeatmapSelect(custom,'custom')" nz-tooltip [nzTitle]="custom['name']" [class.btnActive]="custom['checked']" *ngFor="let custom of customData;index as i;" nz-button nzType="default" nzSize="middle">{{custom['name']}}</button>
                            </div>
                            <span *ngIf="customUpload.length">上传数据</span>
                            <div *ngIf="customUpload.length">
                                <button (click)="handlerHeatmapSelect(customUp,'custom')" nz-tooltip [nzTitle]="customUp['name']" [class.btnActive]="customUp['checked']" *ngFor="let customUp of customUpload;index as i;" nz-button nzType="default" nzSize="middle">{{customUp['name']}}</button>
                            </div>
                            <nz-alert *ngIf="customError" nzShowIcon nzType="warning" nzMessage="请选择1~20组数据作图"></nz-alert>
                            <p *ngIf="customData.length && geneType.length">基因分类</p>
                            <div *ngIf="customData.length && geneType.length">
                                <button (click)="handlerGeneSelect(type)" nz-tooltip [nzTitle]="type['name']" [class.btnActive]="type['checked']" *ngFor="let type of geneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                                <!-- <nz-alert *ngIf="geneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert> -->
                                <br>
                                <label *ngIf="selectGeneType.length" nz-checkbox [(ngModel)]="clusterByGeneType" [nzDisabled]="!selectGeneType[0]['flag']">
									按照分类结果进行聚类
								</label>
                            </div>
                            <p *ngIf="!customData.length && !customUpload.length && !geneType.length && doHeatmapAjax" class="center">缺少必要数据</p>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="customData.length || customUpload.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="customError" (click)="heatmapConfirm('Custom')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                </nz-tabset>
            </nz-spin>
        </nz-drawer>

        <!-- 多组学 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='multiOmics'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis"></nz-spin>
            <ng-container *ngIf="multiOmicsData.length">
                <div class="tool-params-tab">
                    <button class="mb12 mr12" *ngFor="let mu of multiOmicsData;index as i;" nz-button nzType="default" nzSize="middle" (click)="multiOmicsClick(mu)" nz-tooltip [nzTitle]="mu['name']" [class.btnActive]="mu['checked']">{{mu['name']}}</button>
                    <nz-alert *ngIf="multiOmicsError || !multiOmicsSelect.length" nzShowIcon nzType="warning" nzMessage="请选择1-5个数据"></nz-alert>
                </div>
                <nz-divider></nz-divider>
                <div class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="multiOmicsError || !multiOmicsData.length" (click)="multiOmicsConfirm('multiOmics')" nzSize="middle">确定</button>
                </div>
            </ng-container>
            <p *ngIf="!multiOmicsData.length && doMultiOmicsAjax" class="center">缺少必要数据</p>
        </nz-drawer>

        <!-- 折线图 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='line'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <nz-tabset [nzSize]="'small'">
                    <nz-tab nzTitle="分组平均表达量" *ngIf="lineGroupData.length">
                        <div class="tool-params-tab">
                            <button (click)="lineClick('group',line)" nz-tooltip [nzTitle]="line['name']" [class.btnActive]="line['checked']" *ngFor="let line of lineGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                            <p *ngIf="!lineGroupData.length  && doLineAjax " class="center">缺少必要数据</p>
                            <nz-alert *ngIf="lineGroupError || !lineGroupSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择两个样本/比较组"></nz-alert>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="lineGroupData.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="lineGroupError || !lineGroupSelect.length" (click)="lineConfirm('line','group')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="单样本表达量" *ngIf="lineSampleData.length">
                        <div class="tool-params-tab">
                            <button (click)="lineClick('sample',line)" nz-tooltip [nzTitle]="line['name']" [class.btnActive]="line['checked']" *ngFor="let line of lineSampleData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                            <nz-alert *ngIf="lineSampleError || !lineSampleSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择两个样本/比较组"></nz-alert>
                            <p *ngIf="!lineSampleData.length && doLineAjax " class="center">缺少必要数据</p>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="lineSampleData.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="lineSampleError || !lineSampleSelect.length" (click)="lineConfirm('line','sample')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                    <nz-tab nzTitle="用户上传数据" *ngIf="lineCustomData.length">
                        <div class="tool-params-tab">
                            <button (click)="lineClick('custom',line)" nz-tooltip [nzTitle]="line['name']" [class.btnActive]="line['checked']" *ngFor="let line of lineCustomData;index as i;" nz-button nzType="default" nzSize="middle">{{line['name']}}</button>
                            <nz-alert *ngIf="lineCustomError || !lineCustomSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择两个样本/比较组"></nz-alert>
                            <p *ngIf="!lineCustomData.length && doLineAjax " class="center">缺少必要数据</p>
                        </div>
                        <nz-divider></nz-divider>
                        <div *ngIf="lineCustomData.length" class="tool-params-button-group">
                            <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                            <button nz-button nzType="primary" [disabled]="lineCustomError || !lineCustomSelect.length" (click)="lineConfirm('line','custom')" nzSize="middle">确定</button>
                        </div>
                    </nz-tab>
                </nz-tabset>

            </nz-spin>
        </nz-drawer>

        <!-- KDA -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='kda'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div class="tools-params-kda">
                    <nz-row class="mb12">
                        <span nz-col nzSpan="6">关键基因</span>
                        <nz-col nzSpan="10">
                            <nz-slider [nzMin]="kdaKeyGeneCountRange[0]" [nzMax]="kdaKeyGeneCountRange[1]" [(ngModel)]="kdaKeyGeneCountRange[2]" (ngModelChange)="handleKdaSliderChange($event,'key')"></nz-slider>
                        </nz-col>
                        <div nz-col nzSpan="2">
                            <nz-input-number [nzMin]="kdaKeyGeneCountRange[0]" [nzMax]="kdaKeyGeneCountRange[1]" [ngStyle]="{ 'marginLeft': '16px' }" [(ngModel)]="kdaKeyGeneCountRange[2]" (ngModelChange)="handleKdaSliderChange($event,'key')"></nz-input-number>
                        </div>
                    </nz-row>
                    <nz-row class="mb12">
                        <span nz-col nzSpan="6">关联基因</span>
                        <nz-col nzSpan="10">
                            <nz-slider [nzMin]="kdaRelationGeneCountRange[0]" [nzMax]="kdaRelationGeneCountRange[1]" [(ngModel)]="kdaRelationGeneCountRange[2]" (ngModelChange)="handleKdaSliderChange($event,'relation')"></nz-slider>
                        </nz-col>
                        <div nz-col nzSpan="2">
                            <nz-input-number [nzMin]="kdaRelationGeneCountRange[0]" [nzMax]="kdaRelationGeneCountRange[1]" [(ngModel)]="kdaRelationGeneCountRange[2]" (ngModelChange)="handleKdaSliderChange($event,'relation')" [ngStyle]="{ 'marginLeft': '16px' }"></nz-input-number>
                        </div>
                    </nz-row>
                    <nz-row>
                        <span nz-col nzSpan="6">score</span>
                        <nz-col nzSpan="10">
                            <nz-slider [nzMin]="kdaPpiScore[0]" [nzMax]="kdaPpiScore[1]" [(ngModel)]="kdaPpiScore[2]"></nz-slider>
                        </nz-col>
                        <div nz-col nzSpan="2">
                            <nz-input-number [nzMin]="kdaPpiScore[0]" [nzMax]="kdaPpiScore[1]" [(ngModel)]="kdaPpiScore[2]" [ngStyle]="{ 'marginLeft': '16px' }"></nz-input-number>
                        </div>
                    </nz-row>
                    <p *ngIf="kdaError" class="center">缺少score数据</p>
                </div>
                <nz-divider></nz-divider>
                <div class="tool-params-button-group" *ngIf="!kdaError">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" (click)="kdaConfirm('kda')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 卡方检验 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='chiSquare'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-kafun">
                    <div class="tool-params-kafun-top">
                        <!-- <div nz-row class="my-nz-row">
							<div nz-col nzSpan="8" class="my-nz-row">Data</div>
							<div nz-col nzSpan="16" class="my-nz-row">{{kaFunDataName}}</div>
						</div> -->
                        <div nz-row class="my-nz-row">
                            <div nz-col nzSpan="8" class="my-nz-row">Statistics</div>
                            <div nz-col nzSpan="16" class="my-nz-row">
                                <nz-select style="width: 160px;" [(ngModel)]="kaFunStatisticsName" nzAllowClear nzPlaceHolder="选择" (ngModelChange)="onkaFunChange($event)">
                                    <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of kaFunStatistics;index as i;"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="my-nz-row" *ngIf="kaFunGroupData.length">Classification</div>
                        <div class="tool-params-tab" *ngIf="kaFunGroupData.length">
                            <button (click)="kaFunClick(kaFun)" nz-tooltip [nzTitle]="kaFun['name']" [class.btnActive]="kaFun['checked']" *ngFor="let kaFun of kaFunGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{kaFun['name']}}</button>
                            <nz-alert *ngIf="kaFunGroupError || kaFunGroupData.length <= 1" nzShowIcon nzType="warning" nzMessage="请回到表格中添加至少2个可用于定性分析的列。"></nz-alert>
                            <nz-alert *ngIf="kaFunGroupError || kaFunGroupSelect.length != 2" nzShowIcon nzType="warning" nzMessage="请选择2个数据"></nz-alert>
                            <p *ngIf="!kaFunGroupData.length && doKaFunAjax" class="center">缺少必要数据</p>
                        </div>
                        <!-- <p *ngIf="kaFunGroupData.length == 1" class="left" style="color:red">请回到表格中添加至少2个可用于定性分析的列。</p> -->
                    </div>
                </div>
                <div class="tool-params-button-group" *ngIf="kaFunGroupData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="kaFunGroupError || kaFunGroupSelect.length != 2 || kaFunGroupData.length < 2" (click)="kaFunConfirm('chiSquare')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 可变剪切 -->
        <!-- <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='relativeSplice'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()" >
            <nz-spin nzTip='正在提交重分析，请稍后...'  [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-kafun">
                    <div class="tool-params-kafun-top">
                        <div nz-row class="my-nz-row">
                            <div nz-col nzSpan="8" class="my-nz-row">Data</div>
                            <div nz-col nzSpan="16" class="my-nz-row">{{kaFunDataName}}</div>
                        </div>
                        <div nz-row class="my-nz-row">
                            <div nz-col nzSpan="8" class="my-nz-row">Statistics</div>
                            <div nz-col nzSpan="16" class="my-nz-row">
                                <nz-select style="width: 160px;" [(ngModel)]="kaFunStatisticsName" nzAllowClear nzPlaceHolder="选择" (ngModelChange)="onkaFunChange($event)">
                                    <nz-option nzValue="{{item}}" nzLabel="{{item}}" *ngFor="let item of kaFunStatistics;index as i;"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div nz-row class="my-nz-row" *ngIf="kaFunGroupData.length">Classification</div>
                        <div class="tool-params-tab" *ngIf="kaFunGroupData.length">
                            <button (click)="kaFunClick(kaFun)" [class.btnActive]="kaFun['checked']" *ngFor="let kaFun of kaFunGroupData;index as i;" nz-button nzType="default" nzSize="middle">{{kaFun['name']}}</button>
                            <nz-alert *ngIf="kaFunGroupError || !kaFunGroupSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                            <p *ngIf="!kaFunGroupData.length" class="center">缺少必要数据</p>
                        </div>
                    </div>
                </div>
                <div class="tool-params-button-group" *ngIf="kaFunGroupData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="kaFunGroupError || !kaFunGroupSelect.length"  (click)="kaFunConfirm('chiSquare')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer> -->

        <!-- 网络图 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='net'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-net">
                    <div class="tool-params-tab">
                        <button class="mr6 mb6" (click)="netClick(net)" nz-tooltip [nzTitle]="net['name']" [class.btnActive]="net['checked']" [hidden]="netGeneType!=='gene' && net['key']=='ggi'" *ngFor="let net of netData;index as i;" nz-button nzType="default" nzSize="middle">{{net['name']}}</button>
                        <p *ngIf="!netData.length && doNetAjax" class="center">缺少必要数据</p>
                        <nz-alert class="mb6" *ngIf="netError || !netSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                    </div>
                    <!-- 参数选择 -->
                    <div class="tools-prams-content">
                        <nz-row class="mb12" *ngFor="let par of netSelect;index as i;">
                            <nz-divider nzText="{{par['name']}} 参数" nzOrientation="left"></nz-divider>
                            <nz-col nzSpan="6"><span>min Score</span></nz-col>
                            <nz-col nzSpan="10">
                                <nz-slider [nzStep]="0.1" [nzMin]="par['score'][0]" [nzMax]="par['score'][1]" [(ngModel)]="par['score'][2]"></nz-slider>
                            </nz-col>
                            <nz-col nzSpan="6" [nzPush]="1">
                                <nz-input-number [nzMin]="par['score'][0]" [nzMax]="par['score'][1]" [(ngModel)]="par['score'][2]"></nz-input-number>
                            </nz-col>
                        </nz-row>
                    </div>
                </div>
                <nz-divider></nz-divider>
                <div class="tool-params-button-group" *ngIf="netData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="netError || !netSelect.length" (click)="netConfirm('net')" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 关联网络图 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='linkedNetwork'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }"
            [nzWrapClassName]="'params-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-relativeNet">
                    <div class="tool-params-tab">
                        <button class="mr6 mb6" (click)="relativeNetClick(relativeNet)" nz-tooltip [nzTitle]="relativeNet['name']" [class.btnActive]="relativeNet['checked']" *ngFor="let relativeNet of relativeNetData;index as i;" nz-button nzType="default" nzSize="middle">{{relativeNet['name']}}</button>
                        <p *ngIf="!relativeNetData.length && doRelativeNetAjax " class="center">缺少必要数据</p>
                        <nz-alert class="mb6" *ngIf="!relativeNetError && !relativeNetSelect.length" nzShowIcon nzType="warning" nzMessage="请至少选择一个数据"></nz-alert>
                    </div>
                    <!-- 参数选择 -->
                    <!-- <div class="tools-prams-content">
                            <ng-container *ngFor="let par of relativeNetSelect;index as i;">
                                <nz-row>
                                    <nz-divider nzText="{{par['name']}} 参数" nzOrientation="left"></nz-divider>
                                    <nz-col nzSpan="6"><span>min Score</span></nz-col>
                                    <nz-col nzSpan="10">
                                        <nz-slider [nzStep]="0.1" [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"  [(ngModel)]="par['score'][2]"></nz-slider>
                                    </nz-col>
                                    <nz-col nzSpan="6" [nzPush]="1">
                                        <nz-input-number [nzMin]="par['score'][0]" [nzMax]="par['score'][1]"   [(ngModel)]="par['score'][2]"></nz-input-number>
                                    </nz-col>
                                </nz-row>
                                <nz-row class="mb12">
                                    <nz-col nzSpan="6">max num</nz-col>
                                    <nz-col nzSpan="13">
                                        <nz-row>
                                            <nz-col>
                                                <nz-radio-group [(ngModel)]="par['limit']">
                                                    <label nz-radio [nzValue]="true">limit</label>
                                                    <label nz-radio [nzValue]="false">no limit</label>
                                                </nz-radio-group>
                                            </nz-col>
                                        </nz-row>
                                        <nz-row>
                                            <nz-col nzSpan="20">
                                                <nz-slider [nzMin]="par['max'][0]" [nzMax]="par['max'][1]"  [(ngModel)]="par['max'][2]" [nzDisabled]="!par['limit']"></nz-slider>
                                            </nz-col>
                                            <nz-col nzSpan="1"></nz-col>
                                            <nz-col nzSpan="1">
                                                <nz-input-number [nzMin]="par['max'][0]" [nzDisabled]="!par['limit']" [nzMax]="par['max'][1]"   [(ngModel)]="par['max'][2]"></nz-input-number>
                                            </nz-col>
                                        </nz-row>
                                    </nz-col>
                                </nz-row>
                            </ng-container>
                        </div> -->
                </div>
                <nz-divider></nz-divider>
                <div class="tool-params-button-group" *ngIf="relativeNetData.length">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="relativeNetError || !relativeNetSelect.length" (click)="relativeNetConfirm()" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 关联聚类 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='heatmapRelation'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }"
            [nzWrapClassName]="'params-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div class="tool-params-tab">
                    <!-- 去掉标准化 <p *ngIf="heatmapReStand.length">标准化</p>
                    <nz-select *ngIf="heatmapReStand.length" style="width: 120px; margin-top:1em;margin-bottom:1em;" [(ngModel)]="heatmapReSelectStand" nzPlaceHolder="stand">
                        <nz-option *ngFor="let s of heatmapReStand;index as i;" [nzValue]="s" [nzLabel]="s"></nz-option>
                    </nz-select> -->

                    <p *ngIf="heatmapReRelations.length ">关系选择</p>
                    <div>
                        <button (click)="handlerReRelationSelect(relation)" nz-tooltip [nzTitle]="relation['name']" [class.btnActive]="relation['checked']" *ngFor="let relation of heatmapReRelations;index as i;" nz-button nzType="default" nzSize="middle">{{relation['name']}}</button>
                    </div>
                    <nz-alert *ngIf="heatmapReError" nzShowIcon nzType="warning" nzMessage="请选择一个关系"></nz-alert>
                    <!-- <div *ngIf="heatmapReSelectRelation.length">
                            <nz-row>
                                <nz-col nzSpan="6"><span>min Score</span></nz-col>
                                <nz-col nzSpan="10">
                                    <nz-slider [nzStep]="0.1" [nzMin]="heatmapReSelectRelation[0]['score'][0]" [nzMax]="heatmapReSelectRelation[0]['score'][1]"  [(ngModel)]="heatmapReSelectRelation[0]['score'][2]"></nz-slider>
                                </nz-col>
                                <nz-col nzSpan="6" [nzPush]="1">
                                    <nz-input-number [nzMin]="heatmapReSelectRelation[0]['score'][0]" [nzMax]="heatmapReSelectRelation[0]['score'][1]"   [(ngModel)]="heatmapReSelectRelation[0]['score'][2]"></nz-input-number>
                                </nz-col>
                            </nz-row>
                            <nz-row class="mb12">
                                <nz-col nzSpan="6">max num</nz-col>
                                <nz-col nzSpan="13">
                                    <nz-row>
                                        <nz-col>
                                            <nz-radio-group [(ngModel)]="heatmapReSelectRelation[0]['limit']">
                                                <label nz-radio [nzValue]="true">limit</label>
                                                <label nz-radio [nzValue]="false">no limit</label>
                                            </nz-radio-group>
                                        </nz-col>
                                    </nz-row>
                                    <nz-row>
                                        <nz-col nzSpan="20">
                                            <nz-slider [nzMin]="heatmapReSelectRelation[0]['max'][0]" [nzMax]="heatmapReSelectRelation[0]['max'][1]"  [(ngModel)]="heatmapReSelectRelation[0]['max'][2]" [nzDisabled]="!heatmapReSelectRelation[0]['limit']"></nz-slider>
                                        </nz-col>
                                        <nz-col nzSpan="1"></nz-col>
                                        <nz-col nzSpan="1">
                                            <nz-input-number [nzMin]="heatmapReSelectRelation[0]['max'][0]" [nzDisabled]="!heatmapReSelectRelation[0]['limit']" [nzMax]="heatmapReSelectRelation[0]['max'][1]"   [(ngModel)]="heatmapReSelectRelation[0]['max'][2]"></nz-input-number>
                                        </nz-col>
                                    </nz-row>
                                </nz-col>
                            </nz-row>
                        </div> -->

                    <p *ngIf="heatmapReGeneType.length">基因分类</p>
                    <div *ngIf="heatmapReGeneType.length">
                        <button (click)="handlerReGeneSelect(type)" [class.btnActive]="type['checked']" *ngFor="let type of heatmapReGeneType;index as i;" nz-button nzType="default" nzSize="middle">{{type['name']}}</button>
                        <!-- <nz-alert *ngIf="heatmapReGeneTypeError" nzShowIcon nzType="warning" nzMessage="基因分类不能大于2个"></nz-alert> -->
                        <br>
                        <label *ngIf="heatmapReSelectGeneType.length" nz-checkbox [(ngModel)]="reClusterByGeneType" [nzDisabled]="!heatmapReSelectGeneType[0]['flag']">
                            按照分类结果进行聚类
                        </label>
                    </div>
                    <p *ngIf="!heatmapReGeneType.length && !heatmapReRelations.length && doHeatmapRelationAjax" class="center">缺少必要数据</p>
                </div>
                <nz-divider></nz-divider>
                <div *ngIf="heatmapReRelations.length" class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="!heatmapReSelectRelation || heatmapReError" (click)="heatmapRelationConfirm()" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 基因分类 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='classification'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }"
            [nzWrapClassName]="'params-wrap'" [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div *ngIf="geneClassData.length">
                    <div class="tool-params-tab" *ngFor="let item of geneClassData;index as i;">
                        <p>{{item['key']}}</p>
                        <button class="mb12 mr12" (click)="handlerGeneClassSelect(klass)" nz-tooltip [nzTitle]="klass['name']" [class.btnActive]="klass['checked']" *ngFor="let klass of item['value'];" nz-button nzType="default" nzSize="middle">{{klass['name']}}</button>
                    </div>
                    <nz-alert *ngIf="!geneClassSelect.length" nzShowIcon nzType="warning" nzMessage="请选择一个分类"></nz-alert>
                </div>
                <p *ngIf="!geneClassData.length && doGeneClassAjax" class="center">缺少必要数据</p>
                <nz-divider></nz-divider>
                <div *ngIf="geneClassData.length" class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="!geneClassSelect.length || geneClassError" (click)="geneClassConfirm()" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- 基因富集 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='enrichment'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="376" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <div *ngIf="geneRichData.length">
                    <div class="tool-params-tab" *ngFor="let item of geneRichData;index as i;">
                        <p>{{item['key']}}</p>
                        <button class="mb12 mr12" (click)="handlerGeneRichSelect(rich)" nz-tooltip [nzTitle]="rich['name']" [class.btnActive]="rich['checked']" *ngFor="let rich of item['value'];index as i;" nz-button nzType="default" nzSize="middle">{{rich['name']}}</button>
                    </div>
                    <nz-alert *ngIf="!geneRichSelect.length" nzShowIcon nzType="warning" nzMessage="请选择一个分类"></nz-alert>
                </div>
                <p *ngIf="!geneRichData.length && doGeneRichAjax" class="center">缺少必要数据</p>
                <nz-divider></nz-divider>
                <div *ngIf="geneRichData.length" class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="!geneRichSelect.length || geneRichError" (click)="geneRichConfirm()" nzSize="middle">确定</button>
                </div>
            </nz-spin>
        </nz-drawer>

        <!-- GSEA富集 -->
        <nz-drawer [nzTitle]="titleTpl" [nzVisible]="toolsService['visible'] && childVisible && selectType=='gsea'" [nzClosable]="false" [nzMaskStyle]="{ 'background-color': 'transparent' }" [nzMaskClosable]="true" [nzBodyStyle]="{ padding: '12px' }" [nzWrapClassName]="'params-wrap'"
            [nzWidth]="396" nzPlacement="right" (nzOnClose)="handlerChildClose()">
            <nz-spin nzTip='正在提交重分析，请稍后...' [nzSpinning]="isSubmitReanalysis">
                <nz-alert  nzType="info" [nzMessage]="'useage14' | translate" nzShowIcon></nz-alert>
                <!-- 1.选择样本 -->
                <p style="margin-top: 0.5em;">1.选择样本</p>
                <nz-row class="mb12" nzAlign="middle">
                    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="geasTopRadioChange()">
                        <label nz-radio nzValue="A">按组选择</label>
                        <label nz-radio nzValue="B">自定义</label>
                    </nz-radio-group>
                </nz-row>
                <nz-row class="mb12" nzAlign="middle" *ngIf="radioAFlag">
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="6">对照组：</div>
                        <div nz-col nzSpan="18">
                                <nz-select
                                style="width: 100%;"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="请选择对照组"
                                [(ngModel)]="radioASecond"
                                (ngModelChange)="geasASelectChange()"
                              >
                              <nz-option [nzLabel]="item.value" [nzValue]="item.value" *ngFor="let item of controlGroup" [nzDisabled]="item.flag"></nz-option>
                              </nz-select>
                        </div>
                    </nz-row>
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="6">处理组：</div>
                        <div nz-col nzSpan="18">
                            <nz-select
                                style="width: 100%;"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="请选择处理组"
                                [(ngModel)]="radioAFrist"
                                (ngModelChange)="geasAFristSelectChange()"
                                >
                                <nz-option [nzLabel]="item.value" [nzValue]="item.value" *ngFor="let item of handleGroup" [nzDisabled]="item.flag"></nz-option>
                            </nz-select>
                        </div>
                    </nz-row>
                </nz-row>


                <nz-row class="mb12" nzAlign="middle" *ngIf="radioBFlag">
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="6">对照组：</div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder="请输入组名" [(ngModel)]="inputBFrist" (ngModelChange)="inputBFristChange()" />
                        </div>
                    </nz-row>
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="18" nzOffset="6">
                            <nz-select style="width: 100%" [(ngModel)]="selectBFristTag" nzSize="size" nzMode="tags" nzPlaceHolder="请选择样本" (ngModelChange)="geasBSelectChange()">
                                <nz-option *ngFor="let option of controlGroup2" [nzLabel]="option.value" [nzValue]="option.value" [nzDisabled]="option.flag"></nz-option>
                            </nz-select>
                        </div>
                    </nz-row>
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="6">处理组：</div>
                        <div nz-col nzSpan="18">
                            <input nz-input placeholder="请输入组名" [(ngModel)]="inputBSecond" (ngModelChange)="inputBSecondChange()" />
                        </div>
                    </nz-row>
                    <nz-row class="mb12" nzType="flex" nzAlign="middle">
                        <div nz-col nzSpan="18" nzOffset="6">
                            <nz-select style="width: 100%" [(ngModel)]="selectBSecondTag" nzSize="default" nzMode="tags" nzPlaceHolder="请选择样本" (ngModelChange)="geasBSecondSelectChange()">
                                <nz-option *ngFor="let option of handleGroup2" [nzLabel]="option.value" [nzValue]="option.value" [nzDisabled]="option.flag"></nz-option>
                            </nz-select>
                        </div>
                    </nz-row>
                    
                </nz-row>

                <!-- 2.过滤阈值 -->
                <p>2.过滤阈值</p>
                <nz-row class="mb12" nzType="flex" nzAlign="middle">
                    <span nz-col nzSpan="17" style="font-size: 13px;">Max size (exclude larger sets)：</span>
                    <div nz-col nzSpan="1">
                        <nz-input-number style="width:70px;" nzSize="default"  [nzMin]="gaeaRange[0]" [nzMax]="gaeaRange[1]"  [(ngModel)]="gseaMax" (ngModelChange)="gseaMaxChange($event)"></nz-input-number>
                    </div>
                </nz-row>
                <p *ngIf="maxFlag" style="color:red;">不能小于Min size (exclude smaller sets)的值</p>
                <nz-row class="mb12" nzType="flex" nzAlign="middle">
                    <span nz-col nzSpan="17" style="font-size: 13px;">Min size (exclude smaller sets)：</span>
                    <div nz-col nzSpan="1">
                        <nz-input-number style="width:70px;" nzSize="default" [nzMin]="gaeaRange[0]" [nzMax]="gaeaRange[1]" [(ngModel)]="gseaMin" (ngModelChange)="gseaMinChange($event)"></nz-input-number>
                    </div>
                </nz-row>
                <p *ngIf="minFlag" style="color:red;">不能大于Max size (exclude larger sets)的值</p>

                <!-- 3.数据库 -->
                <p>3.数据库</p>
                <nz-row class="mb12" nzAlign="middle" *ngIf="this.gseaDataBaseLeft.length>0 && this.gseaDataBaseRight.length>0">
                    <nz-radio-group [(ngModel)]="radioDataBase" (ngModelChange)="geasBottomRadioChange()">
                        <label nz-radio nzValue="A">GESA MSigDB</label>
                        <label nz-radio nzValue="B">其他数据库</label>
                    </nz-radio-group>
                </nz-row>

                <p *ngIf="baseFlag&&this.gseaDataBaseLeft.length>0" style="color: gray;font-size: 12px;">注：人的MSigDB来自于GSEA官方数据库，其它物种根据序列相似性比对得到。</p>
                <nz-row class="mb12" nzAlign="middle" *ngIf="baseFlag">
                    <div class="tool-params-tab">
                        <button class="mb12 mr12" (click)="selectDataBaseLeft(temp)" nz-tooltip [nzTitle]="temp['name']" [class.btnActive]="temp['checked']" nz-button nzType="default" nzSize="middle" *ngFor="let temp of gseaDataBaseLeft;index as i;">{{temp['name']}}</button>
                    </div>
                </nz-row>
                <nz-row class="mb12" nzAlign="middle" *ngIf="baseFlag2">
                    <div class="tool-params-tab" *ngFor="let item of gseaDataBaseRight;index as i;">
                        <p>{{item['key']}}</p>
                        <button class="mb12 mr12" (click)="selectDataBaseRight(tt)" nz-tooltip [nzTitle]="tt['name']" [class.btnActive]="tt['checked']" *ngFor="let tt of item['value'];index as i;" nz-button nzType="default" nzSize="middle">{{tt['name']}}</button>
                    </div>
                </nz-row>

                <div class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="gseaClassError" (click)="gseaRichConfirm()" nzSize="middle">确定</button>
                </div>
                <!-- <div *ngIf="geneRichData.length">
                    <div class="tool-params-tab" *ngFor="let item of geneRichData;index as i;">
                        <p>{{item['key']}}</p>
                        <button class="mb12 mr12" (click)="handlerGeneRichSelect(rich)" nz-tooltip [nzTitle]="rich['name']" [class.btnActive]="rich['checked']" *ngFor="let rich of item['value'];index as i;" nz-button nzType="default" nzSize="middle">{{rich['name']}}</button>
                    </div>
                    <nz-alert *ngIf="!geneRichSelect.length" nzShowIcon nzType="warning" nzMessage="请选择一个分类"></nz-alert>
                </div>
                <p *ngIf="!geneRichData.length && doGeneRichAjax" class="center">缺少必要数据</p>
                <nz-divider></nz-divider>
                <div *ngIf="geneRichData.length" class="tool-params-button-group">
                    <button nz-button nzType="default" (click)="cancel()" nzSize="middle">取消</button>
                    <button nz-button nzType="primary" [disabled]="!geneRichSelect.length || geneRichError" (click)="geneRichConfirm()" nzSize="middle">确定</button>
                </div> -->
            </nz-spin>
        </nz-drawer>
    </nz-drawer>
</div>