<!-- 增删列demo -->
<div class="transformation-table-component">
    <h4 *ngIf="geneCollectionId" (click)="deleteGeneCollection()">
        geneCollectionId:{{ geneCollectionId }}
    </h4>
    <div *ngIf="isFirst" id="default-gene-table">
        <app-geneTable
            #defaultTable
            [url]="defaultTableUrl"
            [pageEntity]="defaultTableEntity"
            [tableId]="defaultTableId"
            [defaultChecked]="defaultTableDefaultChecked"
            [tableHeight]="tableHeight"
            [tableType]="defaultTableType"
            [(emitBaseThead)]="defaultEmitBaseThead"
            (emitBaseTheadChange)="handlerDefaultEmitChange($event)"
            (baseTheadChange)="handlerDefaultBaseTheadChange($event)"
            [checkStatusInParams]="defaultTableCheckStatusInParams"
            [(resetCheckGraph)]="resetCheckGraph"
            (resetCheckGraphChange)="handleResetCheckGraphChange($event)"
            (selectGeneCountChange)="handleSelectGeneCountChange($event)"
            [defaultMartix]="defaultMartix"
            [(computedScrollHeight)]="computedScrollHeight"
            (computedScrollHeightChange)="handlerComputedScrollHeightChange($event)"
        ></app-geneTable>
    </div>
    <div *ngIf="!isFirst" id="extend-gene-table">
        <app-geneTable
            #extendTable
            [url]="extendTableUrl"
            [pageEntity]="extendTableEntity"
            [tableId]="extendTableId"
            [defaultChecked]="extendTableDefaultChecked"
            [tableHeight]="tableHeight"
            [tableType]="'transform'"
            [(emitBaseThead)]="extendEmitBaseThead"
            (emitBaseTheadChange)="handlerExtendEmitChange($event)"
            (baseTheadChange)="handlerExtendBaseTheadChange($event)"
            [checkStatusInParams]="extendTableCheckStatusInParams"
            [(applyOnceSearchParams)]="applyOnceSearchParams"
            (applyOnceSearchParamsChange)="handlerApplyOnceSearchParamsChange($event)"
            (selectGeneCountChange)="handleSelectGeneCountChange($event)"
            [(computedScrollHeight)]="computedScrollHeight"
            (computedScrollHeightChange)="handlerComputedScrollHeightChange($event)"
        ></app-geneTable>
    </div>
</div>
