<!-- 增删列demo -->
<div class="transformation-table-component">
    <h4 *ngIf="geneCollectionId" (click)="deleteGeneCollection()">geneCollectionId:{{geneCollectionId}}</h4>
    <div *ngIf="isFirst" id="default-gene-table">
        <app-geneTable #defaultTable [url]="defaultTableUrl" [pageEntity]="defaultTableEntity" [tableId]="defaultTableId"
             [defaultChecked]="defaultTableDefaultChecked" [tableHeight]="tableHeight" [checkStatusInParams]="defaultTableCheckStatusInParams"></app-geneTable>
    </div>
    <div *ngIf="!isFirst" id="extend-gene-table">
        <app-geneTable #extendTable [url]="extendTableUrl" [pageEntity]="extendTableEntity" [tableId]="extendTableId"
            [defaultChecked]="extendTableDefaultChecked" [tableHeight]="tableHeight" [checkStatusInParams]="extendTableCheckStatusInParams" [tableType]="'transform'"></app-geneTable>
    </div>
</div>
