<!-- venn -->
<div class="content gene-list-content row venn">
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <div class="left-top-layout">
            <h4>
                <i (click)="moduleDescChange()" [nzTitle]="'moduleDesc.expand' | translate" nz-tooltip class="iconfont icon-theme pointer expand-icon" [class.icon-zhankai]="!expandModuleDesc"></i>
                <i (click)="moduleDescChange()" [nzTitle]="'moduleDesc.unexpand' | translate" nz-tooltip class="iconfont icon-theme pointer expand-icon" [class.icon-shouqi]="expandModuleDesc"></i>
                {{'diff_venn.diff_venn_title' | translate}}
            </h4>
            <p [hidden]="!expandModuleDesc">{{'diff_venn.diff_venn_content' | translate}}</p>
            <ng-content select=".gene-switch-module"></ng-content>
        </div>
        <div class="left-bottom-layout" *ngIf="getGeneListDone">
            <!-- <app-table-switch-chart
                #tableSwitchChart
                [id]="'tableSwitchChart'"
                [isHasMultiSelect]="true"
                [(isMultiSelect)]="isMultiSelect"
                (isMultiSelectChange)="multiSelectChange()"
                (multipleConfirmEmit)="multipleConfirm()"
                [tableUrl]="tableUrl"
                [apiEntity]="tableEntity"
                [isShowAccuracy]="true"
                (drawChartEmit)="drawVenn($event)"
                [selectPanelData]="selectPanelData"
                (selectConfirmEmit)="selectConfirm($event)"
                [defaultSelectNum]="1"
                (defaultSelectList)="defaultSelectList($event)"
                [isVennTable]="true"
                [flex]="true"
                [chartId]="'diffVennId'"
                [chartName]="'韦恩图'"
                (refresh)="handlerRefresh()"
            >
            </app-table-switch-chart> -->
            <div class="tableSwitchChart" [class.table-switch-chart-flex]="flex" [class.full-height]="flex" id="geneListTableSwitchChart">
                <nz-spin [nzSpinning]="chartLoading" nzTip='Loading...' [class.extend-height]="flex">
                    <div class="flex column" [class.extend-height]="flex">
                        <div class="table-thead tableHeader">
                            <div class="fLeft">
                                <!-- 图表切换按钮 *ngIf="beforeSelectPanelEntity['setNameList'].length>1"-->
                                <button  nz-button [class.btnActive]="!isShowTable" [nzSize]="'small'" nzType="default" (click)="isShowTable=false" nz-tooltip nzTitle="{{'view.s_view' | translate}}">
                                    <i class="anticon anticon-area-chart"></i>
                                </button>
                                <button  nz-button [class.btnActive]="isShowTable" [nzSize]="'small'" nzType="default" (click)="isShowTable=true" nz-tooltip nzTitle="{{'view.t_view' | translate}}">
                                    <i class="anticon anticon-table"></i>
                                </button>
                                <!-- 选择面板 显示隐藏icon -->
                                <span *ngIf="selectPanelData.length" style="margin-left:10px" (click)='toggleSelectPanel()'>
                                    <i class="iconfont" [class.icon-zhankai]="!isShowSelectPanel" [class.icon-shouqi]="isShowSelectPanel"></i>
                                </span>
                            </div>
                            <div class="fRight">
                                <!-- 单选、多选 -->
                                <nz-switch style="vertical-align: middle;margin-top: -5px;" *ngIf="!isShowTable && !chartError" class="switchBtn" [(ngModel)]="isMultiSelect" (ngModelChange)="multiSelectChange()" nzCheckedChildren="{{'tableButton.multiple' | translate}}" nzUnCheckedChildren="{{'tableButton.single' | translate}}"></nz-switch>
                                <button *ngIf="!isShowTable && !chartError" class="multiConfirmBtn" nz-button nzType="primary" [nzSize]="'small'" [disabled]="!isMultiSelect" (click)="multipleConfirm()">{{'tableButton.confirm' | translate}}</button>
                                <!-- 下拉选择 [nzMaxMultipleCount]="3"-->
                                <nz-select  style="max-width: 360px;min-width:140px;margin-right:6px;"  nzMode="multiple" nzPlaceHolder="please select tag" [(ngModel)]="selectPanelEntity['tag']" (ngModelChange)="handleTagSelectChange()">
                                    <nz-option *ngFor="let tag of tagList" [nzLabel]="tag" [nzValue]="tag"></nz-option>
                                </nz-select>
                                <!-- 刷新-->
                                <!-- <i *ngIf="tableUrl && isShowTable" class="iconfont icon-shuaxin" (click)="handlerRefresh()" nz-tooltip [nzTitle]="'tableButton.refresh' | translate"></i>
                                 <i *ngIf="tableUrl && !isShowTable" class="iconfont icon-shuaxin" (click)="handlerRefresh()" nz-tooltip [nzTitle]="'tableButton.refresh' | translate"></i> -->
                                <!--表下载  -->
                                <i class="iconfont icon-xiazai" *ngIf="isShowTable && !chartError" nz-tooltip [nzTitle]="'tableButton.download' | translate"></i>
                                <!-- 图下载 -->
                                <app-chart-export *ngIf="!isShowTable && !chartError" [chartId]="'geneListTableSwitchChart_chart'" chartName="基因集"></app-chart-export>
                            </div>
                        </div>
                        <div #tableContent class="table-content" style="flex:1;display: flex;flex-direction: column;padding: 0 1px;">
                            <!-- 选择面板 -->
                            <div  class="selectPanel" *ngIf="isShowSelectPanel  && selectPanelData.length">
                                <div class="selectContent">
                                    <div>
                                        <span>genelist</span>&nbsp;
                                        <ng-container *ngFor="let item of selectPanelData">
                                            <span class="closeable-button" *ngIf="!item['setName'].length">
                                                <button nz-button   nzType="default" [nzSize]="'small'"  [class.btnActive]="item['checked']" (click)="handleGeneListClick(item)">{{item['setName']}}
                                                </button>
                                                <i class="anticon anticon-close" (click)="handleDelete(item)"></i>
                                            </span>
                                            <span class="closeable-button" *ngIf="item['setName'].length">
                                                <button  nz-button  nz-tooltip [nzTitle]="item['setAnnot']"  nzType="default" [nzSize]="'small'"  [class.btnActive]="item['checked']" (click)="handleGeneListClick(item)">{{item['setName']}}
                                                </button>
                                                <i class="anticon anticon-close" (click)="handleDelete(item)"></i>
                                            </span>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="right">
                                    <button nz-button nzType="primary" [nzSize]="'small'" (click)="selectConfirm()" [disabled]="!selectPanelData.length">{{'tableButton.confirm' | translate}}</button>
                                </div>
                            </div>
                            <!-- 图和表的容器 -->
                            <div #tableChartContent  class="table-chart-content" [class.center-flex]="!isShowTable && !chartError" style="flex:1;border-bottom: 1px solid rgba(234, 234, 235, 0.95);" [ngStyle]="{'overflow':!isShowTable?'auto':'hidden'}">
                                <!-- veen/upsetR表 -->
                                <nz-table *ngIf=" isShowTable && !chartError && tableData['rows']" nzShowPagination="false" [nzData]="tableData['rows']" [nzScroll]="scroll" [nzSize]="'small'">
                                    <thead>
                                        <tr>
                                            <th class="center" nzWidth="120px" nz-tooltip>name</th>
                                            <th class="center" nzWidth="120px" nz-tooltip>value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tableData['rows']">
                                            <td class="center">{{row['name']}}</td>
                                            <td class="center">{{row['value'] | accuracyPipe : accuracy : "double"}}</td>
                                        </tr>
                                    </tbody>
                                </nz-table>

                                <!-- chart -->
                                <div class="center chart" style="margin: 0 auto;min-width:480px;"  id="geneListTableSwitchChart_chart" [hidden]="isShowTable || chartError"></div>

                                <!-- error -->
                                <app-error *ngIf="chartError" [error]="chartError"></app-error>
                            </div>
                        </div>
                    </div>
                </nz-spin>
            </div>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right  class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
        <div class="switch">
            <app-layout-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"> </app-layout-switch>
        </div>
        <div class="func" #func (click)="resize($event)">
            <!-- 增删列 -->
            <app-add-column #addColumn (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)" [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="defaultGeneType" ></app-add-column>
            <!-- 关系 -->
            <app-gene-relative class="ml-12" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
            <!-- 返回 -->
            <button class="ml12" *ngIf="!addColumnShow && showBackButton" [nzSize]="small" nz-button nzType="Default" (click)="back()">返回</button>
            <!-- 只看表 -->
            <!-- <i *ngIf="!addColumnShow" class="iconfont only-table" [class.icon-biaogezhankai]="!onlyTable" [class.icon-biaogeshouqi]="onlyTable"  [nzTitle]="(onlyTable?'unExpandTable':'expandTable') | translate" nz-tooltip [class.active]="onlyTable" (click)="handleOnlyTable()"></i> -->
        </div>
        <!-- 表格转换 [defaultShowFilterStatus]="defaultShowFilterStatus"-->
        <app-table-transformation
            *ngIf="getGeneListDone"
            class="no-outside-border"
            #transformTable
            [isFirst]="first"
            [tableHeight]="tableHeight"
            [defaultTableEntity]="defaultEntity"
            [defaultTableUrl]="defaultUrl"
            [defaultTableId]="defaultTableId"
            [defaultTableDefaultChecked]="defaultDefaultChecked"
            [(defaultEmitBaseThead)]="defaultEmitBaseThead"
            (defaultBaseTheadChange)="baseTheadChange($event)"
            [defaultTableCheckStatusInParams]="defaultCheckStatusInParams"
            [extendTableEntity]="extendEntity"
            [extendTableUrl]="extendUrl"
            [extendTableId]="extendTableId"
            [extendTableDefaultChecked]="extendDefaultChecked"
            [(extendEmitBaseThead)]="extendEmitBaseThead"
            (extendBaseTheadChange)="baseTheadChange($event)"
            [extendTableCheckStatusInParams]="extendCheckStatusInParams"
            [(applyOnceSearchParams)]="applyOnceSearchParams"
            (selectGeneCountChange)="handleSelectGeneCountChange($event)"
            [(computedScrollHeight)]="computedScrollHeight"
        ></app-table-transformation>
    </div>
</div>

