// 改变主题 只需要改变 $them_color 和 theme.less 的@parimary-color
$them_color: #5278f8; // 主题色
$background_color: rgb(247, 247, 248); // 全局背景色
$menu_font_color: rgb(137, 144, 161); // 菜单字体颜色
$menu_active_font_color: #5278f8; // 菜单字激活颜色
$menu_active_bg_color:#f8f8f8;
$border: 1px solid rgba(234, 234, 235, 0.95); // 全局border
$border-color: rgba(234, 234, 235, 0.95); // border 颜色
$boxshadow: rgba(0, 0, 0, 0.08) 0px 1px 2px; // 模块阴影
$padding: 12px; // 所有模块统一留白
$btn_active_color: #5278f8; // 按钮激活颜色
$table_header_bgcolor: #f5f5f5; // 表格头部背景色
$min-width: 1350px; // 页面最小宽度
$layout_switch_bgcolor:#ccc; // 布局切换按钮的背景色
// $close_icon_bg:rgb(153, 154, 154); // 关闭按钮的背景色
// $close_icon_color:#fff; // 关闭按钮的颜色
$font_active_color:#5278f8;

// flex 兼容
@mixin display-flex {
    display: flex;
    display: -webkit-flex;
}

// 按钮hover动画 颜色控制box-shadow颜色 默认透明度0.2
@mixin hover-animate($color: #fff) {
    transition: 0.6s all ease;
    opacity: 1;
    transform: translateY(-2px);
    box-shadow: rgba($color, 0.2) 0px 5px 12px;
}

// 二级菜单的按钮
@mixin submenu-button($color: $them_color) {
    @include display-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 12px;
    width: 134px;
    height: 35px;
    font-weight: 700;
    border-radius: 18px;
    text-align: center;
    border: 1px solid $color;
    color: $color;
    background: rgb(255, 255, 255);
}

// 每一格小模块的样式
@mixin module-style {
    // overflow: auto;
    box-shadow: $boxshadow;
    background-color: #fff;
}
