<div class="content base-content help">
    <h2 class="title">6.帮助</h2>
    <hr class="mhr" />

    <div class="help_option">
        <!-- 实验流程 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 0">6.1 实验流程</h3>
            <h3 class="title" *ngIf="mflag == 3">6.1.1 实验流程</h3>
            <div class="img_one" *ngIf="tflag == 4"></div>
            <p class="help_text" *ngIf="tflag == 4">用mRNA富集法或rRNA去除法对totalRNA进行处理，mRNA富集：用带有OligodT的磁珠富集有polyA尾巴的mRNA；rRNA去除：用DNA探针杂交rRNA，RNaseH选择性消化DNA/RNA杂交链，再用DNaseI消化掉DNA探针，纯化后即得到所需RNA。得到的mRNA中加入适量打断试剂高温条件下使其片断化，以打断后的mRNA为模板合成一链 cDNA，然后配置二链合成反应体系合成二链cDNA，并使用试剂盒纯化回收、粘性末端修复、 cDNA 的3’末端加上碱基“A”并连接接头，然后进行片段大小选择，最后进行 PCR 扩增；构建好的文库用Agilent 2100 Bioanalyzer和ABI StepOnePlus Real-Time PCR System质检，合格后进行测序。</p>
            <div class="img_one_f" *ngIf="tflag == 5"></div>
            <p class="help_text" *ngIf="tflag == 5">用mRNA富集法或rRNA去除法对totalRNA进行处理，mRNA富集：用带有OligodT的磁珠富集有polyA尾巴的mRNA；rRNA去除：用DNA探针杂交rRNA，RNaseH选择性消化DNA/RNA杂交链，再用DNaseI消化掉DNA探针，纯化后即得到所需RNA。得到的mRNA中加入适量打断试剂高温条件下使其片断化，以打断后的mRNA为模板合成一链 cDNA，然后配置二链合成反应体系合成二链cDNA，并使用试剂盒纯化回收、粘性末端修复、 cDNA 的3’末端加上碱基“A”并连接接头，然后进行片段大小选择，最后进行 PCR 扩增；构建好的文库用Agilent 2100 Bioanalyzer和ABI StepOnePlus Real-Time PCR System质检，合格后进行测序。</p>
            <div class="img_one_s" *ngIf="tflag == 5"></div>
            <p class="help_text" *ngIf="tflag == 5">首先将提取好的total RNA使用生物素标记的特异性探针（Ribo-Zero™ rRNA Removal Kit）去除核糖体rRNA。在纯化之后，将RNA在一定的温度和离子环境下片段化。随后使用TruSeq® Stranded kit中随机引物和反转录酶合成cDNA一链，然后使用DNA聚合酶I和RNaseH来合成双链的cDNA。在cDNA二链合成过程中，RNA模板被去除，dTTP被dUTP所替换。dUTP的参与使cDNA的二链无法在后续流程中被扩增，因为聚合酶在延伸时无法跨过模板上的dUTP位点。双链的cDNA产物随后进行了加“A”碱基和接头连接。连接产物将被扩增，纯化后即得到了最终的cDNA文库。最后将构建好的测序文库进行测序。</p>
        </div>

        <!-- 实验流程（小RNA） -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.1 实验流程（小RNA）</h3>
            <h3 class="title" *ngIf="mflag == 3">6.1.2 实验流程（小RNA）</h3>
            <p class="help_text">实验操作中的每一步（如样品检测、文库构建到测序）都会影响数据数量和质量，从而影响后续信息分析结果。为了得到高质量测序数据，我们对每一步都进行严格的质控。实验流程见下图：</p>
            <div class="img_seven"></div>
            <div class="help_bg">
                <p>图说明:</p> 
                <p>1) RNA片段选择: 将Total RNA使用PAGE电泳切胶分离18-30nt的RNA。</p>
                <p>2）3’接头连接: 使用5-adenylated，3-blocked的单链DNA接头连接到（1）中RNA的3’端。</p>
                <p>3）逆转录引物退火: 将RT引物加入（2）体系中，与连接在RNA上的3’接头杂交，并与多余的游离3’接头杂交。</p>
                <p>4）5’接头连接: 5’接头连接至（3）中产物的5’端，由于接头优先连接于单链分子，而不与3’接头和RT 引物的杂交链连接，极大减少了接头自连。</p>
                <p>5）一链cDNA合成: 以（3）中RT引物进行逆转录延伸，合成一链cDNA。</p>
                <p>6）PCR扩增: 使用高敏聚合酶对cDNA进行扩增，富集同时连接有3’接头和5’接头的cDNA，放大文库产量。</p>
                <p>7）文库片段选择: 使用PAGE电泳分离100-120bp范围PCR产物，有效去除了引物二聚体等副产物。</p>
                <p>8）文库定量及pooling环化。</p>
            </div>
        </div>
        
        <!-- 分析流程 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 0">6.2 分析流程</h3>
            <h3 class="title" *ngIf="mflag == 3">6.2.1 分析流程</h3>
            <p class="help_text" *ngIf="nflag == 7">测序所得的数据称为raw reads或raw data，随后要对raw reads进行质控(QC)，以确定测序数据是否适用于后续分析。质控后，经过滤得到的clean reads比对到参考序列。比对完，通过统计比对率、reads在参考序列上的分布情况等，判断比对结果是否通过第二次质控(QC of alignment)。若通过，则进行基因定量分析、基于基因表达水平的各项分析（主成分、相关性、差异基因筛选等等），并对筛选出的样品间差异表达基因，进行GO功能显著性富集分析、pathway显著性富集分析、聚类、蛋白互作网络和转录因子等更深入的挖掘分析。完整的分析流程图如下：</p>
            <div class="img_two" *ngIf="nflag == 7"></div> 
            
            <p class="help_text" *ngIf="nflag == 8">测序所得的数据称为raw reads或raw data，随后要对raw reads进行质控(QC)，以确定测序数据是否适用于后续分析。质控后，经过滤得到的clean reads比对到参考序列。比对完，通过统计比对率、reads在参考序列上的分布情况等，判断比对结果是否通过第二次质控(QC of alignment)。若通过，则进行基因定量分析、基于基因表达水平的各项分析（主成分、相关性、差异基因筛选等等），并对筛选出的样品间差异表达基因，进行GO功能显著性富集分析、pathway显著性富集分析、聚类、蛋白互作网络和转录因子等更深入的挖掘分析。SNP & InDel 和差异剪接基因检测。完整的分析流程图如下：</p>
            <div class="img_two_f" *ngIf="nflag == 8"></div> 

            <p class="help_text" *ngIf="nflag == 9">测序所得数据称为raw reads。首先，我们过滤掉rRNA，低质量、接头污染以及未知碱基N含量过高的reads，过滤后的数据称为clean reads。然后将clean reads比对到参考基因组上，之后进行转录本组装。对于组装得到的新转录本，我们将进行编码能力预测，以区分新的lncRNA和新的mRNA。这些新的lncRNA和mRNA将与已知的lncRNA和mRNA一起进行后续的分析。</p>
            <p class="help_text" *ngIf="nflag == 9">我们会对所有的RNA进行定量，进行差异分析，聚类分析，时间序列分析，富集分析等。我们预测lncRNA的靶基因，预测lncRNA家族分类以及潜在的miRNA前体。对于mRNA，我们会进行数据库注释。我们的分析还包括 SNP ， InDel 以及可变剪接。完整的分析流程图如下图：</p>
            <div class="img_two_s" *ngIf="nflag == 9"></div> 
        </div>

        <!-- 分析流程（小RNA） -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.2 分析流程（小RNA）</h3>
            <h3 class="title" *ngIf="mflag == 3">6.2.2 分析流程（小RNA）</h3>
            <p class="help_text">得到原始测序数据后，我们将根据合同上的条款，进行后续的信息分析。图2是Small-RNA产品的完整分析内容。</p>
            <div class="img_eight"></div>
            <div class="help_bg">
                <p>图说明:</p> 
                <p>测序所得49nt序列，通过去接头、去低质量、去污染等过程完成数据处理得到可信的备用分析的目标序列，对其进行序列长度分布的统计及样品间公共序列统计。将清理后的目标序列分类注释，可以获得样品中包含的各组分及表达量信息。将所有小RNA片段注释后，用剩下的未注释片段来进行：1）novel miRNA的预测。对于鉴定得到的miRNA进行靶基因预测和对靶基因的GO功能注释以及KEGGpathway注释。</p>
            </div>
        </div>

        <!-- 测序数据过滤 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 0">6.3 测序数据过滤</h3>
            <h3 class="title" *ngIf="mflag == 3">6.3.1 测序数据过滤</h3>
            <div class="help_text">
                <p>本项目使用华大自主研发的过滤软件SOAPnuke进行过滤，具体步骤如下:</p> 
                <p>1) 去除包含接头的reads(接头污染);</p> 
                <p>2) 去除未知碱基N含量大于5%的reads；</p> 
                <p>3) 去除低质量的reads (我们定义质量值低于 10 的碱基占该reads总碱基数的比例大于 20% 的reads为低质量的reads)。</p> 
                <p>过滤后的"Clean Reads"保存为FASTQ格式。</p> 
            </div>
            <div class="help_bg">
                <p>软件信息：</p>
                <p>SOAPnuke:</p>
                <p>版本：v1.5.2</p>
                <p>参数：-l 15 -q 0.2 -n 0.05</p>
                <p>官网：<a href="https://github.com/BGI-flexlab/SOAPnuke" target="_blank">https://github.com/BGI-flexlab/SOAPnuke</a> </p>
                <p>参考文献：</p>
                <p>[1]Cock P., et al.(2010). The Sanger FASTQ file format for sequences with quality scores, and the Solexa/Illumina FASTQ variants. Nucleic Acids Research, 38(6): 1767-1771.</p>
            </div>
        </div>

        <!-- 测序数据过滤（小RNA） -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.3 测序数据过滤（小RNA）</h3>
            <h3 class="title" *ngIf="mflag == 3">6.3.2 测序数据过滤（小RNA）</h3>
            <p class="help_text">小RNA测得rawdata数据中首先会对其进行数据评估，主要有两个方面：1）对于杂质的过滤; 2）对数据的初步判断。</p>
            <p class="help_text">Rawdata中杂质一般是指无插入片段序列、插入片段过长的序列、低质量序列、polyA序列和小片段序列，其中无插入片段和测得5’接头的序列定义为接头污染，插入片段过长的序列表现为没有测得3’接头的序列。一般接头污染情况的发生与样品本身以及其建库过程中接头浓度和样品浓度比例控制相关，接头比例过高时一般接头污染情况比较严重。低质量序列主要是对测序可靠性的筛选，其条件是序列中碱基质量小于10的碱基数不超过4个同时碱基质量小于13的碱基数不超过6个。</p>
            <p class="help_text">对于这些定义为过滤掉的序列会通过一系列的处理得到干净的序列(clean tags)。然后统计小RNA(sRNA)的序列种类(用unique表示)及序列数量(用total表示)，并对小RNA序列做长度分布统计，一般来说，小RNA的长度区间为18～30nt，长度分布的峰能帮助我们判断小RNA的种类，如miRNA集中在21或22nt，siRNA集中在24nt，piRNA集中在28~30nt。 另外多数情况下植物样品和动物样品序列长度分布上有着明显的差异，其表现是植物样品长度分布的峰值一般出现在21nt或者24nt，而动物样品峰值则出现在22nt。根据这些条件对于样品情况和测序情况可以做出一些初步的判断。</p>
            <div class="help_bg">
                <p>图说明数据处理步骤:</p>
                <p>1) 去除测序质量较低的 tag</p>
                <p>2) 去除有5’接头污染的 tag</p>
                <p>3) 去除没有3’接头序列的 tag</p>
                <p>4) 去除没有插入片段的 tag</p>
                <p>5) 去除包含polyA的 tag</p>
                <p>6) 去除小于18nt的 tag</p>
                <p>7) 统计小RNA片段的长度分布</p>
            </div>
            <p class="help_text">过滤后的数据称为clean tags,仍然以FASTQ\[6\]格式存储（参见帮助页面FASTQ格式说明），该序列文件可直接用于发表，公共数据库提交等，后续分析都基于此文件。</p>
        </div>

        <!-- 参考基因组对比 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 0">6.4 参考基因组比对</h3>
            <h3 class="title" *ngIf="mflag == 3">6.4.1 参考基因组比对</h3>
            <p class="help_text">HISAT（Hierarchical Indexing for Spliced Alignment of Transcripts）是一款用于RNA-seq reads比对参考基因组的软件。相比其他软件，HISAT具有速度快、灵敏度和准确度高、内存消耗低等优势。HISAT基于Burrows-Wheeler transform和Ferragina-Manzini（FM）的索引采用全基因组和局部基因组两种索引形式，具体比对示意图详见HISAT比对示意图。基因组比对结果统计。</p> 
            <div class="img_three"></div>
            <p class="help_text">首先，HISAT会用全局FM索引在基因组上锚定每个read中部分序列的位置；然后，用这些比对位置的局部索引去比对每个read的剩余序列以延长比对区域。软件信息：</p> 
            <div class="help_bg">
                <p>软件信息：</p>
                <p>HISAT2:</p>
                <p>版本：v2.0.4</p>
                <p>参数：--phred64 --sensitive --no-discordant --no-mixed -I 1 -X 1000</p>
                <p>官网：http://www.ccb.jhu.edu/software/hisat</p>
                <p>参考文献：</p>
                <p>[1] Kim, D., Langmead, B. & Salzberg, S. L. HISAT: a fast spliced aligner with low memory requirements. Nat. Methods 12, 357-360 (2015).</p>
            </div>
        </div>

        <!-- 参考基因组比对（小RNA） -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.4 参考基因组比对（小RNA）</h3>
            <h3 class="title" *ngIf="mflag == 3">6.4.2 参考基因组比对（小RNA）</h3>
            <!-- <p class="help_text">一般来说,比对率越高,说明样本和参考序列之间的关系越近；较低的比对率可能是由于低相似性或还有其他污染导致。我们使用比对软件AASRA[8]将clean reads比对到参考基组和其他小RNA数据库，除了Rfam是用cmsearch[7]进行比对。关于 Bowtie2 的参数说明，请阅读官方网址 <a href="http://computing.bio.cam.ac.uk/local/doc/bowtie2.html#" target="_blank">http://computing.bio.cam.ac.uk/local/doc/bowtie2.html#</a> 中的"Options"章节。</p> -->
            <p class="help_text">测序得到的Reads与参考基因组比对，基于测序数据在基因组上的位置来预测miRNA和其他的非编码RNA。另外，Reads还与非编码RNA、Rfam数据库进行比对，对测序数据进行非编码RNA注释。</p>
            <div class="help_bg">
                <p>软件信息：</p>
                <p>基因组比对: Bowtie2 ，允许一个错配</p>
                <p>非编码RNA比对: AASRA，不允许醋配，但是允许长短匹配</p>
                <p>Rfam数据库比对: cmsearch</p>
            </div>
        </div>

        <!-- 随机性 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title">6.5 随机性</h3>
            <p class="help_text">使用序列比对软件将质控后的clean reads分别比对到参考基因组上，从而可以对样本中的基因/转录本表达进行定量。同时对本次转录组测序进行整体分析，包括转录本的随机性。</p> 
        </div>

        <!-- 覆盖度 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title">6.6 覆盖度</h3>
            <p class="help_text">使用序列比对软件将质控后的clean reads分别比对到参考基因集上，从而可以对样本中的基因/转录本表达进行定量。同时对本次转录组测序进行整体分析，包括转录本的覆盖度及分布。</p> 
        </div>

        <!-- 测序饱和度 -->
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title">6.7 测序饱和度</h3>
            <div class="help_text">
                <p>使用perl脚本进行测序饱和度分析，测序饱和度分析可以在一定程度上判断测序数据量是否满足要求。随着测序量(Reads数量)的增加，检测到的基因数也随之上升，当测序量达到一定区间后其检测到的基因数增长速度趋于平缓，说明检测到的基因数趋于饱和，此时测序量达到要求。</p> 
            </div>
        </div>

        <!-- 小RNA预测 -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.5 小RNA预测</h3>
            <h3 class="title" *ngIf="mflag == 3">6.8 小RNA预测</h3>
            <p class="help_text">基于miRNA的前体能够形成发夹二级结构，我们使用miRDeep2（适用于动物）和miRA（适用于植物）进行新的miRNA预测。我们使用Piano进行piRNA预测，该方法主要基于SVM算法和转座子信息，进行预测，适合于人、小鼠、大鼠等。siRNA是一种22-24nt的双链RNA分子，每条链的末端会多出2个碱基；结合已报道的siRNA碱基特性，进行预测潜在的siRNA。</p>
        </div>
        <!-- 小RNA分类 -->
        <div class="help_content" *ngIf="mflag == 2 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 2">6.6 小RNA分类</h3>
            <h3 class="title" *ngIf="mflag == 3">6.9 小RNA分类</h3>
            <p class="help_text">所有sRNA与各类RNA的比对、注释情况进行总结。在以上各注释信息中，有可能存在一个sRNA同时比对上两种不同的注释信息的情况。为了使每个unique sRNA有唯一的注释，按照: MiRbase > pirnabank > snoRNA(human/plant) > Rfam > other sRNA 的优先级顺序将sRNA遍历注释。</p>
        </div>

        <!-- 常见问题 -->     
        <div class="help_content" *ngIf="mflag == 0 || mflag == 3">
            <h3 class="title" *ngIf="mflag == 0">6.8 常见问题</h3>
            <h3 class="title" *ngIf="mflag == 3">6.10 常见问题</h3>

            <h4 class="title sjx2">什么是FASTQ格式？</h4>
            <p class="help_text">测序得到的原始图像数据经 base calling转化为原始序列数据（raw data或raw reads），以fastq（简称fq）文件格式存储，包含了reads的序列以及测序质量信息。在fastq格式文件中，每个read有四行描述：</p> 
            <div class="help_bg">
                <p>@CL100012105L2C001R003_48/1</p>
                <p>CAGCCAGCCAGTGGCAGTGCGAGGTGGAGGAGGCAAACAAGTGTAATCGTTTATACATACCCACAGGTGTTAAAAAGTAATCGAAGTACGAAGAGGAACA</p>
                <p>+</p>
                <p>FGFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFGFGFFEFFFGFFFFFFFFFFFFGF:FFFFCFFFFFGFGGFFEGFFFFFFFFFFFFFFF>FFEFF</p>
            </div>
            <div class="help_text">
                <p>第1行以“@”起始，其后为序列名称，由测序仪产生，/1代表read1，/2代表read2；</p>
                <p>第2行是该read的碱基序列；</p>
                <p>第3行以“+”起始，后面接序列名称，为了节省存储空间会省略第三行“+”后面的序列名称；</p>
                <p>第4行是该序列每个碱基相应的测序质量，每个字母和第2行的碱基对应；</p>
                <p>关于FASTQ格式的详细说明请见 <a href="http://en.wikipedia.org/wiki/FASTQ_format" target="_blank">http://en.wikipedia.org/wiki/FASTQ_format</a>  。</p>
            </div>

            <h4 class="title sjx2">测序错误率与测序质量值的对应关系</h4>
            <p class="help_text">每个碱基的具体质量值为FASTQ格式的第4行每个字符的ASCII值减去64 (我们称该质量系统为Phred+64)，例如ASCII值为99的字符对应的碱基质量值就是35。测序错误率与测序质量值的简明对应关系如下表所示，如果测序错误率用E表示，碱基质量值用SQ表示，计算方式为：</p> 
            <div class="img_four"></div>
            <div class="img_title">
                <span>测序错误率与测序质量值的对应关系表</span>
            </div>
            
            <table class="table">
                <thead>
                    <tr>
                        <th class="center">测序错误率(%)</th>
                        <th class="center">测序质量值</th>
                        <th class="center">字符(Phred+64)</th>
                        <th class="center">字符(Phred+33)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="center">1.00</td>
                        <td class="center">20</td>
                        <td class="center">T</td>
                        <td class="center">5</td>
                    </tr>
                    <tr>
                        <td class="center">0.10</td>
                        <td class="center">30</td>
                        <td class="center">^</td>
                        <td class="center">?</td>
                    </tr>
                    <tr>
                        <td class="center">0.01</td>
                        <td class="center">40</td>
                        <td class="center">h</td>
                        <td class="center">I</td>
                    </tr>
                </tbody>
            </table>
            <div class="help_bg">BGISEQ-500的质量系统是Phred+33，考虑到后续分析软件的兼容性，我们会把质量系统从Phred+33转换为Phred+64。</div>
            
            <h4 class="title sjx2">如何查看基因的比对情况？</h4>
            <p class="help_text">可以使用IGV基因组浏览器查看测序片段（reads）在基因组上的比对情况。IGV支持导入多个样本进行比较，并根据注释信息，查看Reads在外显子、内含子、UTR、基因间区的分布情况。以下是IGV展示效果示例，同时还可以绘制外显子间的junction检测与reads支持情况（Sashimi plot）。<span ng-if="env==='bgi'">IGV的基因组数据浏览方法请参考 <a href="./res/images/IGV_readme.pdf" target="_blank">IGV_readme.pdf</a> ,或IGV的基因组数据浏览方法请参考官网的<a href="http://software.broadinstitute.org/software/igv/UserGuide" target="_blank">IGV使用手册</a></span></p>
            <div class="img_five"></div>
            <div class="img_title">
                <span>IGV比对结果示例</span>
            </div>
            <div class="img_six"></div>
            <div class="img_title">
                <span>基因在不同样品中外显子间的juntion检测信息与reads支持数示例</span>
            </div>

            <h4 class="title sjx2">mapping ratio多少比较正常？</h4>
            <p class="help_text">对于模式物种来讲，基因的比对率会在50%以上，但不排除因为实验设置的原因，导致基因比对率低。此外，如果样本中叶绿体或者线粒体的mRNA富集也是导致基因集比对率低。</p>

            <h4 class="title sjx2">随机性图3’上翘，如何解释？</h4>
            <p class="help_text">最理想的状况是，中间曲线比较平坦，但实际项目情况，多会出现不同程度的3'一侧会高一点，也就是3’富集，主要是因为mRNA的降解引起的。</p>

            <h4 class="title sjx2">转录本的reads覆盖度，这个图应该怎么看？</h4>
            <p class="help_text">reads覆盖度也可以一定程度上显示测序的情况，峰值在90-100为佳。</p>

            <h4 class="title sjx2">测序饱和度曲线如何看？</h4>
            <p class="help_text">随着测序量(Reads数量)的增加，检测到的基因数也随之上升，当测序量达到一定区间后其检测到的基因数增长速度趋于平缓，说明检测到的基因数趋于饱和，此时测序量达到要求。</p>

        </div>
    </div>
</div>
