<div class="mhelp-class">
    <div class="top_title">
        6.帮助
    </div>

    <div class="title_down_line"></div>

    <div class="option_one">
        <div class="help_content">
            <div class="title_frist">
                6.1 实验流程
            </div>
            <div class="bgi_static_pic">
                <div class="bgi_static_pic_one">
                </div>
            </div>
            <div class="bgi_static_normal">
                <p>用mRNA富集法或rRNA去除法对totalRNA进行处理，mRNA富集：用带有OligodT的磁珠富集有polyA尾巴的mRNA；rRNA去除：用DNA探针杂交rRNA，RNaseH选择性消化DNA/RNA杂交链，再用DNaseI消化掉DNA探针，纯化后即得到所需RNA。得到的mRNA中加入适量打断试剂高温条件下使其片断化，以打断后的mRNA为模板合成一链 cDNA，然后配置二链合成反应体系合成二链cDNA，并使用试剂盒纯化回收、粘性末端修复、 cDNA 的3’末端加上碱基“A”并连接接头，然后进行片段大小选择，最后进行 PCR 扩增；构建好的文库用Agilent 2100 Bioanalyzer和ABI StepOnePlus Real-Time PCR System质检，合格后进行测序。</p>
            </div>
        </div>
        <div class="help_content">
            <div class="title_frist">
                6.2 分析流程
            </div>
            <div class="bgi_static_pic">
                <div class="bgi_static_pic_two">
                </div>
            </div>
            <div class="bgi_static_normal">
                <p>用mRNA富集法或rRNA去除法对totalRNA进行处理，mRNA富集：用带有OligodT的磁珠富集有polyA尾巴的mRNA；rRNA去除：用DNA探针杂交rRNA，RNaseH选择性消化DNA/RNA杂交链，再用DNaseI消化掉DNA探针，纯化后即得到所需RNA。得到的mRNA中加入适量打断试剂高温条件下使其片断化，以打断后的mRNA为模板合成一链 cDNA，然后配置二链合成反应体系合成二链cDNA，并使用试剂盒纯化回收、粘性末端修复、 cDNA 的3’末端加上碱基“A”并连接接头，然后进行片段大小选择，最后进行 PCR 扩增；构建好的文库用Agilent 2100 Bioanalyzer和ABI StepOnePlus Real-Time PCR System质检，合格后进行测序。</p>
            </div>
        </div>
        <!-- <div class="title_frist">
            6.2 分析流程
        </div>
        <div class="title_frist">
            6.3 测序数据过滤
        </div>
        <div class="title_frist">
            6.4 参考基因组对比
        </div>
        <div class="title_frist">
            6.5 随机性
        </div>
        <div class="title_frist">
            6.6 覆盖度
        </div>
        <div class="title_frist">
            6.7 测序饱和度
        </div>
        <div class="title_frist">
            6.8 常见问题
        </div> -->
    </div>
</div>
<!-- <style>
    .mhelp-class{
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #fff;
    }

    .top_title{
        width: 98%;
        margin: 20px auto 0 auto;
        height: 18px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 18px;
        color: #333333;
        letter-spacing: 0;
        line-height: 18px;
    }

    .title_down_line{
        width: 100%;
        margin: 20px auto 0 auto;
        height: 1px;
        border: 0.5px solid #EEEEEE;
    }

    .option_one{
        width: 100%;
        margin: 20px auto 0 auto;
        height: auto;
    }

    .help_content{
        width: 100%;
        height: auto;
    }

    .title_frist{
        width: 98%;
        margin: 20px auto 0 auto;
        height: 16px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;
    }

    .bgi_static_pic {
        text-align: center;
        width: 98%;
        margin: 10px auto 0 auto;
    }

</style>
  -->