<div class="content base-content overview">
    <h2 class="title">{{tempIndex}} 项目概况</h2>
    <hr class="mhr" />

    <div calss="base_module" *ngIf="itemFlag">
        <h3 class="title" *ngIf="abstract_general_cn">{{tempIndex}}.{{itemNum}} 摘要</h3>
        <p class="help_text" *ngIf="abstract_general_cn">{{abstract_general_cn}}</p>
    </div>

    <div calss="base_module" *ngIf="itemFlag2">
        <h3 class="title">{{tempIndex}}.{{itemNum2}} 分析方案</h3>
        <div class="f-content" *ngIf="itemFlag2_1">
            <h4 class="title">{{tempIndex}}.{{itemNum2}}.{{itemNum2_1}} 样品分组设置</h4>
            <p class="help_text">生物学实验一般要有生物学重复，把生物学重复的多个样品归为一组，下表是分析时使用的样品分组情况：</p>
            <div style="width:96%;margin: 10px auto;">
                <app-little-table [url]="defaultUrl" [pageEntity]="EntityOne"></app-little-table>
            </div>
            
        </div>
        <div class="f-content" *ngIf="itemFlag2_2">
            <h4 class="title">{{tempIndex}}.{{itemNum2}}.{{itemNum2_2}} 差异分组设置</h4>
            <p class="help_text">转录组测序的重要分析点之一是表达量的差异比较，在两两比较中设定对照和处理的情况如下表：</p>
            <div style="width:96%;margin: 10px auto;">
                <app-little-table [url]="defaultUrlTwo" [pageEntity]="EntityTwo"></app-little-table>
            </div>
        </div>
    </div>


    <div calss="base_module" *ngIf="itemFlag3">
        <h3 class="title">{{tempIndex}}.{{itemNum3}} 样品相关性</h3>
        <p class="help_text">为了反映样本间基因表达的相关性，计算了每两个样品之间所有基因表达量的Pearson相关系数，并将这些系数以热图的形式反映出来，相关系数可以反应各个样品间总体基因表达情况的相似情况，相关系数越高，基因表达水平越相似。</p>
        <div class="f-content" *ngIf="itemFlag3_1">
            <h4 class="title">{{tempIndex}}.{{itemNum3}}.{{itemNum3_1}} 样品相关性热图</h4>
            <div class="t-content">
                <app-table-switch-chart
                    #relevanceChart
                    [id]="'relevanceChart'"
                    [tableUrl]="tableUrl"
                    [chartUrl]="chartUrl"
                    [apiEntity]="tableEntity"
                    (drawChartEmit)="drawRelevanceReads($event)"
                    [flex]="true"
                    [chartId]="'relevanceData'"
                    [chartName]="'相关性热图'"
                    (refresh)="handlerRefresh()"
                    [selectPanelData]="selectPanelData"
                    (selectConfirmEmit)="selectConfirm($event)"
                    [defaultSelectNum]="-1"
                    (defaultSelectList)="defaultSelectList($event)"
                    [chartDescContent]="'X、Y轴均代表每个样品。颜色代表相关性系数(颜色越深代表相关性越高，颜色越浅代表相关性越低)。'"
                >
                </app-table-switch-chart>
                <app-color-picker [(color)]="colorQuality" (colorChange)="colorQualityChange($event)" [(show)]="isShowQualityColorPanel"
                    ></app-color-picker>
            </div>
        </div>

        <div class="f-content" *ngIf="itemFlag3_2">
            <h4 class="title">{{tempIndex}}.{{itemNum3}}.{{itemNum3_2}} PCA</h4>
            <p class="help_text">主成分分析（PCA）是将多个变量通过降维为少数几个相互独立的变量（即主成分），同时尽可能多地保留原始数据信息的一种多元统计分析方法。在转录组的分析中，PCA将样本所包含的大量基因表达量信息降维为少数几个互相无关的主成分，以进行样本间的比较，方便找出离群样品、判别相似性高的样品簇等。本项目的PCA分析结果见下图：</p>
            <div class="t-content">
                <ng-template #searchTemplate>
                    <nz-select *ngIf="!isShowTable" style="min-width: 160px;margin-left: 10px" nzPlaceHolder="Input gene ID" [(ngModel)]="PCASearchType" [nzSize]="'small'" (ngModelChange)="searchPCATypeChange()" nzShowSearch>
                        <nz-option *ngFor="let item of PCASelectType" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
                    </nz-select>
                </ng-template>
                <app-table-switch-chart
                    #PCAChart
                    [id]="'PCAChart'"
                    [tableUrl]="tablePCAUrl"
                    [apiEntity]="tablePCAEntity"
                    (drawChartEmit)="drawPCAReads($event)"
                    [flex]="true"
                    [chartId]="'PCADataID'"
                    [chartName]="'主成分分析'"
                    [otherLeftTemplate]='searchTemplate'
                    (refresh)="handlerRefresh()"
                    [chartDescContent]="'X、Y轴表示样品表达量经过降维处理后得到的对应主成分的新的数据集，用来表示样品之间的差距；坐标轴标签括号中的数值代表对应主成分解释总体方差的百分比。点代表每个样品，同一个颜色代表同一个样品组。'"
                >
                </app-table-switch-chart>
                <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
                        ></app-color-picker>
            </div>
        </div>
    </div>

    <div calss="base_module" *ngIf="itemFlag4">
        <h3 class="title">{{tempIndex}}.{{itemNum4}} 表达量分布</h3>
        <div class="f-content" *ngIf="itemFlag4_1">
            <h4 class="title">{{tempIndex}}.{{itemNum4}}.{{itemNum4_1}} 箱线图</h4>
            <p class="help_text">箱线图展示各样品基因表达水平的分布情况，可以观察到数据分布的分散程度。</p>
            <div class="t-content">
                <app-table-switch-chart
                    #Boxplot
                    [id]="'Boxplot'"
                    [tableUrl]="tableBoxUrl"
                    [chartUrl]="chartBoxUrl"
                    [apiEntity]="tableBoxEntity"
                    (drawChartEmit)="drawBoxReads($event)"
                    [flex]="true"
                    [chartId]="'BoxDataID'"
                    [chartName]="'表达量箱线图'"
                    (refresh)="handlerRefresh()"
                    [chartDescContent]="'X 轴为样品名称，Y轴为log10(FPKM+1)，每个区域的箱线图对应五个统计量（ 自上而下分别为上限、上四分位数、中位数、下四分位数、下限，其中上限和下限未考虑异常值）。'"
                >
                </app-table-switch-chart>
                <app-color-picker [(color)]="colorBox" (colorChange)="colorBoxChange($event)" [(show)]="isBoxShowColorPanel"
                        ></app-color-picker>
            </div>
        </div>

        <div class="f-content" *ngIf="itemFlag4_2">
            <h4 class="title">{{tempIndex}}.{{itemNum4}}.{{itemNum4_2}} 密度图</h4>
            <p class="help_text">密度图能够展示样品中基因丰度随着表达量变化的趋势，可以清晰地反映样本中基因表达量集中的区间。</p>
            <div class="t-content">
                <app-table-switch-chart
                    #DensityMap
                    [id]="'DensityMap'"
                    [chartUrl]="chartMapUrl"
                    [apiEntity]="tableMapEntity"
                    (drawChartEmit)="drawMapReads($event)"
                    [flex]="true"
                    [chartId]="'MapDataID'"
                    [chartName]="'表达量密度图'"
                    (refresh)="handlerRefresh()"
                    [chartDescContent]="'X 轴为 log2（ FPKM+1 ），Y轴为基因的密度，即该表达量下的基因数与表达基因总数的比例。'"
                >
                </app-table-switch-chart>
                <app-color-picker [(color)]="colorMap" (colorChange)="colorMapChange($event)" [(show)]="isMapShowColorPanel"
                        ></app-color-picker>
            </div>
        </div>

        <div class="f-content" *ngIf="itemFlag4_3">
            <h4 class="title">{{tempIndex}}.{{itemNum4}}.{{itemNum4_3}} 堆积柱状图</h4>
            <p class="help_text">为了更直观地展示每个样品在不同 FPKM 区间的基因数目，我们对FPKM（FPKM<=1、FPKM 1~10、FPKM>=10）的三种情况进行了基因数目的统计。</p>
            <div class="t-content">
                <app-table-switch-chart
                #stackMap
                [id]="'stackMap'"
                [tableUrl]="stackMapUrl"
                [apiEntity]="stackMapEntity"
                (drawChartEmit)="drawStackMap($event)"
                [flex]="true"
                [chartId]="'stackMapData'"
                [chartName]="'表达量堆积图'"
                (refresh)="handlerRefresh()"
                [chartDescContent]="'X 轴表示样品名称，Y 轴表示基因数目，颜色深浅表示不同表达量水平：FPKM <= 1的为极低表达水平的基因，FPKM在1-10之间的为较低表达水平的基因，FPKM >= 10的为中高表达水平的基因。'"
            >
            </app-table-switch-chart>
            <app-color-picker [(color)]="colorT" (colorChange)="colorTChange($event)" [(show)]="isShowColorPanelT"
                    ></app-color-picker>
            </div>
        </div>
    </div>

</div>
