<div class="content base-content overview">
    <h2 class="title">1 项目概况</h2>
    <hr class="mhr" />

    <h3 class="title">1.2 分析方案</h3>
    <div class="f-content">
        <h4 class="title">1.2.1 样品分组设置</h4>
        <p class="help_text">生物学实验一般要有生物学重复，把生物学重复的多个样品归为一组，下表是分析时使用的样品分组情况：</p>
        <app-little-table [url]="defaultUrl"></app-little-table>
    </div>
    <div class="f-content">
        <h4 class="title">1.2.2 差异分组设置</h4>
        <p class="help_text">转录组测序的重要分析点之一是表达量的差异比较，在两两比较中设定对照和处理的情况如下表：</p>
        <app-little-table [url]="defaultUrlTwo"></app-little-table>
    </div>

    <h3 class="title">1.3 样品相关性</h3>
    <p class="help_text">为了反映样本间基因表达的相关性，计算了每两个样品之间所有基因表达量的Pearson相关系数，并将这些系数以热图的形式反映出来，相关系数可以反应各个样品间总体基因表达情况的相似情况，相关系数越高，基因表达水平越相似。</p>
    <div class="f-content">
        <h4 class="title">1.3.1 样品分组设置</h4>
        <div class="f-content">
            <app-table-switch-chart
                #relevanceChart
                [id]="'relevanceChart'"
                [tableUrl]="tableUrl"
                [chartUrl]="chartUrl"
                [apiEntity]="tableEntity"
                [isOnlyChart] = "false"
                (drawChartEmit)="drawRelevanceReads($event)"
                [flex]="true"
                [chartId]="'relevanceData'"
                [chartName]="'相关性热图'"
                (refresh)="handlerRefresh()"
                [selectPanelData]="selectPanelData"
                (selectConfirmEmit)="selectConfirm($event)"
                [defaultSelectNum]="-1"
                (defaultSelectList)="defaultSelectList($event)"
                [chartDescContent]="'X、Y轴均代表每个样品。颜色代表相关性系数(颜色越深代表相关性越高，颜色越浅代表相关性越低)。'"
            >
            </app-table-switch-chart>
            <app-color-picker [(color)]="colorQuality" (colorChange)="colorQualityChange($event)" [(show)]="isShowQualityColorPanel"
                ></app-color-picker>
        </div>
    </div>

    <div class="f-content">
        <h4 class="title">1.3.2 PCA</h4>
        <p class="help_text">主成分分析（PCA）是将多个变量通过降维为少数几个相互独立的变量（即主成分），同时尽可能多地保留原始数据信息的一种多元统计分析方法。在转录组的分析中，PCA将样本所包含的大量基因表达量信息降维为少数几个互相无关的主成分，以进行样本间的比较，方便找出离群样品、判别相似性高的样品簇等。本项目的PCA分析结果见下图：</p>
        <div class="f-content">
            <ng-template #searchTemplate>
                <nz-select *ngIf="!isShowTable" style="width: 180px;margin-left: 10px" nzPlaceHolder="Input gene ID" [(ngModel)]="PCASearchType" [nzSize]="'small'" (ngModelChange)="searchPCATypeChange()" nzShowSearch>
                    <nz-option *ngFor="let item of PCASelectType" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
                </nz-select>
            </ng-template>
            <app-table-switch-chart
                #PCAChart
                [id]="'PCAChart'"
                [tableUrl]="tablePCAUrl"
                [apiEntity]="tablePCAEntity"
                [isOnlyChart] = "false"
                (drawChartEmit)="drawPCAReads($event)"
                [flex]="true"
                [chartId]="'PCADataID'"
                [chartName]="'主成分分析'"
                [otherLeftTemplate]='searchTemplate'
                (refresh)="handlerRefresh()"
                [chartDescContent]="'X、Y轴表示样品表达量经过降维处理后得到的对应主成分的新的数据集，用来表示样品之间的差距；坐标轴标签括号中的数值代表对应主成分解释总体方差的百分比。点代表每个样品，同一个颜色代表同一个样品组。'"
            >
            </app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
                    ></app-color-picker>
        </div>
        
    </div>
</div>