<div class="content base-content comparison">
    <h2 class="title">4.Reads对比</h2>
    <hr class="mhr" />

    <h3 class="title">4.1 参考基因组比对</h3>
    <p class="help_text">得到clean reads之后，我们使用 HISAT 将 clean reads 比对到参考基因组序列。 比对结果统计如下。另外，我们提供了 Reads 在基因组上比对结果的bam格式文件，<span><a href="http://cdts-wh.genomics.cn/" target="_blank">点击进入 FTP 下载</a>，</span>使用 IGV(Integrative Genomics Viewer) 工具可以对其进行不同尺度下的可视化查看。IGV 的帮助信息请参考 FAQ。</p>
    <app-big-table
        *ngIf="defaultEntity"
        class="no-outside-border"
        #bigTable
        [pageEntity]="defaultEntity"
        [url]="defaultUrl"
        [tableId]="defaultTableId"
    ></app-big-table>

    <h3 class="title">4.2 参考基因比对</h3>
    <p class="help_text">使用 Bowtie2 将 clean reads 比对到参考基因序列得到比对结果。</p>
    <app-big-table
        *ngIf="defaultgeneEntity"
        class="no-outside-border"
        #bigGeneTable
        [pageEntity]="defaultgeneEntity"
        [url]="defaultgeneUrl"
        [tableId]="defaultgeneTableId"
    ></app-big-table>


    <h3 class="title">4.3 随机性</h3>
    <p class="help_text">对于样品质量好同时测序数据足够的样品，大部分的转录本将会被完整地覆盖，同时 reads 将均匀分布在转录本的各个区域。</p>
    <div class="f-content">
        <ng-template #searchTemplate>
            <nz-select *ngIf="!isShowTable" style="width: 180px;margin-left: 10px" nzPlaceHolder="Input gene ID" [(ngModel)]="curSearchType" [nzSize]="'small'" (ngModelChange)="searchTypeChange()" nzShowSearch>
                <nz-option *ngFor="let item of chartSelectType" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
            </nz-select>
        </ng-template>
        <app-table-switch-chart
            #rondDataChart
            [id]="'rondDataChart'"
            [tableUrl]="tableUrl"
            [apiEntity]="tableEntity"
            [isOnlyChart] = "false"
            (drawChartEmit)="drawRondReads($event)"
            [flex]="true"
            [chartId]="'rondData'"
            [chartName]="'reads 在转录本上的分布'"
            [otherLeftTemplate]='searchTemplate'
            (refresh)="handlerRefresh()"
            [chartDescContent]="'X 轴表示转录本的位置（ 设置 200 个滑动窗口 ），Y 轴表示 reads 的数目（ 以每个滑动窗口来计算 ）。'"
        >
        </app-table-switch-chart>
    </div>

    <h3 class="title">4.4 覆盖度</h3>
    <p class="help_text">根据比对结果，本项目统计了每个样品转录本的覆盖度如下所示。对于样品质量好同时测序数据足够的样品，大部分的转录本将会被完整地覆盖，同时 reads 将均匀分布在转录本的各个区域。</p>
    <div class="f-content">
        <ng-template #searchCoverTemplate>
            <nz-select *ngIf="!isShowTable" style="width: 180px;margin-left: 10px" nzPlaceHolder="Input gene ID" [(ngModel)]="coverSearchType" [nzSize]="'small'" (ngModelChange)="searchCoverTypeChange()" nzShowSearch>
                <nz-option *ngFor="let item of coverSelectType" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
            </nz-select>
        </ng-template>
        <app-table-switch-chart
            #coverageDataChart
            [id]="'coverageDataChart'"
            [tableUrl]="coverTableUrl"
            [apiEntity]="coverTableEntity"
            [isOnlyChart] = "false"
            (drawChartEmit)="drawCoverReads($event)"
            [flex]="true"
            [chartId]="'coverageData'"
            [chartName]="'转录本的 reads 覆盖度'"
            [otherLeftTemplate]='searchCoverTemplate'
            (refresh)="handlerRefresh()"
        >
        </app-table-switch-chart>
        <!-- <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
                ></app-color-picker> -->
    </div>


    <h3 class="title">4.5 测序饱和度</h3>
    <div class="f-content">
        <ng-template #searchSaturationTemplate>
            <nz-select *ngIf="!isShowTable" style="width: 180px;margin-left: 10px" nzPlaceHolder="Input gene ID" [(ngModel)]="saturationSearchType" [nzSize]="'small'" (ngModelChange)="saturationTypeChange()" nzShowSearch>
                <nz-option *ngFor="let item of saturationSelectType" [nzLabel]="item.key" [nzValue]="item.value"></nz-option>
            </nz-select>
        </ng-template>
        <app-table-switch-chart
            #saturationDataChart
            [id]="'saturationDataChart'"
            [tableUrl]="saturationTableUrl"
            [apiEntity]="saturationTableEntity"
            [isOnlyChart] = "false"
            (drawChartEmit)="drawSaturationReads($event)"
            [flex]="true"
            [chartId]="'saturationData'"
            [chartName]="'测序饱和度曲线'"
            [otherLeftTemplate]='searchSaturationTemplate'
            (refresh)="handlerRefresh()"
            [chartDescContent]="'横坐标表示clean reads数，单位为100k，极值是该样品当前的测序量；纵坐标表示检测到的基因数目比例，单位为%。'"
        >
        </app-table-switch-chart>
        <!-- <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
                ></app-color-picker> -->
    </div>

</div>