<div class="login">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
        <nz-form-item>
            <!-- username -->
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please
                    input your username!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <!-- password -->
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input type="password" nz-input formControlName="password" placeholder="Password">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please
                    input your Password!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <!-- ma -->
        <nz-form-item>
            <nz-form-control>
                <img (click)="handlerVerificationClick()" style="width:100px;height:40px;border:1px solid #ccc;margin-right:20px;" src="http://192.168.29.20/checkImg/{{uuid}}" alt="验证码">
                <nz-input-group style="width:180px;" nzPrefixIcon="anticon anticon-lock">
                    <input  type="text" nz-input formControlName="verificationCode" placeholder="Verification code">
                </nz-input-group>
                <nz-form-explain *ngIf="validateForm.get('verificationCode').dirty && validateForm.get('verificationCode').errors">Please
                    input your Verification Code!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
            </nz-form-control>
        </nz-form-item>
    </form>
</div>
