<div class="content base-content help">
    <h2 class="title">4.帮助</h2>
    <hr class="mhr" />

    <div class="help_option">
        <div class="help_content">
            <h3 class="title">4.1 分析方法</h3>
            <h3 class="title">1.差异可变剪接分析：</h3>
            <p class="help_text">使用rMATS检测不同样品间的差异剪接基因和样品自身的剪接事件。rMATS是一款对RNA-Seq数据进行差异可变剪接分析的软件，其通过rMATS统计模型对不同样本进行可变剪接事件的表达定量，然后以likelihood-ratio test计算P value来表示两组样品在IncLevel（Inclusion Level ） 水平上的差异， lncLevel 并利用Benjamini Hochberg算法对p value进行校正得FDR值。rMATS可识别的可变剪接事件有5种，分别是skipped
                exon (SE)外显子跳跃，alternative 5′ splice site (A5SS)第一个外显子可变剪接，alternative 3′ splice site (A3SS)最后一个外显子可变剪接，mutually exclusive exons (MXE)外显子选择性跳跃和 retained intron (RI)内含子滞留，详见下图。</p>
            <div class="as-fusion-help_one"></div>
            <div class="img_title"><span>各种剪接类型的相对丰度计算</span></div>
            <div class="help_bg">
                <p>软件信息：</p>
                <p>rMATS:</p>
                <p>版本：v3.2.5</p>
                <p>参数：-analysis U -t paired -a 8</p>
                <p>官网：<a href="http://rnaseq-mats.sourceforge.net" target="_blank">http://rnaseq-mats.sourceforge.net</a></p>
                <p>参考文献：</p>
                <p>[1] Shen, S. et al. rMATS: Robust and flexible detection of differential alternative splicing from replicate RNA-Seq data. Proc. Natl Acad. Sci. USA 111, E5593-E5601 (2014).</p>
            </div>
            <h3 class="title">2.融合基因分析：</h3>
            <p class="help_text">使用Ericscript进行基因融合分析 。</p>
            <div class="img_title"><span>各种剪接类型的相对丰度计算</span></div>
            <div class="help_bg">
                <p>软件信息：</p>
                <p>Ericscript:</p>
                <p>版本：v0.5.5</p>
                <p>参数：Default</p>
                <p>官网：<a href="http://ericscript.sourceforge.net/" target="_blank">http://ericscript.sourceforge.net/</a></p>
                <p>参考文献：</p>
                <p>[1] Matteo Benelli, Chiara Pescucci, Giuseppina Marseglia, Marco Severgnini, Francesca Torricelli, Alberto Magi, Discovering chimeric transcripts in paired-end RNA-seq data by using EricScript, Bioinformatics, Volume 28, Issue 24, December
                    2012, Pages 3232–3239.</p>
            </div>
        </div>
        <div class="help_content">
            <h3 class="title">4.2 常见问题：</h3>
            <h3 class="title">1、融合基因的发生机制以及研究应用有哪些？</h3>
            <p class="help_text">基因融合是指两个基因的全部或一部分的序列相互融合为一个新的基因的过程。形成融合基因的机制较为复杂：包括染色体易位、中间缺失、染色体倒置以及反式剪切等多种机制。目前基因融合主要集中在癌症的研究中，比如，白血病、前列腺癌、乳腺癌等。研究表明融合基因与癌症的发生发展有很大关联，参与融合的基因常常是一些原癌基因。融合的结果多样：可能会产生新的融合蛋白，它兼具融合的两部分基因的功能或者具有新功能；也有可能某原癌基因与其他基因的强启动子融合导致该原癌基因高表达，等等。很多研究结果均表明融合基因可以作为癌症特有的分子标签和潜在的药物靶点，在癌症的临床诊断和治疗中有重要的意义。</p>
            <p class="help_text">某些特定类型的染色体畸变及引起的融合基因，常用于癌症诊断，以提高精确度。 染色体显带分析、荧光原位杂交(fluorescence In Situ hybridization，FISH)、逆转录聚合酶链反应(RT- PCR )是诊断实验室常用的方法，但由于癌症基因组本身的复杂性，这些方法仍有明显缺陷。目前，随着高通量测序技术的发展，为融合基因的检测带来了更为准确、有效的方法。</p>
            <div class="as-fusion-help_two"></div>
            <div class="img_title"><span>融合基因类型</span></div>
            <p class="help_text">融合基因形成的原因有：A)染色体易位； B)中间缺失； C)染色体倒置。</p>
        </div>
    </div>
</div>