<ng-template #setTemplate>
    <app-clusterSet *ngIf="defaultSetData" (confirm)="setConfirm($event)" [defaultSetData]='defaultSetData'></app-clusterSet>
</ng-template>

<div>
    <app-table-switch-chart
        #clusterChart
        [id]="'cluster'"
        [chartUrl]="chartUrl"
        [apiEntity]="chartEntity"
        [setTemplate]="setTemplate"
        (drawChartEmit)="drawChart($event)"
        [chartId]="'clusterChartDiv'"
        [chartName]="'聚类图'"
        [defaultSetUrl]='defaultSetUrl'
        [defaultSetEntity]='defaultSetEntity'
        (defaultSet)='apiEntityChange($event)'
    >
    </app-table-switch-chart>

    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
    ></app-color-picker>
</div>
