<div>
    <ng-template #selectTemplate>
        <nz-select style="width: 180px;margin-left: 10px" [(ngModel)]="tableEntity.sample" [nzSize]="'small'" (ngModelChange)="onSelectChange1()" nzShowSearch>
            <nz-option *ngFor="let sam of sampleList" [nzLabel]="sam" [nzValue]="sam"></nz-option>
        </nz-select>
        <nz-select style="width: 180px;margin-left: 10px" [(ngModel)]="tableEntity.compare" [nzSize]="'small'" (ngModelChange)="onSelectChange2()" nzShowSearch>
            <nz-option *ngFor="let com of compareList" [nzLabel]="com" [nzValue]="com"></nz-option>
        </nz-select>
    </ng-template>

    <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect" (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [tableUrl]="tableUrl" [chartUrl]="chartUrl" [apiEntity]="tableEntity" [isShowAccuracy]="true" [selectTemplate]="selectTemplate" (drawChartEmit)="drawChart($event)" [chartId]="'chartId222'"
        [chartName]="'散点图'"></app-table-switch-chart>
</div>