<div class="content row  alternativeSplicing">
  <!-- <app-menu [menu]="[]" [geneSwitch]="false">
  </app-menu> -->
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <div class="left-bottom-layout">
            <app-table-switch-chart
                #diffAlternativeSpliceChart
                [id]="'diffAlternativeSpliceChart'"
                [tableUrl]="chartUrl"
                [apiEntity]="chartEntity"
                (drawChartEmit)="drawChart($event)"
                [chartId]="'diffAlternativeSpliceDiv'"
                [chartName]="'差异可变剪接事件统计'"
                [flex]="true"
                (refresh)="handlerRefresh()"
            >
            </app-table-switch-chart>

            <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
            ></app-color-picker>
        </div>
        </div>
        <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
            <div class="switch">
                <app-layout-switch [analysisCount]="storeService['store']['analysisCount']" [ngModel]="switch" (ngModelChange)="switchChange($event)"></app-layout-switch>
            </div>
            <div class="small_text">
                当前表格，比较组 : <span class="small_span">{{group}}</span> 剪接类型 ：<span class="small_span">{{asType}}</span>
            </div>
            <app-geneTable
                #diffDefaultTable
                [url]="diffDefaultTableUrl"
                [pageEntity]="diffDefaultTableEntity"
                [tableId]="defaultDiffTableId"
                [defaultChecked]="defaultDiffChecked"
                [tableHeight]="tableHeight"
                
                [checkStatusInParams]="defaultCheckStatusInParams"
                
                [(computedScrollHeight)]="computedScrollHeight"
            ></app-geneTable>
        </div>
</div>
