<!-- venn -->
<div class="content row venn">
    <div #left class="left-layout column" [class.unexpand]="switch">
        <div class="left-top-layout">
            <h4>title</h4>
            <p>我是差异韦恩图</p>
        </div>
        <div class="left-bottom-layout">
            <ng-template #setTemplate>
                    <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzVisible]="panelShow"
                    (nzVisibleChange)="panelChange()">
                    <i class="anticon anticon-setting" nz-tooltip nzTitle="设置" nz-dropdown></i>
                    <style>
                        .ex_container {
                            height: 360px;
                            width: 320px;
                            background: #FFFFFF;
                            position: relative;
                            background: #FFFFFF;
                            box-shadow: 0 4px 8px 0 rgba(57, 65, 79, 0.16);
                            border-radius: 4px;
                        }

                        .con_PessionDis {
                            height: auto;
                            width: 92%;
                            margin: 0 auto;
                            background: #ffffff;
                            position: relative;
                        }

                        .con_PessionDis_title {
                            height: 48px;
                            width: 100%;
                            line-height: 48px;
                            margin: 0 auto;
                        }

                        .con_PessionDis_in {
                            margin-top: 6px;
                            height: 80px;
                            width: 100%;
                        }

                        .con_PessionDis_row {
                            width: 100%;
                            height: 40px;
                        }

                        .con_PessionDis_left {
                            height: 40px;
                            width: 60px;
                            float: left;
                            margin-left: 18px;
                            line-height: 40px;
                        }

                        .con_PessionDis_right {
                            height: 40px;
                            width: 80px;
                            float: left;
                            margin-left: 15px;
                        }

                        .ex_button1 {
                            width: 80px;
                            height: 32px;
                            border: 1px solid #E1E2E6;
                            border-radius: 4px;
                            position: absolute;
                            bottom: 20px;
                            right: 110px;
                            font-size: 14px;
                            color: #262629;

                        }
                        .ex_button2 {
                            width: 80px;
                            height: 32px;
                            background: #5378F8;
                            border-radius: 4px;
                            position: absolute;
                            bottom: 20px;
                            right: 10px;
                            font-size: 14px;
                            color: #FFFFFF;
                        }
                    </style>
                    <div class="ex_container">
                        <div class="con_PessionDis" [hidden]="!p_show">
                            <div class="con_PessionDis_title">
                                PessionDis
                            </div>
                            <div class="con_PessionDis_in">
                                <div class="con_PessionDis_row">
                                    <div class="con_PessionDis_left">
                                        log2FC
                                    </div>
                                    <div class="con_PessionDis_right">
                                        <input style="margin-top: 8px;" (ngModelChange)="OnChange($event)" nz-input
                                            placeholder="" nzSize="small" [ngModel]="PessionDis.log2FC" />
                                    </div>
                                </div>
                                <div class="con_PessionDis_row">
                                    <div class="con_PessionDis_left">
                                        FDR
                                    </div>
                                    <div class="con_PessionDis_right">
                                        <input style="margin-top: 8px;" (ngModelChange)="OnChange2($event)" nz-input
                                            placeholder="" nzSize="small" [ngModel]="PessionDis.FDR" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="con_PessionDis" [hidden]="!n_show">
                            <div class="con_PessionDis_title">
                                NOIseq
                            </div>
                            <div class="con_PessionDis_in">
                                <div class="con_PessionDis_row">
                                    <div class="con_PessionDis_left">
                                        log2FC
                                    </div>
                                    <div class="con_PessionDis_right">
                                        <input style="margin-top: 8px;" (ngModelChange)="OnChange3($event)" nz-input
                                            placeholder="" nzSize="small" [ngModel]="NOIseq.log2FC" />
                                    </div>
                                </div>
                                <div class="con_PessionDis_row">
                                    <div class="con_PessionDis_left">
                                        probability
                                    </div>
                                    <div class="con_PessionDis_right">
                                        <input style="margin-top: 8px;" (ngModelChange)="OnChange4($event)" nz-input
                                            placeholder="" nzSize="small" [ngModel]="NOIseq.probability" />
                                    </div>
                                </div>

                            </div>
                        </div>

                        <button class="ex_button1" [nzSize]="small" nz-button nzType="Default" (click)="setCancle()">
                            取消 </button>
                        <button class="ex_button2" [nzSize]="small" nz-button nzType="primary" (click)="setConfirm()">
                            确定 </button>
                    </div>
                </nz-dropdown>
            </ng-template>
            <!-- [selectTemplate]="selectTemplate" -->
            <app-table-switch-chart
                #tableSwitchChart
                [id]="'tableSwitchChart'"
                [isHasMultiSelect]="true"
                [(isMultiSelect)]="isMultiSelect"
                (isMultiSelectChange)="multiSelectChange()"
                (multipleConfirmEmit)="multipleConfirm()"
                [tableUrl]="tableUrl"
                [chartUrl]="chartUrl"
                [apiEntity]="tableEntity"
                [isShowAccuracy]="true"
                [setTemplate]="setTemplate"
                (drawChartEmit)="drawVenn($event)"
                [selectPanelData]="selectPanelData"
                (selectConfirmEmit)="selectConfirm($event)"
                [defaultSelectNum]="-1"
                (defaultSelectList)="defaultSelectList($event)"
                [isVennTable]="true"
                [flex]="true"
                [chartId]="'chartId22122'"
                [chartName]="'韦恩图'"
            >
            </app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch" (click)="resize($event)" >
        <div class="switch">
            <nz-switch [ngModel]="switch" (ngModelChange)="switchChange($event)" ></nz-switch>
        </div>
        <div class="func" #func>
            <!-- 增删列 -->
            <app-add-column [thead]="allThead" [baseThead]="baseThead" (addThead)="addThead($event)" ></app-add-column>
            <!-- 关系 -->
            <app-gene-relative #relative (confirmEvent)="confirm()" (backEvent)="back()" ></app-gene-relative> </div>
        <!-- 表格转换 -->
        <app-table-transformation
            class="no-outside-border"
            #transformTable
            [isFirst]="first"
            [tableHeight]="tableHeight"
            [defaultTableEntity]="defaultEntity"
            [defaultTableUrl]="defaultUrl"
            [defaultTableId]="defaultTableId"
            [defaultTableDefaultChecked]="defaultDefaultChecked"
            [(defaultEmitBaseThead)]="defaultEmitBaseThead"
            (defaultBaseTheadChange)="baseTheadChange($event)"
            [defaultTableCheckStatusInParams]="defaultCheckStatusInParams"
            [extendTableEntity]="extendEntity"
            [extendTableUrl]="extendUrl"
            [extendTableId]="extendTableId"
            [extendTableDefaultChecked]="extendDefaultChecked"
            [(extendEmitBaseThead)]="extendEmitBaseThead"
            (extendBaseTheadChange)="baseTheadChange($event)"
            [extendTableCheckStatusInParams]="extendCheckStatusInParams"
            [showMatchAll]="showMatchAll"
            [(applyOnceSearchParams)]="applyOnceSearchParams"
        ></app-table-transformation>
    </div>
</div>
