<!-- venn -->
<div class="content row venn">
    <div #left class="left-layout column" [class.unexpand]="switch">
        <div class="left-top-layout">
            <h4>title</h4>
            <p>我是差异韦恩图</p>
        </div>
        <div class="left-bottom-layout">
            <ng-template #setTemplate>
                <nz-dropdown [nzPlacement]="'bottomRight'">
                    <i class="anticon anticon-setting" nz-tooltip nzTitle="设置" nz-dropdown></i>
                    <ul nz-menu>
                        <li nz-menu-item style="width:200;height:100px;">
                            <div>
                                <nz-slider nzRange [nzDefaultValue]="[20, 50]" [nzDisabled]="disabled"></nz-slider>
                            </div>
                        </li>
                    </ul>
                    
                </nz-dropdown>
            </ng-template>
            <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect"
                (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [tableUrl]="tableUrl" [chartUrl]="chartUrl"
                [apiEntity]="tableEntity" [isShowAccuracy]="true" [selectTemplate]="selectTemplate" [setTemplate]="setTemplate"
                (drawChartEmit)="drawVenn($event)" [flex]="true" [chartId]="'chartId22122'" [chartName]="'韦恩图'"></app-table-switch-chart>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch">
        <div class="switch">
            <nz-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></nz-switch>
        </div>
        <div #func style="height:80px;background-color:#ccc;"></div>
        <app-geneTable tableId="table_test" [selectItems]="selectTemplate" [pageEntity]="pageEntity" [checkStatusInParams]="false"
            url="" [tableHeight]="tableHeight" [defaultChecked]="false"></app-geneTable>
    </div>
</div>
