<!-- venn -->
<div class="content row venn">
    <div #left class="left-layout column" [class.unexpand]="switch">
        <div class="left-top-layout">
            <h4>title</h4>
            <p>我是表达量韦恩图</p>
        </div>
        <div class="left-bottom-layout">
            <ng-template #setTemplate>
                <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzVisible]="panelShow"
                    (nzVisibleChange)="panelChange()">
                    <i class="anticon anticon-setting" nz-tooltip nzTitle="设置" nz-dropdown></i>
                    <style>
                        .ex_container {
                            height: 250px;
                            width: 320px;
                            background: #FFFFFF;
                            position: relative;
                            background: #FFFFFF;
                            box-shadow: 0 4px 8px 0 rgba(57, 65, 79, 0.16);
                            border-radius: 4px;
                        }

                        .ex_PessionDis_in {
                            height: 80px;
                            width: 100%;
                        }

                        .ex_PessionDis_row {
                            width: 100%;
                            height: 40px;
                        }

                        .ex_PessionDis_left {
                            height: 40px;
                            width: 60px;
                            float: left;
                            text-align: center;
                            margin-left: 18px;
                            line-height: 40px;
                            margin-top: 20px;
                        }

                        .ex_PessionDis_right {
                            height: 40px;
                            width: 212px;
                            float: left;
                            margin-left: 15px;
                            margin-top: 20px;
                        }

                        .ex_button1 {
                            width: 80px;
                            height: 32px;
                            border: 1px solid #E1E2E6;
                            border-radius: 4px;
                            position: absolute;
                            bottom: 20px;
                            right: 110px;
                            font-size: 14px;
                            color: #262629;
                        }

                        .ex_button2 {
                            width: 80px;
                            height: 32px;
                            background: #5378F8;
                            border-radius: 4px;
                            position: absolute;
                            bottom: 20px;
                            right: 10px;
                            font-size: 14px;
                            color: #FFFFFF;
                        }

                    </style>
                    <div class="ex_container">
                        <div class="ex_PessionDis_in">
                            <div class="ex_PessionDis_row">
                                <div class="ex_PessionDis_left">
                                    FPKM
                                </div>
                                <div class="ex_PessionDis_right">
                                    <nz-slider nzRange
                                    [nzMin]="expression_Max_min.min"
                                    [nzMax]="expression_Max_min.max"
                                    (nzOnAfterChange)="onAfterChange($event)"
                                    [nzTipFormatter]="formatter"
                                    ></nz-slider>
                                </div>
                            </div>
                        </div>
                        <button class="ex_button1" [nzSize]="small" nz-button nzType="Default" (click)="setCancle()">
                            取消 </button>
                        <button class="ex_button2" [nzSize]="small" nz-button nzType="primary" (click)="setConfirm()">
                            确定 </button>
                    </div>
                </nz-dropdown>
            </ng-template>
            <!-- [selectTemplate]="selectTemplate" -->
            <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true"
                [(isMultiSelect)]="isMultiSelect" (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()"
                [tableUrl]="tableUrl" [chartUrl]="chartUrl" [apiEntity]="tableEntity" [isShowAccuracy]="true"
                [setTemplate]="setTemplate" (drawChartEmit)="drawVenn($event)" [selectPanelData]="selectPanelData"
                (selectConfirmEmit)="selectConfirm($event)" [defaultSelectNum]="this.store.getStore('sample').length" (defaultSelectList)="defaultSelectList($event)"
                [isVennTable]="true" [flex]="true" [chartId]="'chartId22122'" [chartName]="'韦恩图'">
            </app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch">
        <div class="switch">
            <nz-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></nz-switch>
        </div>
        <div class="func" #func (click)="resize($event)">
            <!-- 增删列 -->
            <app-add-column (toggle)="toggle($event)" [thead]="allThead" [baseThead]="baseThead" (addThead)="addThead($event)"></app-add-column>
            <!-- 关系 -->
            <app-gene-relative class="ml-12" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm()"></app-gene-relative>

            <button class="ml12" *ngIf="!addColumnShow" [nzSize]="small" nz-button nzType="Default" (click)="back()">返回</button>
        </div>
        <!-- 表格转换 -->
        <app-table-transformation class="no-outside-border" #transformTable [isFirst]="first" [tableHeight]="tableHeight"
            [defaultTableEntity]="defaultEntity" [defaultTableUrl]="defaultUrl" [defaultTableId]="defaultTableId"
            [defaultTableDefaultChecked]="defaultDefaultChecked" [(defaultEmitBaseThead)]="defaultEmitBaseThead"
            (defaultBaseTheadChange)="baseTheadChange($event)" [defaultTableCheckStatusInParams]="defaultCheckStatusInParams"
            [extendTableEntity]="extendEntity" [extendTableUrl]="extendUrl" [extendTableId]="extendTableId"
            [extendTableDefaultChecked]="extendDefaultChecked" [(extendEmitBaseThead)]="extendEmitBaseThead"
            (extendBaseTheadChange)="baseTheadChange($event)" [extendTableCheckStatusInParams]="extendCheckStatusInParams"
            [(applyOnceSearchParams)]="applyOnceSearchParams"></app-table-transformation>
    </div>
</div>
