<!-- venn -->
<div class="content row venn">
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <div class="left-top-layout">
            <!-- <h4>title</h4>
            <p>我是表达量韦恩图</p> -->
            <span (click)="moduleDescChange()" class="zhankai-shouqi pointer" [nzTitle]="(expandModuleDesc ? 'moduleDesc.unexpand' : 'moduleDesc.expand') | translate" nz-tooltip>
                <i class="iconfont expand-icon" [class.icon-shouqi1]="!expandModuleDesc"></i>
                <i class="iconfont expand-icon" [class.icon-zhankai1]="expandModuleDesc"></i>
                {{'express_venn.express_venn_title' | translate}}
            </span>
            <p [hidden]="!expandModuleDesc">{{'express_venn.express_venn_content' | translate}}</p>
            <ng-content select=".gene-switch-module"></ng-content>
        </div>
        <div class="left-bottom-layout">
            <ng-template #setTemplate>
                <nz-dropdown [nzPlacement]="'bottomRight'" [nzTrigger]="'click'" [nzVisible]="panelShow" (nzVisibleChange)="panelChange()">
                    <i class="iconfont icon-shezhi" nz-tooltip [nzTitle]="'tableButton.setting' | translate" nz-dropdown></i>
                    <div class="ex_container">
                            <div class="ex_top">
                                <div class="ex_container_top">
                                    <div class="con_PessionDis_title">
                                        设置
                                    </div>
                                    <div class="con_PessionDis_content">
                                        通过表达量对基因进行筛选，只有大于该值的基因参与VENN图或UpSetR图的绘制。
                                    </div>
                                </div>
                            </div>
                            <div class="ex_sp_content">
                                <div class="con_PessionDis_left">
                                    EXP >
                                </div>
                                <div class="con_PessionDis_right">
                                        <nz-input-number class="ex_input" (ngModelChange)="inputChange($event)" [(ngModel)]="targetValue" [nzMin]="expression_Min_value" [nzMax]="expression_Max_value" [nzStep]="0.1"></nz-input-number>
                                </div>
                            </div>
                        <button class="ex_button1" [nzSize]="small" nz-button nzType="Default" (click)="setCancle()">
                            {{'tableButton.cancel' | translate}}  </button>
                        <button class="ex_button2" [nzSize]="small" nz-button nzType="primary" (click)="setConfirm()">
                            {{'tableButton.confirm' | translate}}  </button>
                    </div>
                </nz-dropdown>
            </ng-template>
            <!-- [selectTemplate]="selectTemplate" -->
            <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect" (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [tableUrl]="tableUrl" [apiEntity]="tableEntity"
                [isShowAccuracy]="true" [setTemplate]="setTemplate" (drawChartEmit)="drawVenn($event)" [selectPanelData]="selectPanelData" (selectConfirmEmit)="selectConfirm($event)" [defaultSelectNum]="3" (defaultSelectList)="defaultSelectList($event)" [isVennTable]="true"
                [flex]="true" [chartId]="'chartId22122'" [chartName]="'韦恩图'" [chartDescContent]="chartDescContent">
            </app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
        <div class="switch" [class.hasAnalysisCount]="storeService['store']['analysisCount']">
            <app-layout-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></app-layout-switch>
        </div>
        <div class="func" #func (click)="resize($event)">
            <!-- 增删列 -->
            <app-add-column #addColumn (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)" [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="defaultGeneType"></app-add-column>
            <!-- 关系  [relative]="transformTable['relative']"-->
            <app-gene-relative class="ml-12" [geneType]="defaultGeneType" [geneCount]="selectGeneCount" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
            <!-- 返回 -->
            <button class="ml12" *ngIf="!addColumnShow && showBackButton" [nzSize]="small" nz-button nzType="Default" (click)="back()">返回</button>
        </div>
        <!-- 表格转换 -->
        <app-table-transformation class="no-outside-border" #transformTable [isFirst]="first" [tableHeight]="tableHeight" [defaultTableEntity]="defaultEntity" [defaultTableUrl]="defaultUrl" [defaultTableId]="defaultTableId" [defaultTableDefaultChecked]="defaultDefaultChecked"
            [(defaultEmitBaseThead)]="defaultEmitBaseThead" (defaultBaseTheadChange)="baseTheadChange($event)" [defaultTableCheckStatusInParams]="defaultCheckStatusInParams" [extendTableEntity]="extendEntity" [extendTableUrl]="extendUrl" [extendTableId]="extendTableId"
            [extendTableDefaultChecked]="extendDefaultChecked" [(extendEmitBaseThead)]="extendEmitBaseThead" (extendBaseTheadChange)="baseTheadChange($event)" [extendTableCheckStatusInParams]="extendCheckStatusInParams" [(applyOnceSearchParams)]="applyOnceSearchParams"
            (selectGeneCountChange)="handleSelectGeneCountChange($event)" [(computedScrollHeight)]="computedScrollHeight"></app-table-transformation>
    </div>
</div>