<div class="content row gene-fusion">
    <div #left class="left-layout column">
        <div class="left-top-layout">
            <span (click)="moduleDescChange()" class="zhankai-shouqi pointer" [nzTitle]="(expandModuleDesc ? 'moduleDesc.unexpand' : 'moduleDesc.expand') | translate" nz-tooltip>
                <i class="iconfont expand-icon" [class.icon-shouqi1]="!expandModuleDesc"></i>
                <i class="iconfont expand-icon" [class.icon-zhankai1]="expandModuleDesc"></i>
                {{'gene_fusion.title' | translate}}
            </span>
            <p [hidden]="!expandModuleDesc">{{'gene_fusion.content' | translate}}</p>
            <ng-content select=".gene-switch-module"></ng-content>
        </div>
        <div class="left-bottom-layout">
            <!-- 设置 -->
            <ng-template #setTemplate>
                <app-fusionSet *ngIf="!isShowTable" [isDisabled]='isDisabled' (confirm)="setConfirm($event)"></app-fusionSet>
            </ng-template>

            <!-- 下拉选择 -->
            <ng-template #selectTemplate>
                <nz-select style="min-width:160px" class="ml12" nzSize="small" nzShowSearch [(ngModel)]="sample" (ngModelChange)="handleSelectChange()">
                    <nz-option *ngFor="let item of samples;index as i;" [nzLabel]="item" [nzValue]="item"></nz-option>
                </nz-select>
            </ng-template>

            <app-table-switch-chart #fusionChartTable [id]="'fusionChart'" [apiEntity]="tableChartEntity" [tableUrl]="tableUrl" [chartUrl]="chartUrl" [isPaging]='true' [isFilter]='true' [setTemplate]="setTemplate" [selectTemplate]="selectTemplate" (drawChartEmit)="drawChart($event)"
                (showChange)="showChange($event)" [flex]="true" [chartId]="'fusionCircos'" [chartName]="'基因融合 Circos 图'" [chartDescContent]="'外圈代表染色体信息，中间连线表示融合基因（ 红线是染色体间的融合基因，绿线是染色体内的融合基因 ），从图中可以清楚地看出融合基因在染色体上的位置。'" (refresh)="handlerRefresh()">
            </app-table-switch-chart>
        </div>
    </div>
</div>