<div class="mgeneDetail">
  <div class="mgeneDetail_conetnt">
    <div class="mgene_title">
      {{geneID}} {{'gene_detail.gene_detail' | translate}}
    </div>

    <div class="mgene_page">
      <!-- 基因信息 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.gene_information' | translate}}</h4>
          <p *ngIf="geneInfoList['gene_id']">
            <span class="info_name">{{'gene_detail.gene_id' | translate}}</span>
            <span class="info_content">
              {{geneInfoList.gene_id}}
            </span>
            <span *ngIf="geneInfoList['url_ncbi_gene_id']" class="mlink">link to<a href="https://www.ncbi.nlm.nih.gov/gene/{{geneInfoList['url_ncbi_gene_id']}}" target="_blank">NCBI</a></span>
            <span *ngIf="geneInfoList['url_hgnc_gene_id']" class="mlink">link to<a href="https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:{{geneInfoList['url_hgnc_gene_id']}}" target="_blank">HGNC</a></span>
            <span *ngIf="geneInfoList['url_ensembl_gene_id']" class="mlink">link to<a href=" https://www.ensembl.org/Homo_sapiens/Gene/Summary?g={{geneInfoList['url_ensembl_gene_id']}}" target="_blank">Ensembl</a></span>
            <span *ngIf="geneInfoList['url_genecard_gene_id']" class="mlink">link to<a href="https://www.genecards.org/cgi-bin/carddisp.pl?gene={{geneInfoList['url_genecard_gene_id']}}" target="_blank">GeneCards</a></span>
            <span *ngIf="geneInfoList['url_kegg_gene_id']" class="mlink">link to<a href="https://www.kegg.jp/dbget-bin/www_bget?ko:{{geneInfoList['url_kegg_gene_id']}}" target="_blank">KEGG</a></span>
            <span *ngIf="geneInfoList['url_mirbase_gene_id']" class="mlink">link to<a href=" http://www.mirbase.org/cgi-bin/mirna_entry.pl?acc={{geneInfoList['url_mirbase_gene_id']}}" target="_blank">miRBase</a></span>
          </p>
          <p *ngIf="geneInfoList['gene_symbol']">
            <span class="info_name">{{'gene_detail.gene_symbol' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_symbol']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_full_name']">
            <span class="info_name">{{'gene_detail.gene_full_name' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_full_name']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_other_symbol']">
            <span class="info_name">{{'gene_detail.gene_other_symbol' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_other_symbol']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['tf_family']">
            <span class="info_name">{{'gene_detail.tf_family' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['tf_family']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_chr']">
            <span class="info_name">{{'gene_detail.gene_chr' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_chr']}}<span *ngIf="geneInfoList['gene_start']">:</span>{{geneInfoList['gene_start']}}<span *ngIf="geneInfoList['gene_end']">-</span>{{geneInfoList['gene_end']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['gene_map_loc']">
            <span class="info_name">{{'gene_detail.gene_map_loc' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['gene_map_loc']}}
            </span>
          </p>
          <p *ngIf="geneInfoList['genome_version']">
            <span class="info_name">{{'gene_detail.genome_version' | translate}}</span>
            <span class="info_content">
                {{geneInfoList['genome_version']}}
            </span>
          </p>
          <button *ngIf="btn_show" style="margin-left: 20px;" nz-button [nzSize]="'small'" nzType="primary" (click)="btnShow()">{{'gene_detail.showGeneID' | translate}}</button>
          <button *ngIf="!btn_show" style="margin-left: 20px;" nz-button [nzSize]="'small'" nzType="primary" (click)="btnShow()">{{'gene_detail.noShowGeneID' | translate}}</button>
          <!-- 转录本信息 -->
          <div class="transcripts_table" *ngIf="!btn_show">
              <!-- <ng-template #titleTemplate>
                  <div class="table-thead">
                      <div class="fRight">
                          <i class="iconfont icon-xiazai" (click)="down_transcripts()"></i>
                      </div>
                  </div>
              </ng-template>
              <nz-table [nzData]="rows" nzShowPagination="false" [nzSize]="'small'" [nzTitle]="titleTemplate">
                  <thead>
                      <tr>
                          <th style="min-width:160px;max-width: 160px;" *ngFor="let thead of baseThead;index as i">{{thead.name}}</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let row of rows;index as idx">
                          <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of baseThead">
                              <a href="https://www.ncbi.nlm.nih.gov/nuccore/{{geneInfoList['url_ncbi_gene_id']}}" target="_blank" *ngIf="thead.true_key=='rna_id'">{{row[thead.true_key]}}</a>
                              <span *ngIf="thead.true_key!='rna_id'">{{row[thead.true_key]}}</span>
                          </td>
                      </tr>
                  </tbody>
              </nz-table> -->
              <app-little-table [url]="defaultUrl" [pageEntity]="rna_params"></app-little-table>
          </div>
      </div>
      
      <!-- 样本表达量（FPKM） -->
      <div class="mgene_content">
          <h4>{{'gene_detail.expressive_information' | translate}}</h4>
         
          <div class="transcripts_table">
              <h5>{{'gene_detail.sample_expression' | translate}}</h5>
              <!-- [nzSelectedIndex]="expressive_index" (nzSelectedIndexChange)="SelectedExpressiveChange($event)" -->
              <nz-tabset>
                <nz-tab nzTitle="基因">
                    <!-- <ng-template #expressiveGeneTemplate>
                        <div class="table-thead">
                            <div class="fRight">
                                <i class="iconfont icon-xiazai" (click)="down_expressive_gene()"></i>
                            </div>
                        </div>
                    </ng-template>
                    <nz-table [nzData]="expressive_rows" nzShowPagination="false" [nzSize]="'small'" [nzTitle]="expressiveGeneTemplate">
                        <thead>
                            <tr>
                                <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of expressive_baseThead;index as i">{{thead.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of expressive_rows;index as idx">
                                <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of expressive_baseThead">
                                  {{row[thead.true_key]}}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table> -->
                    <app-little-table [url]="expressive_defaultUrl" [pageEntity]="expressive_params_g"></app-little-table>
                </nz-tab>
                <nz-tab nzTitle="转录本">
                    <!-- <ng-template #expressiveTranTemplate>
                        <div class="table-thead">
                            <div class="fRight">
                                <i class="iconfont icon-xiazai" (click)="down_expressive_transcripts()"></i>
                            </div>
                        </div>
                    </ng-template>
                    <nz-table [nzData]="expressive_rows" nzShowPagination="false" [nzSize]="'small'" [nzTitle]="expressiveTranTemplate">
                        <thead>
                            <tr>
                                <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of expressive_baseThead;index as i">{{thead.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of expressive_rows;index as idx">
                                <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of expressive_baseThead">
                                  {{row[thead.true_key]}}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table> -->
                    <app-little-table [url]="expressive_defaultUrl" [pageEntity]="expressive_params_t"></app-little-table>
                </nz-tab>
              </nz-tabset>
          </div>

          <!-- 折线图 -->
          <div class="transcripts_table">
              <h5>{{'gene_detail.expression_polygraph' | translate}}</h5>
              <div id="lineChartDiv" class="mlineChartDiv">
              </div>
          </div>
      </div>

      <!-- 差异表达 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.differential_expression' | translate}}</h4>
          <div class="transcripts_table"><!-- 组间差异 -->
              <h5>{{'gene_detail.group_differences' | translate}}</h5>
              <nz-tabset [nzSelectedIndex]="groupDiff_index" (nzSelectedIndexChange)="SelectedGroupDiffChange($event)">
                  <nz-tab nzTitle="基因">
                      <!-- <ng-template #groupTemplate>
                          <div class="table-thead">
                              <div class="fRight">
                                  <i class="iconfont icon-xiazai" (click)="down_gene_group()"></i>
                              </div>
                          </div>
                      </ng-template>
                      <nz-table [nzData]="groupDiff_rows" nzShowPagination="false" [nzSize]="'small'" [nzTitle]="groupTemplate">
                          <thead>
                              <tr>
                                  <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of groupDiff_baseThead;index as i">{{thead.name}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let row of groupDiff_rows;index as idx">
                                  <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of groupDiff_baseThead">
                                    {{row[thead.true_key]}}
                                  </td>
                              </tr>
                          </tbody>
                      </nz-table> -->
                      <app-little-table [url]="groupDiff_defaultUrl" [pageEntity]="groupDiff_params_g"></app-little-table>
                  </nz-tab>
                  <nz-tab nzTitle="转录本">
                      <!-- <ng-template #expressiveTranTemplate>
                          <div class="table-thead">
                              <div class="fRight">
                                  <i class="iconfont icon-xiazai" (click)="down_expressive_transcripts()"></i>
                              </div>
                          </div>
                      </ng-template>
                      <nz-table [nzData]="groupDiff_rows" nzShowPagination="false" [nzSize]="'small'">
                          <thead>
                              <tr>
                                  <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of groupDiff_baseThead;index as i">{{thead.name}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let row of groupDiff_rows;index as idx">
                                  <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of groupDiff_baseThead">
                                    {{row[thead.true_key]}}
                                  </td>
                              </tr>
                          </tbody>
                      </nz-table> -->
                      <app-little-table [url]="groupDiff_defaultUrl" [pageEntity]="groupDiff_params_t"></app-little-table>
                  </nz-tab>
              </nz-tabset>
          </div>
          
          <div class="transcripts_table"> <!-- 样本差异 -->
            <h5>{{'gene_detail.sample_differences' | translate}}</h5>
            <nz-tabset [nzSelectedIndex]="sampleDiff_index" (nzSelectedIndexChange)="SelectedSampleDiffChange($event)">
                <nz-tab nzTitle="基因">
                    <!-- <ng-template #expressiveTranTemplate>
                        <div class="table-thead">
                            <div class="fRight">
                                <i class="iconfont icon-xiazai" (click)="down_expressive_transcripts()"></i>
                            </div>
                        </div>
                    </ng-template>
                    <nz-table [nzData]="sampleDiff_rows" nzShowPagination="false" [nzSize]="'small'">
                        <thead>
                            <tr>
                                <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of sampleDiff_baseThead;index as i">{{thead.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of sampleDiff_rows;index as idx">
                                <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of sampleDiff_baseThead">
                                  {{row[thead.true_key]}}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table> -->
                    <app-little-table [url]="sampleDiff_defaultUrl" [pageEntity]="sampleDiff_params_g"></app-little-table>
                </nz-tab>
                <nz-tab nzTitle="转录本">
                    <!-- <ng-template #expressiveTranTemplate>
                        <div class="table-thead">
                            <div class="fRight">
                                <i class="iconfont icon-xiazai" (click)="down_expressive_transcripts()"></i>
                            </div>
                        </div>
                    </ng-template>
                    <nz-table [nzData]="sampleDiff_rows" nzShowPagination="false" [nzSize]="'small'">
                        <thead>
                            <tr>
                                <th style="min-width:160px;max-width: 160px;color: #5378f8;" *ngFor="let thead of sampleDiff_baseThead;index as i">{{thead.name}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let row of sampleDiff_rows;index as idx">
                                <td style="min-width:160px;max-width: 160px; text-align: center;" *ngFor="let thead of sampleDiff_baseThead">
                                  {{row[thead.true_key]}}
                                </td>
                            </tr>
                        </tbody>
                    </nz-table> -->
                    <app-little-table [url]="sampleDiff_defaultUrl" [pageEntity]="sampleDiff_params_t"></app-little-table>
                </nz-tab>
            </nz-tabset>
          </div>
      </div>

      <!-- 表达量信息 -->
      <div class="mgene_content">
        <h4>{{'gene_detail.miRNA_second_structure' | translate}}</h4>
        <div class="transcripts_table">
          <p>下图展示miRNA的二级截图和reads与前体（precursor）的比对情况，reads来自于公共数据，与本项目数据无关。</p>
          <img [src]="precursor_image" class="m_img" />
        </div>
      </div>
    
      <!-- 变异信息 -->
      <div class="mgene_content">
          <h4>{{'gene_detail.variation_information' | translate}}</h4>
          <div class="transcripts_table">
              <h5>SNP</h5>

          </div>

          <div class="transcripts_table">
              <h5>InDel</h5>
              
          </div>
      </div>
    
    </div>
  </div>
</div>