<div class="gene-transform">
    <app-table-transformation
        [defaultTableEntity]="defaultTableEntity"
        [defaultTableUrl]="defaultTableUrl"
        [defaultTableId]="defaultTableId"
        [defaultTableDefaultChecked]="defaultTableDefaultChecked"
        [defaultTableCheckStatusInParams]="defaultTableCheckStatusInParams"
        [extendTableEntity]="extendTableEntity"
        [extendTableUrl]="extendTableUrl"
        [extendTableId]="extendTableId"
        [extendTableDefaultChecked]="extendTableDefaultChecked"
        [extendTableCheckStatusInParams]="extendTableCheckStatusInParams"
    ></app-table-transformation>

    <br>
    <br>
</div>
