<div class="content base-content help">
    <h2 class="title">2.帮助</h2>
    <hr class="mhr" />
  
    <div class="help_option">
        <div class="help_content">
          <h3 class="title">分析方法：</h3>
          <h3 class="title">表达量计算</h3>
          <p class="help_text">适用产品：RNAseq、RNAref</p>
          <p class="help_text">
              我们使用 Bowtie2[1]将Clean reads比对到参考基因序列上，然后使用RSEM[2]计算各个样品的基因表达水平。
          </p>
          <div class="help_bg">
              <p>软件信息: </p> 
              <p>Bowtie2: </p> 
              <p>版本：v2.2.5</p> 
              <p>参数：-q --phred64 --sensitive --dpad 0 --gbar 99999999 --mp 1,1 --np 1 --score-min L,0,-0.1 -p 16 -k 200</p>
              <p>官网：<a href="http://bowtie-bio.sourceforge.net/Bowtie2/index.shtml" target="_blank">http://bowtie-bio.sourceforge.net/Bowtie2/index.shtml</a></p>
              <p>参考文献：</p>
              <p>[1] Langmead, B. et al. Fast gapped-read alignment with Bowtie 2. Nat. Methods 9, 357-359 (2012).</p>
              <p>RSEM:</p>
              <p>版本：v1.2.8</p>
              <p>参数：default</p>
              <p>官网：<a href="http://deweylab.biostat.wisc.edu/rsem/rsem-calculate-expression.html" target="_blank">http://deweylab.biostat.wisc.edu/rsem/rsem-calculate-expression.html</a></p>
              <p>参考文献：</p>
              <p>[1] Li, B. & Dewey, C. N. RSEM: accurate transcript quantification from RNA-Seq data with or without a reference genome. BMC Bioinformatics 12, 323 (2011).</p>
          </div>

          <p class="help_text">适用产品：lncRNA</p>
          <p class="help_text">
              我们使用Bowtie2[1]将clean reads比对到参考序列，之后再使用RSEM[2]计算基因和转录本的表达量，RSEM是通过建立起reads产生的模型，后运用最大似然方法确定如何分配reads到不同的转录本，我们采用链特异性模式，能区分reads来源于正负链，从而实现更精准地定量。
          </p>
          <p class="help_text">
              为了使样本间的表达量能够相互比较，需要对基因的表达量进行标准化处理。RSEM使用的标准化方法是FPKM。FPKM具体计算公式如下:
          </p>
          <!-- 图片 -->
          <div class="img img-one-expression"></div>
          <p class="help_text">设FPKM(A)为基因A的表达量，则C为唯一比对到基因A的fragments数，N为唯一比对到参考基因的总fragments数，L为基因A编码区的碱基数。FPKM法能消除基因长度和测序量差异对计算基因表达的影响，计算得到的基因表达量可直接用于比较不同样品间的基因差异表达。</p>
          <div class="help_bg">
              <p>软件信息：</p>
              <p>Bowtie2:</p>
              <p>版本：v2.2.5</p>
              <p>参数：-q --phred64 --sensitive --dpad 0 --gbar 99999999 --mp 1,1 --np 1 --score-min L,0,-0.1 -I 1 -X 1000 --no-mixed --no-discordant -p 1 -k 200</p>
              <p>官网：<a href="http://bowtie-bio.sourceforge.net/bowtie2/index.shtml" target="_blank">http://bowtie-bio.sourceforge.net/bowtie2/index.shtml</a></p>
              <p> RSEM:</p>
              <p>版本：v1.2.12</p>
              <p>参数：--forward-prob 0</p>
              <p>官网：<a href="http://deweylab.biostat.wisc.edu/rsem" target="_blank">http://deweylab.biostat.wisc.edu/rsem</a></p>
              <p>参考文献：</p>
              <p>[1] Langmead B, Salzberg SL. (2012) Fast gapped-read alignment with Bowtie 2. Nat Methods.</p>
              <p>[2] Li B, Dewey CN. (2011) RSEM: accurate transcript quantification from RNA-Seq data with or without a reference genome.BMC Bioinformatics. </p>
          </div>

          <p class="help_text">适用产品：smallRNA + library_method: smallRNA_common</p>
          <p class="help_text">我们使用TPM[1]标准化小RNA的表达水平，这样处理可以避免不同测序量对定量准确性的影响。因此，标准化后的数据可以直接用于后续差异比较分析。TPM的计算公式如下：</p>
           <!-- 图片 -->
           <div class="img img-two-expression"></div>
           <div class="help_bg">
              <p>参考文献：</p>
              <p>[1] 't Hoen, Ariyurek, et al. Deep sequencing-based expression analysis shows major advances in robustness, resolution and inter-lab portability over five microarray platforms. Nucleic Acids Res. 2008 Dec;36(21)</p>
           </div>
          
          <p class="help_text">适用产品：smallRNA + library_method: smallRNA_UMI</p>
          <p class="help_text">特异性分子标签（UMI）为8-10nt的短序列，可看做“条形码”，在文库构建的早期阶段连接到cDNA分子中，标记原始样品中的每个分子。用于减少PCR扩增复制引入的定量偏差，有利于获得足够的读数以进行检测[1]。定量统计UMI种类数而非数量，“冻结”文库分子扩增前的状态，还原原始样品真实信息，保证small RNA定量的准确性。</p>
           <div class="help_bg">
              <p>参考文献：</p>
              <p>[1] Kivioja T, Vähärautio A, Karlsson K, et al. Counting absolute numbers of molecules using unique molecular identifiers[J]. Nature Methods, 2012, 9(1):72-74.</p>
           </div>

           <p class="help_text">适用产品：circRNA</p>
          <p class="help_text">本研究根据比对至circRNA两端的 junction reads 数来计算circRNA的表达量，由于使用了两个软件CIRI、find_circ来预测，所以最终的 junction reads 数取两者结果的平均值。 本研究采用 RPB （junction reads per billion mapped reads，比对上基因组的所有reads标准化到十亿后跨过back-spliced位点的junction reads数目）对各样品作了均一化处理。</p>
        </div>
    </div>
  
    <div class="help_option">
        <div class="help_content">
            <h3 class="title">差异基因检测</h3>
            <p class="help_text">适用产品：RNAseq、RNAref、lncRNA、smallRNA、circRNA</p>
            <p class="help_text">DEGseq: </p>
            <p class="help_text">DEGseq方法基于泊松分布，本项目根据Wang L, Feng Z, Wang X, et al.中描述的方法进行差异基因检测。</p>
            <p class="help_text">RNA测序可以被当成随机取样的过程，每一个read从样品中独立且均匀地取样。在这个假设下，来自基因（转录本）的read数目遵循二项分布（并且近似由泊松分布代替）。</p>
            <p class="help_text">使用上述的统计模型，DEGseq 提出一个基于MA-plot的新方法，MA-plot是广泛应用于芯片数据的统计分析工具，让C1和C2表示从两个样品获得的特定基因的read数目，他们符合Ci~binomial(ni,pi)，i=1,2分布，其中ni表示所有比对上的read总数，pi表示来着该基因的概率。 DEGseq定义 M=log2C1-log2C2和A=(log2C1+log2C2）/2并证明在随机抽样假设下 ，给定A=a （a是A的观察值）的条件分布 M 遵循近似正态分布。 对于MA图上的每个基因，进行假设检验H0：p1=p2与H1：p1≠p2。然后根据正态分布计算P值。</p>
            <p class="help_text">通过Benjamini,Y. and Hochberg,Y. 和Storey,J. and Tibshirani,R. 两种策略将P-values矫正为Q-values。为了提高DEGs的准确性，我们定义差异倍数为两倍以上并且Q-value≤0.001的基因，筛选为显著差异表达基因。</p>
            <div class="help_bg">
                <p>软件信息：</p>
                <p>DEGseq:</p>
                <p> 参数: Fold Change >= 2.00 and Adjusted Pvalue <= 0.001</p>
                <p>参考文献：</p>
                <p>[1]Wang L, Feng Z, Wang X, et al. DEGseq: an R package for identifying differentially expressed genes from RNA-seq data[J]. Bioinformatics, 2010, 26(1): 136-138.</p>
            </div>

            <h3 class="title">泊松分布方法（PossionDis）</h3>
            <p class="help_text">PossionDis方法基于泊松分布原理，本项目参照Audic S.等人发表在Genome Research上的基于测序的差异基因检测方法，我们开发了严格的算法筛选两样本间的差异表达基因。假设观测到基因A对应的reads数为x，已知在一个大文库中，每个基因的表达量只占所有基因表达量的一小部分，在这种情况下,x的分布服从泊松分布：</p>
            <!-- 图片 -->
            <div class="img img-three-expression"></div>
            <p class="help_text"> 已知，样本一中唯一比对到基因组的总reads数为N1，样本二中唯一比对到基因组的总reads数为N2；样本一中唯一比对到基因A的总reads数为x，样本二中唯一比对到基因A的总reads数为y，则基因A在两样本中表达量相等的概率可由以下公式计算： </p> 
            <!-- 图片 -->
            <div class="img img-four-expression"></div>
            <p class="help_text">然后，我们对差异检验的P-value作多重假设检验校正 ，通过控制 FDR （False Discovery Rate）来决定P-value的域值。假设挑选了R个差异表达基因，其中S个是真正有差异表达的基因，另外V个是其实没有差异表达的基因，为假阳性结果。希望错误比例Q＝V/R平均而言不能超过某个可以容忍的值（比如5％），则在统计时预先设定 FDR 不能超过0.05。在得到差异检验的 FDR 值同时，我们根据基因的表达量（FPKM值）计算该基因在不同样本间的差异表达倍数。 FDR 值越小，差异倍数越大，则表明表达差异越显著。在我们的分析中，差异表达基因默认定义为 FDR ≤0.001且倍数差异在2倍以上的基因。</p>
            <div class="help_bg">
                <p>PossionDis:</p>
                <p>参数: Fold Change >= 2 and FDR <= 0.001</p>
                <p>参考文献：</p>
                <p>[1] Audic, S. & Claverie, J. M. The significance of digital gene expression profiles. Genome Res. 7, 986-995 (1997).</p>
                <p>[2] Salkind, N. J. Encyclopedia of Measurement and Statistics. SAGE Publications, Thousand Oaks, California, 2007.</p>
                <p>[3] Benjamini, Y. & Yekutieli, D. The control of the false discovery rate in multiple testing under dependency. Ann. Stat. 29, 1165-1188 (2001).</p>
            </div>
            
            <h3 class="title">DESeq2: </h3>
            <p class="help_text">DEseq2方法基于负二项分布原理，本项目根据Michael I, et al.[1]中描述的方法进行差异基因DEG。DEG是差异表达基因的简称，指不同样品之间表达水平有差异的基因检测。</p>
            <div class="help_bg">
                <p>DESeq2:</p>
                <p>参数: Fold Change >= 2.00 and Adjusted Pvalue <= 0.05</p>
                <p>参考文献：</p>
                <p>[1] Love, M. I., Huber, W. & Anders, S. Moderated estimation of fold change and dispersion for RNA-seq data with DESeq2. Genome Biol. 15, 550 (2014).</p>
            </div>
            
            <h3 class="title">NoiSeq: </h3>
            <p class="help_text">两两之间的差异倍数（M）以及绝对差值（D）两个背景数据集，称之为噪音背景：</p>
            <!-- 图片 -->
            <div class="img img-five-expression"></div>
            <p class="help_text">对于基因A分别计算在对照样品中的平均表达量Control-avg，处理样品中的平均表达量Treat-avg，得到该基因的差异倍数（MA=log2((Treat-avg)/(Control-avg))）和绝对差值（DA=|Congrol-avg-Treat-avg|），如果MA、DA均明显偏离噪音背景数据集，则该基因属于差异表达基因。具体地，以MA、DA同时大于相应数据集的概率来衡量该基因偏离噪音背景数据集的程度：</p>
            <!-- 图片 -->
            <div class="img img-six-expression"></div>
            <p class="help_text">我们计算出每个基因的差异倍数，以及偏离度概率值，然后按照差异倍数≥2、偏离概率值≥0.8的默认标准，筛选出差异表达基因。</p>
            <div class="help_bg">
              <p>NOIseq:</p>
              <p>参数: Fold Change >= 2.00 and Probability >= 0.8</p>
              <p>参考文献：</p>
              <p>[1] Tarazona, S. et al. Differential expression in RNA-seq: a matter of depth. Genome Res. 21, 2213-2223 (2011).</p>
            </div>

            <p class="help_text">适用产品：RNAseq、RNAref、lncRNA、smallRNA、circRNA</p>
            <h3 class="title">聚类热图</h3>
            <p class="help_text">根据差异基因检测结果，对并集差异基因，使用R包pheatmap进行层次聚类分析。</p>
            <div class="help_bg">
                <p>参数：Default</p>
                <p>参考文献：<a href="https://cran.r-project.org/web/packages/pheatmap/" target="_blank">https://cran.r-project.org/web/packages/pheatmap/</a></p>
              </div>
        </div>
    </div>

    <div class="help_option">
        <div class="help_content">
            <h3 class="title">常见问题：</h3>
            <p class="help_text">适用产品：RNAseq、RNAref、lncRNA、smallRNA、circRNA</p>
            <h3 class="title sjx2">1、有生物学重复的样本做样本间的差异基因检测有无意义？</h3>
            <p class="help_text sjx2"> 生物学实验一般要求进行生物学重复，例如对某个基因进行PCR定量分析，一般会做三组生物学重复。高通量测序实验也同样需要遵循该规则，生物学重复可以减少个体差异造成的干扰。2011年7月Hansen发表的文章表明生物学差异是基因自身表达的特性，与检测技术的选择以及数据处理的方式无关。如果不设生物学重复，高影响因子的杂志可能会因此而拒稿。若在实验设计时，未设置生物学重复，我们将用possionDis进行差异分析作为补救措施，结果可靠性较差，建议在筛选差异基因时，除了对FDR进行筛选，还可以对表达量进行筛选，例如要求差异基因在对照或处理组中的表达量大于某个数值。</p>
            <h3 class="title sjx2">2、为什么差异分析中给出的Log2FoldChange，与自己用FPKM计算得到的不同？</h3>
            <p class="help_text sjx2">以DEGseq软件为例，log2Ratio(B/A)的值并不是直接通过表达量（FPKM）的均值再去计算log得来的，而是用该mRNA表达量（counts数）的局部标准差（根据所有基因表达量的线性回归，取对应基因的某个小区间，再计算出对应的标准差值）来标准化之后再比较计算得出的，对每个mRNA表达量校正时，跟每个样品所有mRNA的表达量分布有关；如果样品A在表达量为0的周围有0.01,0.02；而样品B在表达量为0的周围只有0.015，给出的校正值也是不一样的，详细的说明如下：</p>
            <p class="help_text sjx2">A smoothed estimate of the intensity-dependent noise level is done by loess regression, and converted to local standard deviations (SDs) of M conditioned on A, under the assumption of normal distribution. The local SDs are then used to identify the difference of the gene expression between the two samples.</p>
        </div>
    </div>
  </div>
  