<div class="content big-table-content" id="gene-table-test">

    <ng-template #selectTemplate>
        <nz-select style="width: 180px;margin-right: 10px" [(ngModel)]="pageEntity.sample" (ngModelChange)="selectOneChange()" [nzSize]="'small'">
            <nz-option nzLabel="mrna" [nzValue]="'mrna'"></nz-option>
            <nz-option nzLabel="dna" [nzValue]="'dna'"></nz-option>
            <nz-option nzLabel="bsa" [nzValue]="'bsa'"></nz-option>
        </nz-select>
    </ng-template>


    <app-geneTable #geneTable tableId="table_test" [selectItems]="selectTemplate" [pageEntity]="pageEntity" [checkStatusInParams]="false"
        url="http://localhost:8086/filter" [defaultChecked]="true"></app-geneTable>

</div>
