<div class="content row gene-fusion">
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <div class="left-top-layout">
            <span (click)="moduleDescChange()" class="zhankai-shouqi pointer" [nzTitle]="(expandModuleDesc ? 'moduleDesc.unexpand' : 'moduleDesc.expand') | translate" nz-tooltip>
                <i class="iconfont expand-icon" [class.icon-zhankai]="!expandModuleDesc"></i>
                <i class="iconfont expand-icon" [class.icon-shouqi]="expandModuleDesc"></i>
                融合基因
            </span>
            <p [hidden]="!expandModuleDesc">{{'diff_venn.diff_venn_content' | translate}}</p>
            <ng-content select=".gene-switch-module"></ng-content>
        </div>
        <div class="left-bottom-layout">
            <ng-template #setTemplate>
                <app-fusionSet (confirm)="setConfirm($event)"></app-fusionSet>
            </ng-template>

             <!-- 下拉选择 -->
            <ng-template #selectTemplate>
                <nz-select style="width: 160px;" class="ml12" nzSize="small" nzShowSearch [(ngModel)]="sample" (ngModelChange)="handleSelectChange()">
                    <nz-option *ngFor="let item of samples;index as i;" [nzLabel]="item" [nzValue]="item"></nz-option>
                </nz-select>
            </ng-template>

            <!-- [tableUrl]="tableUrl" -->
            <app-table-switch-chart
                #fusionChartTable
                [id]="'fusionChart'"
                [apiEntity]="tableChartEntity"
                [chartUrl]="chartUrl"
                [setTemplate]="setTemplate"
                [selectTemplate]="selectTemplate"
                (drawChartEmit)="drawChart($event)"
                [flex]="true"
                [chartId]="'fusionCircos'"
                [chartName]="'基因融合 Circos 图'"
                [chartDescContent]="'从外到内，第 1 个圆表示染色体；第 2、3、4 个圆分别显示的是以 1,000,000 个碱基为滑动窗口时，SNP 数目、INDEL 数目、基因 FPKM 值的变化情况；如果内部有连线，则显示的是基因融合的情况（ 红线是染色体间的基因融合，绿线是染色体内的基因融合，基因融合分析仅限人的项目 ）。'"
                (refresh)="handlerRefresh()"
            >
            </app-table-switch-chart>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
        <div class="switch" [class.hasAnalysisCount]="storeService['store']['analysisCount']">
            <app-layout-switch  [ngModel]="switch" (ngModelChange)="switchChange($event)"></app-layout-switch>
        </div>

        <app-table-switch-chart
                #fusionImg
                [id]="'fusionImg'"
                [chartUrl]="rightImgUrl"
                [apiEntity]="imgEntity"
                (drawChartEmit)="drawRightImg($event)"
                [flex]="true"
                [chartId]="'fusionImg'"
                [chartName]="'基因融合'"
                (refresh)="rightHandlerRefresh()"
            >
            </app-table-switch-chart>
    </div>
</div>
