<div class="mgeneDetail">
    <div class="mgeneDetail_conetnt">
      <div class="mgene_title" style="position: relative;">
        Dr. Tom操作指引及使用帮助
        <!-- <div style="position: absolute;bottom: -16px;right: 14px;font-size: 13px;">-----华大科服产品部</div> -->
      </div>

      <div class="mgene_page">
        <h4>功能简介</h4>
        <div class="transcripts_table">
            <p class="title">Dr. Tom多组学数据挖掘系统有以下扩展功能：</p>
            <p class="h_content">1.任意表格可通过扩展列添加基因信息，包括基因属性、表达量、差异表达、多种数据库注释等，并可在线完成丰富的条件筛选。</p>
            <p class="h_content">2.结果图片支持多种在线编辑，包括名称、图片颜色、显示比例等。同时可以图表交互，在图上单击目标区域即可得到对应区域的基因信息。</p>
            <p class="h_content">3.可在线使用分析工具进行聚类热图、富集、分类、蛋白网络互作、KDA、可变剪切、折线图及多组学关联等分析。</p>
            <p class="h_content">4.可通过关联转换中的PPI/Target/Coexpression/位置关系，一键调取与目的基因有关联关系的多种RNA。</p>
            <p class="h_content">5.增加TCGA和ARCHS4两种外部数据库，更多信息扩展。</p>
            <p class="h_content">6.可自行上传已有的RNA定量数据，自行调用界面上的小工具进行分析。同时可以上传自定义的基因属性，扩大数据库注释范围。</p>
            <p class="h_content">7.对常规结果图增加第三维度的分类/注释信息，多维度作图。</p>
            <p class="h_content">8.单个基因可点击进入基因详情页，包括属性、注释、表达量和相关文献信息，在网络图中点击两个基因间的连接线也可得到支持两个基因关系的相关文献</p>
        </div>

        <h4>登录报告</h4>
        <div class="transcripts_table">
            <p class="h_content">1.请用 Google Chrome浏览器打开报告网址 http://report.bgi.com，输入您的账号密码，登录后查看报告。</p>
            <p class="h_content">2.注：本报告目前仅对Google Chrome浏览器做兼容性适配，若用其它浏览器打开，在使用过程中可能会有异常。</p>
            <p class="h_content">3.如遇无法登录，请确认用户名、密码和验证码是否正确。若仍有问题，可根据邮件中的提示联系项目管理。</p>
            <p class="h_content">4.Dr. Tom使用期限为项目交付起12个月，逾期如需继续使用，需要和驻地销售联系。</p>
        </div>

        <h4>页面布局和功能</h4>
        <div class="transcripts_table">
            <p class="title2">主界面：</p>
            <div class="help_cc_one"></div>
            <p class="title3">目录区：<span class="h_content">该项目的所有初始分析结果可以通过目录区分别点击进入查阅</span></p>
            <p class="title3">搜索框：<span class="h_content">可以通过基因ID号或任意关键词一键搜索所需信息</span></p>
            <p class="title3">基因总表：<span class="h_content">测序物种的mRNA/lncRNA/small RNA/circRNA信息的总表</span></p>
            <p class="title3">其他功能：<span class="h_content">存为PDF，上传界面，保存基因集，中英文切换</span></p>
            <p class="title3">工具区：<span class="h_content">聚类热图、富集、分类、蛋白网络互作、KDA、可变剪切、折线图及多组学关联等分析</span></p>

            <p class="title2 m_top">分目录界面：</p>
            <div class="help_cc_two"></div>
            <p class="title3">图区：<span class="h_content">可设置，可编辑，可选择并可在图右上方一键下载。点击图中区域，右侧表格区会显示对应图中所选区域的基因信息。
可以进行基因/转录本的一键切换。界面右上方的拖拽按键可以点击后读取右侧表格的完整内容。</span></p>
            <div class="help_cc_three"></div>
            <p class="h_content">搜索框中可以输入基因ID号定位出目的基因在图中的位置。</p>
            <p class="h_content">互作网络图和KDA图中基因和基因之前的连线可以点击后通过delete删除，或者可以点击两个未有连线的基因通过add link添加关系连线。</p>
            <p class="h_content">同时点击两个基因之间的关系连线，会出现支持两个基因间关系的所有文献，再点击对应文献即可跳转到详情页。</p>

            <p class="title2 m_top">基因详情页：</p>
            <div class="help_cc_four"></div>
            <p class="h_content">在任意表格/图表交互场景的表格中，可以一键点击基因序列号进入基因详情页查阅该基因的所有相关信息，页面的最下方提供已经报到过该基因功能的所有相关文献</p>
            
            <p class="title2 m_top">表格扩展功能：</p>
            <div class="help_cc_five"></div>
            <p class="h_content">表格左上角有扩展列选项的，可以单击扩展列进入信息扩展模式。例如单击扩展列后切换到“注释”标签，选中“GO”，再单击 确认 ，可以在表格中增加一列GO注释信息，拖动横向滚动条即可查看。</p>
            
            <p class="title2 m_top">外部数据库功能：</p>
            <div class="help_cc_six"></div>
            <p class="h_content">扩展列中的外部数据库收录了TCGA(癌症/肿瘤基因图谱)，ARCHS4(人鼠基因表达数据库)的基因表达量数据，点击数据库中的肿瘤/组织即可获取基因在其中的表达量情况（下方表格中会增加一列均一化后的基因表达量值）。</p>
            
            <p class="title2 m_top">全转录组关联分析：</p>
            <div class="help_cc_seven"></div>
            <p class="h_content">点击表格左上角的关联转换，通过关联转换中的PPI/Target/Coexpression/位置关系，一键调取与目的基因有关联关系的多种RNA。后续可以搭配多组学关联/多组学聚类小工具做关联分析。</p>
            <p class="h_content">PPI：mRNA-mRNA</p>    
            <p class="h_content">Target: mRNA-miRNA</p>
            <p class="h_content">Coexpression: mRNA-lncRNA</p>         
            <p class="h_content">位置关系:mRNA, lncRNA, miRNA, circRNA都包括</p>

            <p class="title2 m_top">自定义上传功能：</p>
            <div class="help_cc_eight"></div>
            <p class="h_content">点击右上角的上传数据进入数据上传界面，点击数据模板下载，根据模板内容填写基因ID号/转录本编号/样品编号及对应的表达量/表达量差异/自定义标签的数值后，点击选择文件进行上传。上传的数据可以调用系统中的小工具进行分析，还可以和系统中已有数据做关联分析。</p>
            <p class="h_content">注：基因ID号/转录本编号/样品编号需要和Dr. Tom系统中已经有的样品/物种及参考版本对应上且格式必须和数据模板一致。</p>

        </div>
        
      </div>
    </div>
</div>
<style>
.title{
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.title2{
    font-size: 16px;
    font-weight: 600;
    color: #333;
}
.title3{
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
.h_content{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
}

.m_top{
    margin-top: 20px;
}

</style>
