<div class="mhelp">
    <div class="top_title">
        帮助
    </div>

    <div class="title_down_line"></div>

    <div class="option_one">
        <div class="title_frist">
            6.1 实验流程
        </div>
        <div class="title_frist">
            6.2 分析流程
        </div>
        <div class="title_frist">
            6.3 测序数据过滤
        </div>
        <div class="title_frist">
            6.4 参考基因组对比
        </div>
        <div class="title_frist">
            6.5 随机性
        </div>
        <div class="title_frist">
            6.6 覆盖度
        </div>
        <div class="title_frist">
            6.7 测序饱和度
        </div>
        <div class="title_frist">
            6.8 常见问题
        </div>
    </div>
</div>
<style>
    .mhelp{
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: #fff;
    }

    .top_title{
        width: 96%;
        margin: 20px auto 0 auto;
        height: 18px;
        font-family: MicrosoftYaHei;
        font-size: 18px;
        color: #333333;
        letter-spacing: 0;
        line-height: 18px;
    }

    .title_down_line{
        width: 96%;
        margin: 20px auto 0 auto;
        height: 1px;
        border: 0.5px solid #EEEEEE;
    }

    .option_one{
        width: 100%;
        margin: 20px auto 0 auto;
        height: auto;
    }

    .title_frist{
        width: 96%;
        margin: 20px auto 0 auto;
        height: 16px;
        font-family: MicrosoftYaHei;
        font-size: 16px;
        color: #333333;
        letter-spacing: 0;
        line-height: 16px;
    }

</style>
 