<div class="content row page-layout1">
    <!-- class="left column" -->
    <div #left class="left-layout column" [class.unexpand]="switch">
        <div class="left-top-layout">
            <h4>title</h4>
            <p>descdesc</p>
        </div>
        <div class="left-bottom-layout">
            <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect"
                (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [tableUrl]="tableUrl" [chartUrl]="chartUrl"
                [apiEntity]="tableEntity" [isShowAccuracy]="true" [selectTemplate]="selectTemplate" [setTemplate]="setTemplate"
                (drawChartEmit)="drawChart($event)" [flex]="true" [chartId]="'chartId222'" [chartName]="'散点图'"></app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch">
        <div class="switch">
            <nz-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></nz-switch>
        </div>
        <div #func (resized)="resize($event)" style="background-color:#fff;padding:12px;">
            <!-- 增删列 -->
            <app-add-column [thead]="allThead"></app-add-column>
        </div>
        <app-geneTable class="no-outside-border" tableId="table_test" [selectItems]="selectTemplate" [pageEntity]="pageEntity" [checkStatusInParams]="false"
            url="http://localhost:8086/filter" [tableHeight]="tableHeight" [defaultChecked]="false"></app-geneTable>
    </div>
</div>
