<!-- <button nz-button nzType="default" (click)="getData()">初始</button>&nbsp;<i class="anticon anticon-sync" (click)="getData()" nz-tooltip nzTitle="刷新 初始"></i>&nbsp;
<button nz-button nzType="default" (click)="getDataX()">X 定性</button>&nbsp;<i class="anticon anticon-sync" (click)="getDataX()" nz-tooltip nzTitle="刷新 X 定性"></i>&nbsp;
<button nz-button nzType="default" (click)="getDataY()">y 定量</button>&nbsp;<i class="anticon anticon-sync" (click)="getDataY()" nz-tooltip nzTitle="刷新 y 定量"></i>&nbsp;
<button nz-button nzType="default" [class.btnActive]="!isMultiSelect" (click)="single()">单选</button> &nbsp;
<button nz-button nzType="default" [class.btnActive]="isMultiSelect" (click)="multiple()">多选</button>&nbsp;
<button nz-button nzType="default" [disabled]="!isMultiSelect" (click)="comfirm()">确定</button>&nbsp;
<app-chart-export [chartId]="'multiOmics'" [chartName]="'多组学'"></app-chart-export>&nbsp; -->

<!-- <div id="multiOmics" style="width:80%;margin:auto;text-align: center">
    <svg id="multiOmicsSvg"></svg>
    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"></app-color-picker>
</div> -->

<ng-template #setTemplate>

    <app-multiOmicsSet></app-multiOmicsSet>

</ng-template>

<div>
    <app-table-switch-chart #multiOmicsChart [id]="'multiOmics'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect" (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [isOnlyChart]="true" [chartUrl]="chartUrl" [apiEntity]="chartEntity"
        [setTemplate]="setTemplate" (drawChartEmit)="drawChart($event)" [chartId]="'multiOmicsSvg'" [chartName]="'多组学关联图'">
    </app-table-switch-chart>

    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"></app-color-picker>
</div>