<!-- target -->
<div class="content row target">
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <div class="left-top-layout">
            <span (click)="moduleDescChange()" class="zhankai-shouqi pointer" [nzTitle]="(expandModuleDesc ? 'moduleDesc.unexpand' : 'moduleDesc.expand') | translate" nz-tooltip>
                <i class="iconfont expand-icon" [class.icon-shouqi1]="!expandModuleDesc"></i>
                <i class="iconfont expand-icon" [class.icon-zhankai1]="expandModuleDesc"></i>
                {{'miRnaTarget.title' | translate}}
            </span>
            <p [hidden]="!expandModuleDesc">{{'miRnaTarget.content' | translate}}</p>
            <ng-content select=".gene-switch-module"></ng-content>
        </div>
        <div class="left-bottom-layout">
            <app-table-switch-chart #tableSwitchChart [id]="'tableSwitchChart'" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultiSelect" (isMultiSelectChange)="multiSelectChange()" (multipleConfirmEmit)="multipleConfirm()" [tableUrl]="tableUrl" [apiEntity]="tableEntity" [selectPanelData]="selectPanelData" (selectConfirmEmit)="selectConfirm($event)" [defaultSelectNum]="-1" (defaultSelectList)="defaultSelectList($event)"
                [isShowAccuracy]="true"  (drawChartEmit)="drawVenn($event)" [isVennTable]="true"
                [flex]="true" [chartId]="'targetVennId'" [chartName]="'韦恩图'" [chartDescContent]="chartDescContent" (refresh)="handlerRefresh()">
            </app-table-switch-chart>
            <app-color-picker [(color)]="color" (colorChange)="handlerColorChange($event)" [(show)]="show"></app-color-picker>
        </div>
    </div>
    <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
        <div class="switch" [class.hasAnalysisCount]="storeService['store']['analysisCount']">
            <app-layout-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></app-layout-switch>
        </div>
        <!-- <div class="func" #func (click)="resize($event)"> -->
            <!-- 增删列 -->
            <!-- <app-add-column #addColumn (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)" [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="defaultGeneType"></app-add-column> -->
            <!-- 关系  [relative]="transformTable['relative']"-->
            <!-- <app-gene-relative class="ml-12" [geneCount]="selectGeneCount" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative> -->
            <!-- 返回 -->
            <!-- <button class="ml12" *ngIf="!addColumnShow && showBackButton" [nzSize]="small" nz-button nzType="Default" (click)="back()">返回</button> -->
        <!-- </div> -->
         <app-geneTable #geneTable [url]="defaultUrl" [pageEntity]="defaultEntity" [tableId]="defaultTableId" [defaultChecked]="defaultDefaultChecked" [tableHeight]="tableHeight" [checkStatusInParams]="defaultCheckStatusInParams" [(computedScrollHeight)]="computedScrollHeight" filename="miRNA-target"></app-geneTable>
    </div>
</div>
