<div class="m_div">
    <div class="m_content">
        <div class="h4">上传数据</div>
        <div class="m_content_1" *ngIf="isShowTab">
            <nz-tabset [nzSelectedIndex]="m_index" (nzSelectedIndexChange)="SelectedIndexChange($event)">
                <nz-tab [nzTitle]="'基因信息'" >
                    <div class="tab_content" [hidden]="fileList.length !=0">
                        <a href="{{downUrlOne}}" download="upload_gene.txt">数据模板下载</a>
                        <span>字段名称必须是字母、数字、下划线，总长度最多不超过40。单次上传数据不得大于180M。</span>
                        <span>id：基因ID (string)  user_quantity_{{'{'}}tag{{'}'}}: 基因的自定义定量标签（double）  user_exp_{{'{'}}sample{{'}'}}: 基因的自定义表达量（double）</span>
                        <span>user_log2fc_{{'{'}}sample{{'}'}}: 基因的自定义差异倍数（double） user_quantity_{{'{'}}tag{{'}'}}: 基因的自定义定量标签（double） user_quality_{{'{'}}tag{{'}'}}: 基因的自定义定性标签 (string)</span>
                    </div>
                    <div class="tab_div" [hidden]="fileList.length ==0">
                      <div *ngFor="let item of fileList; let i = index" class="tab_div_item">
                          {{item.name}}
                      </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="'转录本信息'">
                    <div class="tab_content" [hidden]="fileList2.length !=0">
                        <a href="{{downUrlTwo}}" download="upload_rna.txt">数据模板下载</a>
                        <span>字段名称必须是字母、数字、下划线，总长度最多不超过40。单次上传数据不得大于180M。</span>
                        <span>id：转录本ID (string) user_exp_{{'{'}}user_sample{{'}'}}: 转录本的自定义表达量（double） user_log2fc_{{'{'}}user_sample{{'}'}}: 转录本的自定义差异倍数（double）</span>
                        <span>user_quantity_{{'{'}}user_tag{{'}'}}: 转录本的自定义定量标签（double） user_quality_{{'{'}}user_tag{{'}'}}: 转录本的自定义定性标签 (string)</span>
                    </div>
                    <div class="tab_div" [hidden]="fileList2.length ==0">
                        <div *ngFor="let item of fileList2; let i = index" class="tab_div_item">
                            {{item.name}}
                        </div>
                    </div>
                </nz-tab>

                <nz-tab [nzTitle]="'样本信息'">
                    <div class="tab_content" [hidden]="fileList3.length !=0">
                        <a href="{{downUrlThree}}" download="upload_sample.txt">数据模板下载</a>
                        <span>字段名称必须是字母、数字、下划线，总长度最多不超过40。单次上传数据不得大于180M。</span>
                        <span>sample：样本  (string)</span>
                        <span>tag_{{'{'}}user_tag{{'}'}}:自定义样本定性标签 (string)</span>
                    </div>
                    <div class="tab_div" [hidden]="fileList3.length ==0">
                        <div *ngFor="let item of fileList3; let i = index" class="tab_div_item">
                            <!-- {{i+1}} - {{item.name}} -->{{item.name}}
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
            <div class="tab_bottom">
                <nz-upload nzAction="${config['javaPath']}/upload/do" [(nzFileList)]="nfileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button *ngIf="selectAble"><span>选择文件</span></button>
                    <button nz-button *ngIf="!selectAble"><span>选择文件</span></button>
                </nz-upload>
                <button nz-button nzType="primary" (click)="updateLoad()" *ngIf="fileList.length !=0 || fileList2.length !=0 || fileList3.length !=0">上传</button>
            </div>
        </div>

        <div class="m_content_2" *ngIf="!isShowTab">
            <div class="m_content_item">
                <div style="margin-left: 10px;">
                    上传数据类型:
                    <span>{{file_obj.name}}</span>
                </div>
                <div style="margin-left: 30px;">
                    上传时间:
                    <span>{{file_obj.time}}</span>
                </div>
            </div>

            <div class="m_content_progress">
                <div class="m_content_progress_left">
                    <nz-progress [nzPercent]="PercentNum" [nzStrokeWidth]=18 nzStatus="active"></nz-progress>
                </div>
                
            </div>
            <button nz-button nzType="primary" [nzSize]="small" (click)="goResult()" class="m_content_2_button">
                <span>查看结果</span>
            </button>
        </div>
    </div>
    <div class="m_result" [hidden]="resultList.length==0">
        <div class="h4">上传信息列表</div>
        <div class="m_result_content">
            <div class="m_result_title">
                <div style="width: 140px">上传时间</div>
                <div style="width: 80px">数据类型</div>
                <div style="width: 80px;">录入结果</div>
                <div style="width: 60px;">查看详情</div>
                <div style="width: 50px;">状态</div>
            </div>
            <div class="m_result_scroll">
                <div class="m_result_list" *ngFor="let item of resultList;index as i">
                    <div style="width: 140px">{{item.time}}</div>
                    <div style="width: 80px">{{item.info}}</div>
                    <!-- display:inline-block;width:16px;height:12px; -->
                    <div style="width: 80px;"><div style="display:inline-block;width:16px;height:12px;" [style.background]="item.color"></div><div style="display:inline-block;margin-left:5px;">{{item.status}}</div></div>

                    <div style="width: 60px;cursor: pointer;" *ngIf="item.status=='成功'||item.status=='失败'" (click)="goDetail(item.detail,item.status)">
                        <button nz-button nzType="primary" [nzSize]="small">查看</button>
                    </div>
                    <div style="width: 60px;cursor: pointer;" *ngIf="item.status=='校验中'||item.status=='录入中'">
                        <button nz-button nzType="primary" disabled [nzSize]="small">查看</button>
                    </div>

                    <div *ngIf="item.status=='成功'">
                        <div style="width: 60px;cursor: pointer;" *ngIf="item.status=='成功'||item.status=='失败'">
                            <!-- <div style="width: 60px;cursor: pointer;" *ngIf="item.hidden" (click)="goSwitch(item.id)">隐藏</div>
                            <div style="width: 60px;cursor: pointer;" *ngIf="!item.hidden" (click)="goSwitch(item.id)">展示</div> -->
                            <button nz-button nzType="default" [nzSize]="small" *ngIf="item.hidden" (click)="goSwitch(item.id)" style="background: #5E5B78;color: #FFFFFF;">隐藏</button>
                            <button nz-button nzType="default" [nzSize]="small" *ngIf="!item.hidden" (click)="goSwitch(item.id)">展示</button>
                        </div>
                        <div style="width: 60px;cursor: pointer;" *ngIf="item.status=='校验中'||item.status=='录入中'">
                            <button nz-button nzType="default" disabled [nzSize]="small">隐藏</button>
                        </div>
                    </div>
                    <div *ngIf="item.status=='失败'">
                        <div style="width: 60px;cursor: pointer;">
                        
                        </div>
                    </div>
                    <div *ngIf="item.status=='校验中'||item.status=='录入中'">
                        <div style="width: 60px;cursor: pointer;">
                        
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="m_result_bottom" *ngIf="total_page>1">
                <button nz-button nzType="primary" *ngIf="now_page!=1" (click)="leftPage()"><span>上一页</span></button>
                <button nz-button nzType="primary" disabled *ngIf="now_page==1"><span>上一页</span></button>
                <button nz-button nzType="primary" *ngIf="now_page!=total_page" (click)="rightPage()"><span>下一页</span></button>
                <button nz-button nzType="primary" disabled *ngIf="now_page==total_page"><span>下一页</span></button>
            </div>
        </div>
        
    </div>
    
</div>
<style>
    .m_div{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .m_content {
        width: 96%;
        height: 280px;
        margin: 0 auto;
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 #C0C4CC;
        border-radius: 4px;
    }

    .m_content_1 {
        width: 98%;
        margin: 12px auto 0 auto;
        height: 220px;
        border: 1px solid rgba(0,0,0,0.07);
        border-radius: 2px;
    }
    
    .tab_content {
        width: 100%;
        height: 120px;
        margin: 0px auto 0 auto;
        border-bottom: 1px solid rgba(0,0,0,0.07);
    }

    .tab_div {
        width: 100%;
        height: 120px;
        margin: 0px auto 0 auto;
        border-bottom: 1px solid rgba(0,0,0,0.07);
        /* overflow-y: scroll;
        overflow-x: hidden; */
    }

    .tab_div_item{
      width: 96%;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      text-align: left;
    }

    .tab_content a {
        /* display: block; */
        text-decoration: underline;
        margin-top: 5px;
        margin-left: 10px;
    }
    .tab_content span {
        display: block;
        margin-top: 5px;
        margin-left: 10px;
    }

    .tab_bottom {
        width: 96%;
        height: 40px;
        margin: 10px auto 0 auto;
    }

    .tab_bottom nz-upload {
        float: left;
        margin-right: 20px;
    }

    .tab_bottom>button {
        float: left;
    }

    .m_content_2 {
        width: 98%;
        height: 220px;
        margin: 10px auto;
        border: 1px solid #DBDBDB;
        border-radius: 2px;
        position: relative;
    }

    .m_content_2_button{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    .m_content_item {
        width: 100%;
        height: 40px;
        margin: 0px auto 10px auto;
        border-bottom: 1px solid #EEEEEE;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .m_content_progress {
        width: 96%;
        height: 40px;
        margin: 40px auto 10px auto;
    }

    .m_content_progress_left {
        width: 100%;
        height: 40px;
    }

    .m_content_progress button {
        width: 80px;
        height: 30px;
        float: right;
    }

    .h4 {
        height: 40px;
        line-height: 40px;
        text-indent: 16px;
        border-bottom: 1px solid #EEEEEE;
    }

    :host ::ng-deep .m_div .ant-tabs-bar {
        margin: 0;
    }


    :host ::ng-deep .m_div .ant-upload-list-item-info>span {
        display: none;
    }




    .m_result{
        width: 96%;
        margin: 20px auto 0 auto;
        flex: 1;
        height: calc(100% - 300px);
        background: #FFFFFF;
        box-shadow: 0 2px 4px 0 #C0C4CC;
        border-radius: 2px;
    }

    .m_result_content{
        width: 98%;
        margin: 15px auto 15px auto;
        height: calc(100% - 70px);
        border: 1px solid #DBDBDB;
        border-radius: 2px;
    }

    .m_result_title{
        width: calc(100% - 17px);
        min-height: 40px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #F7F8FA;
        border-bottom: 1px solid #DBDBDB;
        /* border: 1px solid #ccc; */
    }

    .m_result_scroll{
        width: 100%;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 80px);
    }

    .m_result_list{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid #DBDBDB;
    }

    .m_result_list span{
        display: block;
        height: 24px;
    }

    .m_result_bottom{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .m_result_bottom button{
        margin-left: 20px;
        cursor: pointer;
    }

</style>
