<div class="m_div">
    <div class="m_content">
        <h4>上传数据</h4>
        <div class="m_content_1" *ngIf="isShowTab">
            <nz-tabset [nzSelectedIndex]="index" (nzSelectedIndexChange)="SelectedIndexChange($event)">
                <nz-tab [nzTitle]="'基因信息'" >
                    <div class="tab_content" [hidden]="fileList.length !=0">
                        <span>基因信息数据上传说明...</span>
                        <a>数据模板下载</a>
                    </div>
                    <div class="tab_div" [hidden]="fileList.length ==0">
                      <div *ngFor="let item of fileList; let i = index" class="tab_div_item">
                          {{i+1}} - {{item.name}}
                      </div>
                    </div>
                </nz-tab>
                <nz-tab [nzTitle]="'转录本信息'">
                    <div class="tab_content" [hidden]="fileList2.length !=0">
                        <span>转录本信息数据上传说明...</span>
                        <a>数据模板下载</a>
                    </div>
                    <div class="tab_div" [hidden]="fileList2.length ==0">
                        <div *ngFor="let item of fileList2; let i = index" class="tab_div_item">
                            {{i+1}} - {{item.name}}
                        </div>
                    </div>
                </nz-tab>

                <nz-tab [nzTitle]="'样本信息'">
                    <div class="tab_content" [hidden]="fileList3.length !=0">
                        <span>样本信息数据上传说明...</span>
                        <a>数据模板下载</a>
                    </div>
                    <div class="tab_div" [hidden]="fileList3.length ==0">
                        <div *ngFor="let item of fileList3; let i = index" class="tab_div_item">
                            {{i+1}} - {{item.name}}
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
            <div class="tab_bottom">
                <button nz-button nzType="default" (click)="updateLoad()">上传</button>
                <nz-upload nzAction="${config['javaPath']}/upload/do" [(nzFileList)]="nfileList" [nzBeforeUpload]="beforeUpload">
                    <button nz-button>
                        <span>选择文件</span>
                    </button>
                </nz-upload>
            </div>
        </div>

        <div class="m_content_2" *ngIf="!isShowTab">
            <div class="m_content_item">上传数据类型、上传时间、文件大小</div>

            <div class="m_content_progress">
                <div class="m_content_progress_left">
                    <nz-progress [nzPercent]="PercentNum" [nzStrokeWidth]=18 nzStatus="active"></nz-progress>
                </div>
                <button nz-button [nzSize]="small" (click)="goResult()">
                    <span>查看结果</span>
                </button>
            </div>
        </div>
    </div>
    <div class="m_result" [hidden]="resultList.length==0">
        <h4>上传信息列表</h4>
        <div class="m_result_content">
            <div class="m_result_title">上传时间、数据类型、上传结果、查看详情、隐藏</div>
            <div class="m_result_scroll">
                <div class="m_result_list" *ngFor="let item of resultList;index as i">
                    <span style="width: 140px">{{item.time}}</span>
                    <span style="width: 80px">{{item.info}}</span>

                    <span style="width: 50px;text-align: center;">{{item.status}}</span>
                    <span style="width: 50px;cursor: pointer;" *ngIf="item.status=='成功'||item.status=='失败'" (click)="goDetail(item.detail,item.status)">查看</span>
                    <span style="width: 50px;cursor: pointer;" *ngIf="item.status=='校验中'||item.status=='录入中'"></span>

                    <span style="width: 50px;cursor: pointer;" *ngIf="item.hidden" (click)="goSwitch(item.id)">隐藏</span>
                    <span style="width: 50px;cursor: pointer;" *ngIf="!item.hidden" (click)="goSwitch(item.id)">展示</span>
                </div>
            </div>
            <div class="m_result_bottom">
                <button nz-button nzType="primary" *ngIf="now_page!=1" (click)="leftPage()"><span>上一页</span></button>
                <button nz-button nzType="primary" disabled *ngIf="now_page==1"><span>上一页</span></button>
                <button nz-button nzType="primary" *ngIf="now_page!=total_page" (click)="rightPage()"><span>下一页</span></button>
                <button nz-button nzType="primary" disabled *ngIf="now_page==total_page"><span>下一页</span></button>

                <!-- <button nz-button nzType="primary" *ngIf="now_page!=1" (click)="leftPage()"><span>上一页</span></button>
                <button nz-button nzType="primary" disabled *ngIf="now_page!=total_page"><span>下一页</span></button> -->
            </div>
        </div>
        
    </div>
    
</div>
<style>
    .m_div{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .m_content {
        width: 90%;
        height: 358px;
        margin: 0 auto;
    }

    .m_content_1 {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
    }
    
    .tab_content {
        width: 96%;
        height: 180px;
        margin: 20px auto 0 auto;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
    }

    .tab_div {
        width: 96%;
        height: 180px;
        margin: 20px auto 0 auto;
        border: 1px solid #ccc;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .tab_div_item{
      width: 96%;
      margin: 0 auto;
      height: 40px;
      line-height: 40px;
      text-align: left;
    }

    .tab_content a {
        position: absolute;
        right: 10px;
        bottom: 10px;
        text-decoration: underline;
    }

    .tab_bottom {
        width: 96%;
        height: 40px;
        margin: 10px auto 0 auto;
    }

    .tab_bottom nz-upload {
        float: right;
        margin-right: 20px;
    }

    .tab_bottom>button {
        float: right;
    }

    .m_content_2 {
        width: 100%;
        height: 300px;
        border: 1px solid #ccc;
    }

    .m_content_item {
        width: 96%;
        height: 40px;
        margin: 20px auto 10px auto;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .m_content_progress {
        width: 96%;
        height: 40px;
        margin: 20px auto 10px auto;
    }

    .m_content_progress_left {
        width: 90%;
        height: 40px;
        float: left;
    }

    .m_content_progress button {
        width: 80px;
        height: 30px;
        float: right;
    }

    h4 {
        margin-top: 30px;
    }

    :host ::ng-deep .m_div .ant-tabs-bar {
        margin: 0;
    }


    :host ::ng-deep .m_div .ant-upload-list-item-info>span {
        display: none;
    }




    .m_result{
        width: 90%;
        margin: 0 auto;
        flex: 1;
        height: calc(100% - 358px);
    }

    .m_result_content{
        width: 100%;
        margin: 0 auto;
        border: 1px solid #ccc;
        height: calc(100% - 58px);
    }

    .m_result_title{
        width: 96%;
        min-height: 40px;
        margin: 10px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px solid #ccc;
    }

    .m_result_scroll{
        width: 100%;
        margin: 0 auto;
        overflow-y: scroll;
        overflow-x: hidden;
        height: calc(100% - 100px);
    }

    .m_result_list{
        width: 96%;
        height: 40px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .m_result_list{
        width: 96%;
        height: 40px;
        margin: 8px auto;
        border: 1px solid #ccc;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .m_result_list span{
        display: block;
        height: 24px;
    }

    .m_result_bottom{
        width: 100%;
        height: 40px;
        margin: 0 auto;
        /* padding-top: 10px;
        padding-bottom: 10px; */
        display: flex;
        justify-content:center;
        align-items: center;
    }

    .m_result_bottom button{
        margin-left: 20px;
        cursor: pointer;
    }

</style>
