<html><head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <title>map04145</title>
        <style type="text/css">
        <!--
        area {cursor: pointer;}
        -->
        </style>
        </head>
        <body>
        <map name="map04145">
        <area shape="rect" coords="898,383,944,400" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06563">
        <area shape="rect" coords="847,383,893,400" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06560">
        <area shape="rect" coords="280,68,396,102" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04666">
        <area shape="rect" coords="858,190,963,224" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04610">
        <area shape="rect" coords="833,620,879,637" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K21421">
        <area shape="rect" coords="398,151,444,168" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13882">
        <area shape="rect" coords="1012,243,1058,260" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K16857+K04659">
        <area shape="rect" coords="847,264,893,281" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06481+K05719">
        <area shape="rect" coords="388,605,434,622" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13240">
        <area shape="rect" coords="897,264,943,281" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06484+K05719">
        <area shape="rect" coords="330,469,376,486" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13883">
        <area shape="rect" coords="80,679,172,704" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04142">
        <area shape="rect" coords="847,312,893,329" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10159">
        <area shape="rect" coords="947,264,993,281" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K05719">
        <area shape="rect" coords="330,321,376,338" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06503">
        <area shape="rect" coords="40,45,140,70" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?map04145">
        <area shape="rect" coords="667,411,767,445" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04612">
        <area shape="rect" coords="682,291,728,308" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K05653+K05654">
        <area shape="rect" coords="607,679,653,696" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10956+K09481+K07342">
        <area shape="rect" coords="499,693,545,710" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K01365+K01368">
        <area shape="rect" coords="330,655,376,672" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10089">
        <area shape="rect" coords="605,311,651,328" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08054">
        <area shape="rect" coords="644,187,690,204" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08517">
        <area shape="rect" coords="330,452,376,469" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K07897+K07898">
        <area shape="rect" coords="1012,122,1058,139" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06856">
        <area shape="rect" coords="200,307,246,324" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13813">
        <area shape="rect" coords="330,486,376,503" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10413+K10414+K10415+K10416">
        <area shape="rect" coords="943,340,1048,374" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04620">
        <area shape="circle" coords="520,282,4" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?C04549">
        <area shape="rect" coords="330,274,376,291" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K07887+K07888+K07889">
        <area shape="rect" coords="897,243,943,260" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06487+K06493">
        <area shape="rect" coords="897,423,943,440" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13884">
        <area shape="rect" coords="1012,167,1058,184" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K03990">
        <area shape="rect" coords="330,630,376,647" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K00921">
        <area shape="rect" coords="439,97,485,114" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K05692">
        <area shape="rect" coords="940,620,986,637" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08009">
        <area shape="rect" coords="897,447,943,464" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06259">
        <area shape="rect" coords="947,243,993,260" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06487+K06588">
        <area shape="rect" coords="947,423,993,440" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08763">
        <area shape="rect" coords="90,106,182,131" target="_blank" href="https://www.kegg.jp/kegg-bin/show_pathway?map04144">
        <area shape="rect" coords="330,397,376,414" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K12182">
        <area shape="rect" coords="986,620,1032,637" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K21421">
        <area shape="rect" coords="200,482,246,499" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08488">
        <area shape="rect" coords="605,289,651,306" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08057">
        <area shape="rect" coords="847,167,893,184" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K01330">
        <area shape="rect" coords="330,605,376,622" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06528">
        <area shape="rect" coords="644,166,690,183" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08492">
        <area shape="rect" coords="1012,189,1058,206" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10066+K10062+K03991+K10067+K10068">
        <area shape="rect" coords="847,447,893,464" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13885">
        <area shape="rect" coords="788,620,834,637" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K08009">
        <area shape="rect" coords="297,183,343,200" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K13505">
        <area shape="rect" coords="330,291,376,308" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K12478">
        <area shape="circle" coords="1041,627,4" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?C04549">
        <area shape="rect" coords="950,382,996,399" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K10074">
        <area shape="rect" coords="419,274,465,291" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K00914">
        <area shape="rect" coords="847,423,893,440" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K06558">
        <area shape="rect" coords="621,655,667,672" target="_blank" href="http://www.genome.jp/dbget-bin/www_bget?K05653+K05654">
        <area shape="rect" coords="761,680,807,697" target_gene="653361">
        <area shape="rect" coords="1032,632,1078,649" target_gene="4689">
        <area shape="rect" coords="965,654,1011,671" target_gene="5879">
        <area shape="rect" coords="665,321,711,338" target_gene="3106">
        <area shape="rect" coords="696,464,742,481" target_gene="3119,3127,3117,3122,3125,3111">
        <area shape="rect" coords="847,243,893,260" target_gene="3684">
        <area shape="rect" coords="986,637,1032,654" target_gene="4688">
        <area shape="rect" coords="897,312,943,329" target_gene="7099">
        <area shape="rect" coords="778,162,824,179" target_gene="3119,3127,3117,3122,3125,3111">
        <area shape="rect" coords="602,599,648,616" target_gene="3106">
        <area shape="rect" coords="807,680,853,697" target_gene="4688">
        <area shape="rect" coords="853,680,899,697" target_gene="4689">
        <area shape="rect" coords="727,162,773,179" target_gene="3106">
        <area shape="rect" coords="847,329,893,346" target_gene="10333">
        <area shape="rect" coords="947,312,993,329" target_gene="929">
        <area shape="rect" coords="353,516,399,533" target_gene="7846">
        <area shape="rect" coords="940,637,986,654" target_gene="653361">
        <area shape="rect" coords="495,646,541,663" target_gene="4353">
        <area shape="rect" coords="897,122,943,139" target_gene="2215,2212,2209,9103">
        <area shape="rect" coords="862,648,908,665" target_gene="5879">
        <area shape="rect" coords="415,349,461,366" target_gene="533,526">
        <area shape="rect" coords="415,503,461,520" target_gene="533,526">
        <area shape="rect" coords="353,533,399,550" target_gene="81027">
        <area shape="rect" coords="897,167,943,184" target_gene="3684">
        <area shape="rect" coords="847,122,893,139" target_gene="2204">
        <area shape="rect" coords="416,693,462,710" target_gene="533,526">
        </map>
        <img src="assets/img/map04145.png" usemap="#map04145">
        <div id="result" style="position: absolute; width: 50%; border: 1px solid #000; background-color: #fff; filter: alpha(opacity=95); opacity: 0.95; font-size: 12px; padding-right: 20px; display: none;" onmouseover="javascript: this.style.filter = 'alpha(opacity=100)'; this.style.opacity = 1;" onmouseout="javascript: this.style.filter = 'alpha(opacity=95)'; this.style.opacity = 0.95;"></div>
        </body></html>
