/* You can add global styles to this file, and also import other style files */

@import 'node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';
body,
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

.anticon.active {
    color: rgb(64, 176, 255)!important;
}


/* .filter-panel{
    position:relative;
}
.custom-filter-dropdown{
    position:absolute;
    top:23px;
    left:12px;
    z-index:100;
} */

.ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-header>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-tbody>tr>td,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-thead>tr>th {
    white-space: nowrap;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-table-small.ant-table-bordered .ant-table-tbody>tr>td:last-child,
.ant-table-small.ant-table-bordered .ant-table-thead>tr>th:last-child {
    border-right: 1px solid #e8e8e8!important;
}

.ant-table-small>.ant-table-content>.ant-table-body>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-left>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-body-outer>.ant-table-body-inner>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-fixed-right>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-header>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-body>table>.ant-table-thead>tr>th,
.ant-table-small>.ant-table-content>.ant-table-scroll>.ant-table-header>table>.ant-table-thead>tr>th {
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    border: solid 1px #ddd;
    width: 5px;
    border-radius: 4px;
    background-color: #D8D8D8;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-content {
    width: 100%;
    min-height: 400px;
    position: relative;
}

.table-content .error-msg {
    text-align: center;
    line-height: 400px;
}

.table-bottom {
    padding: 10px 16px;
    background-color: #f5f5f5;
}

.table-top {
    padding: 15px 16px;
    background-color: #f5f5f5;
}

.table-top .filter-item {
    padding: 6px 4px;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-radius: 2px;
    margin-left: 4px;
}

.head-item {
    display: inline-block;
    padding: 8px;
    line-height: 1;
    background-color: #fff;
    border: 1px solid #eee;
    color: #386cca;
    margin-right: 10px;
    cursor: pointer;
}

.head-item.active {
    background-color: #ccc;
    color: #fff;
}

.head-item:hover {
    opacity: 0.7;
}

.add-head {
    display: flex;
    margin-bottom: 12px;
}

.add-head button {
    width: 96px;
    margin-right: 26px;
}

.add-head>div {
    flex: 1;
}

.add-foot button {
    float: right;
    margin-left: 8px;
}

.add-foot:after {
    display: block;
    content: "";
    clear: both;
}

.add-thead-head-item {
    position: relative;
}

.add-thead-head-item b {
    position: absolute;
    text-align: center;
    right: -20px;
    top: -12px;
    height: 16px;
    width: 16px;
    font-size: 12px;
    line-height: 16px;
    border-radius: 50%;
    color: #fff;
    background-color: #52c41a
}

.tag-wrap {
    overflow-x: auto;
}

.tag-wrap .ant-tag {
    margin-bottom: 6px;
}

.little-table {
    position: relative;
}

.table-thead i {
    margin-right: 10px;
    cursor: pointer;
}

.table-thead button i {
    margin-right: 0px;
}

.table-thead::after {
    display: block;
    clear: both;
    content: "";
}

.tableHeader {
    padding: 8px;
    border: 1px solid #ddd;
    border-bottom: 0;
}

.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.tableSwitchChart {
    width: 90%;
    margin: 0 auto;
}

.clearfix {
    display: block;
    clear: both;
    content: "";
}

button.btnActive {
    border: 1px solid #40a9ff;
    color: #40a9ff;
}

.chartView {
    border: 1px solid #ddd;
}