<div class="report-analysis">
    <app-top [pdf]="false" [analysis]="false" [upload]="false" [lang]="false">
        <p (click)="toAnalysisList()" style="color: #fff;font-size: 16px;padding:8px 24px;margin:0;">index</p>
    </app-top>
    <router-outlet *ngIf="ready"></router-outlet>
    <app-tools></app-tools>
</div>
<div class="loading">
        <ngx-spinner bdColor="rgba(51, 51, 51, 0.6)" size="default" color="#fff" type="square-loader">
            <p>页面加载中,请稍后...</p>
        </ngx-spinner>
</div>
