
<div class="report-analysis geneclass">
        <app-menu [menu]="[]" [geneSwitch]="false"> <p class="menu-slot-text">重分析id：{{tid}}</p> </app-menu>
        <div class="content reanalysis-content row">
        <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
            <div #leftBottom class="left-bottom-layout">

                <!-- 下拉选择 -->
                <ng-template #selectTemplate>
                    <nz-select style="width: 160px;" class="ml12" nzSize="small" nzShowSearch  nzPlaceHolder="Select classification" [(ngModel)]="selectedVal" (ngModelChange)="handleSelectChange()">
                        <nz-option *ngFor="let item of selectData;index as i;" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </ng-template>

                <!-- 设置面板 -->
                <ng-template #setTemplate>
                    <nz-dropdown [nzTrigger]="'click'" [(nzVisible)]="setVisible" [nzPlacement]="'bottomRight'">
                        <i class="iconfont icon-shezhi" nz-tooltip nzTitle="设置" nz-dropdown></i>
                        <div nz-menu class="set-panel clearfix">
                            <ul>
                                <li nz-row>
                                    <span >图宽度</span>
                                    <input nz-input placeholder="600 ~ 2000" [(ngModel)]="set['width']" nzSize="default"/>
                                </li>
                                <li nz-row>
                                    <span>显示字符个数</span>
                                    <input nz-input placeholder="20 ~ 50" [(ngModel)]="set['len']" nzSize="default"/>
                                </li>
                            </ul>
                            <div class="set-btn-group">
                                <button nz-button nzType="primary" nzSize="small" (click)="setConfirm()">确定</button>
                                <button nz-button nzType="default" nzSize="small" (click)="setReset()">重置</button>
                                <button nz-button nzType="default" nzSize="small" (click)="setCancel()">取消</button>
                            </div>
                        </div>
                    </nz-dropdown>
                </ng-template>

                <!-- 图标切换 -->
                <ng-container *ngIf="isExceed!=null && !isExceed">
                    <app-table-switch-chart #switchChart [id]="'re-class'" [isOnlyChart]="false" [tableUrl]="chartUrl"  [apiEntity]="chartEntity" [selectTemplate]="selectTemplate" [setTemplate]="setTemplate" (drawChartEmit)="drawChart($event)" [chartId]="'geneClassChartDiv'" [chartName]="'基因分类'" (refresh)="handlerRefresh()" [isHasMultiSelect]="true" [(isMultiSelect)]="isMultipleSelect" (isMultiSelectChange)="chartSelectModelChange($event)" (multipleConfirmEmit)="multipleSelectConfirm()" [flex]="true"> </app-table-switch-chart>

                    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="show"></app-color-picker>
                </ng-container>
                <!-- 大表 -->
                <ng-container *ngIf="isExceed!=null && isExceed">
                    <app-big-table-check class="no-outside-border" #bigTable [selectTemplate]="selectTemplate" [tableHeight]="leftTableHeight" [defaultChecked]="false" [pageEntity]="chartEntity" [url]="chartUrl" tableId="geneClassCheckBigTable" [(computedScrollHeight)]="leftComputedScrollHeight" (checkedChange)="handleCheckChange($event)" [showConfirmButton]="true"></app-big-table-check>
                </ng-container>
            </div>
            </div>
            <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
                <div class="switch">
                    <app-layout-switch  [ngModel]="switch" (ngModelChange)="switchChange($event)" > </app-layout-switch>
                </div>
                <div class="func" #func (click)="resize($event)">
                    <!-- 增删列 -->
                    <app-add-column #addColumn  (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)"  [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="geneType"></app-add-column>
                    <!-- 关系 -->
                    <app-gene-relative class="ml-12" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
                    <!-- 返回 -->
                    <button class="ml12" [hidden]="addColumnShow || !showBackButton" nz-button nzType="Default" (click)="back()">返回</button> </div>
                <!-- 表格转换 -->
                <app-table-transformation class="no-outside-border" #transformTable [isFirst]="first" [tableHeight]="tableHeight" [defaultTableEntity]="defaultEntity" [defaultTableUrl]="defaultUrl" [defaultTableId]="defaultTableId" [defaultTableDefaultChecked]="defaultDefaultChecked" [(defaultEmitBaseThead)]="defaultEmitBaseThead" (defaultBaseTheadChange)="baseTheadChange($event)" [defaultTableCheckStatusInParams]="defaultCheckStatusInParams" [extendTableEntity]="extendEntity" [extendTableUrl]="extendUrl" [extendTableId]="extendTableId" [extendTableDefaultChecked]="extendDefaultChecked" [(extendEmitBaseThead)]="extendEmitBaseThead" (extendBaseTheadChange)="baseTheadChange($event)" [extendTableCheckStatusInParams]="extendCheckStatusInParams" [(applyOnceSearchParams)]="applyOnceSearchParams" (selectGeneCountChange)="handleSelectGeneCountChange($event)" [(computedScrollHeight)]="computedScrollHeight" [(resetCheckGraph)]="resetCheckGraph"></app-table-transformation>
            </div>
        </div>
    </div>
