<div class="report-analysis geneRich">
    <app-menu [menu]="[]" [geneSwitch]="false">
        <!-- <p class="menu-slot-text">重分析id：{{tid}}</p> -->
        <app-re-top [tid]="tid"></app-re-top>
    </app-menu>
    <div class="content reanalysis-content row">
        <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">

            <div class="left-top-layout">
                <span class="zhankai-shouqi pointer" (click)="moduleTableChange()" [nzTitle]="(expandModuleTable ? '收起表格' : '展开表格') | translate" nz-tooltip>
                    <i class="iconfont expand-icon" [class.icon-shouqi1]="!expandModuleTable"></i>
                    <i class="iconfont expand-icon" [class.icon-zhankai1]="expandModuleTable"></i>
                    富集结果表
                </span>
                <p [hidden]="!expandModuleTable">
                    基因集富集分析（GSEA）是一种计算方法，用于确定事先定义好的一组基因（如某一代谢通路上的基因）是否在统计学上显示两组处理（或表型等）之间存在显著、一致的差异。分析采用GSEA官方软件包，详细信息请参考 GSEA官网。本次分析的详细参数，请查看 <a href="/project/upload/GSEA_parameters.txt">GSEA_parameters.txt</a>
                </p>
                <!-- {{'go_rich.content' | translate}}</p> -->
                <ng-content select=".gene-switch-module"></ng-content>
            </div>

            <div #leftBottom class="left-bottom-layout" style=" overflow: auto; ">

                <ng-template #selectTemplate>
                    <nz-select [nzDropdownMatchSelectWidth]='false' nz-tooltip [nzTitle]='termId' style="min-width:160px" class="ml12" nzSize="small" nzShowSearch [(ngModel)]="termId" (ngModelChange)="handleSelectChange()">
                        <nz-option *ngFor="let item of selectData;index as i;" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </ng-template>

                <!-- 可选择数据的大表 -->
                <!--<div [hidden]='!expandModuleTable'>-->
                    <!--<ng-container>-->
                        <!--<app-big-table-check *ngIf="selectedVal" class="no-outside-border" #bigTable [tableHeight]="leftTableHeight / 2" [defaultChecked]="false" [pageEntity]="chartEntity" [url]="bigtableUrl" tableId="geneRichCheckBigTable" (checkedChange)="checkedChange($event)"-->
                                             <!--[(computedScrollHeight)]="leftComputedScrollHeight" [reanalysisId]="tid" [reanalysisDate]='date' [isKeggRich]="isKeggRich">-->
                        <!--</app-big-table-check>-->
                    <!--</ng-container>-->

                    <!--<div class="text-info">-->
                        <!--<span *ngIf="checkedData.length > 60">最多只对qvalue较小的top60进行重新画图</span>-->
                    <!--</div>-->
                <!--</div>-->

                <!-- 图表切换 -->
                <div style="text-align: center">
                    <app-table-switch-chart
                        #switchChart
                        [id]="'re-gsea'"
                        [chartUrl]="chartUrl"
                        [apiEntity]="chartEntity"
                        (drawChartEmit)="drawChart($event)"
                        [flex]="true"
                        [chartId]="'reGseaChartDiv'"
                        [chartName]="'ES结果图'"
                        (refresh)="handlerRefresh()"
                        [isGsea]="true"
                        [chartDescContent]="'该图分成四部分，X轴始终表示所有基因（表达量大于0）处理前后变化值的排序（变化值一般指 signal2noise 或 log2ratio，以下称得分），从左到右由大到小排序，即最大的变化值排序为1。
1.第一部分， 绿色折线表示该组基因富集得分（Enrichment score，简称ES）的变化曲线，Y轴是 ES 值。需要关注该折线的波峰值或波谷值，当波峰的绝对值大于波谷绝对值时，表示波峰左侧基因（即 leading edge subset ）与处理组表型相关；当波谷绝对值更大时，表示波谷右侧基因与对照组表型相关。
2. 第二部分，每根黑色竖线表示1个基因，这部分显示某个类别（例如某个通路或某个GO条目）下的所有基因。Y轴高度固定，无特殊含义。
3. 第三部分，热图表示所有表达基因的 signal2noise/log2ratio 值，此处用一定区间多个基因的得分均值作代表展示，红色表示值 >0，蓝色表示值 <0，颜色越深绝对值越大。
4. 第四部分，灰色柱状图Y轴表示所有表达基因的 signal2noise/log2ratio 值，此处按一定区间间隔从全部基因中选取1000个基因的得分值作代表展示。'"
                        [selectTemplate]="selectTemplate">
                    </app-table-switch-chart>
                    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="show"></app-color-picker>
                </div>
            </div>
        </div>
        <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
            <div class="switch" [class.hasAnalysisCount]="storeService['store']['analysisCount']">
                <app-layout-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"> </app-layout-switch>
            </div>
            <div class="func" #func (click)="resize($event)">
                <!-- 增删列 -->
                <app-add-column #addColumn (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)" [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="geneType"></app-add-column>
                <!-- 关系 -->
                <app-gene-relative class="ml-12" [geneType]="geneType" [geneCount]="selectGeneCount" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
                <!-- 返回 -->
                <button class="ml12" [hidden]="addColumnShow || !showBackButton" nz-button nzType="Default" (click)="back()">返回</button> </div>
            <!-- 表格转换 -->
            <app-table-transformation class="no-outside-border" #transformTable [isFirst]="first" [tableHeight]="tableHeight" [defaultTableEntity]="defaultEntity" [defaultTableUrl]="defaultUrl" [defaultTableId]="defaultTableId" [defaultTableDefaultChecked]="defaultDefaultChecked"
                                      [(defaultEmitBaseThead)]="defaultEmitBaseThead" (defaultBaseTheadChange)="baseTheadChange($event)" [defaultTableCheckStatusInParams]="defaultCheckStatusInParams" [extendTableEntity]="extendEntity" [extendTableUrl]="extendUrl" [extendTableId]="extendTableId"
                                      [extendTableDefaultChecked]="extendDefaultChecked" [(extendEmitBaseThead)]="extendEmitBaseThead" (extendBaseTheadChange)="baseTheadChange($event)" [extendTableCheckStatusInParams]="extendCheckStatusInParams" [(applyOnceSearchParams)]="applyOnceSearchParams"
                                      (selectGeneCountChange)="handleSelectGeneCountChange($event)" [(computedScrollHeight)]="computedScrollHeight" [(resetCheckGraph)]="resetCheckGraph"></app-table-transformation>
        </div>
    </div>
</div>
