<div class="analysis-list">
    <nz-spin [nzSpinning]="loading" nzTip='Loading...'>
        <div class="search-box">
            <p class="re-list-title">我的分析</p>
            <i class="iconfont icon-shuaxin" style="line-height: 38px;margin-left:10px;" [nzTitle]="'tableButton.refresh' | translate" nz-tooltip (click)="getAnalysisList()"></i>
            <div class="search">
                <ng-template #suffixIconButton>
                    <button nz-button nzType="default" nzSearch (click)="search()"><i class="anticon anticon-search"></i></button>
                </ng-template>
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                    <input type="text" [(ngModel)]="label" (keyup.enter)="search()" nz-input placeholder="input search text">
                </nz-input-group>
                <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomRight'" [(nzVisible)]="panelVisible">
                    <button nz-button nz-dropdown nzType="primary"><i class="anticon anticon-filter"></i>条件筛选</button>
                    <div class="analysis-list-panel">
                        <div class="temp-group">
                            <span>条件筛选</span>
                        </div>
                        <div>
                            <span>数据</span>
                            <div>
                                <button (click)="choose(da)" [class.btnActive]="da['checked']" nz-button *ngFor="let da of src['data']" nzType="default" nzSize="small">{{da['name']}}</button>
                            </div>
                        </div>
                        <div>
                            <span>提交时间</span>
                            <div>
                                <nz-range-picker nzSize="small" [(ngModel)]="src.dateRange" [nzPlaceHolder]="[ 'Start Time', 'End Time' ]" nzShowTime></nz-range-picker>
                            </div>
                        </div>
                        <div class="category-group">
                            <span>类型</span>
                            <div>
                                <button (click)="choose(cat)" [class.btnActive]="cat['checked']" nz-button *ngFor="let cat of src['category']" nzType="default" nzSize="small">{{'tools.'+cat['id'] | translate}}</button>
                            </div>
                        </div>
                        <div>
                            <span>状态</span>
                            <div>
                                <button (click)="choose(st)" [class.btnActive]="st['checked']" nz-button *ngFor="let st of src['status']" nzType="default" nzSize="small">{{st['name']}}</button>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button nz-button nzType="primary" nzSize="small" (click)="filter()">筛选</button>
                            <button nz-button nzType="default" nzSize="small" (click)="reset()">重置</button>
                        </div>
                    </div>
                </nz-dropdown>
            </div>
        </div>
        <div class="re-list-table">
            <!-- <div class="table-thead tableHeader hasbordert">
                <div class="fRight">
                    <i class="iconfont icon-shuaxin" [nzTitle]="'tableButton.refresh' | translate" nz-tooltip (click)="getAnalysisList()"></i>
                </div>
            </div> -->
            <div class="table-content">
                <nz-table *ngIf="!error" #basicTable [nzData]="analysisList" [nzFrontPagination]='false' [nzShowPagination]="false" [nzTotal]="total" nzSize="small" nzScroll="{'y':120%}">
                    <thead>
                        <tr>
                            <th nzWidth="120px">分析工具名</th>
                            <!-- <th>Id</th> -->
                            <th nzWidth="80px">状态</th>
                            <th nzWidth="120px">创建时间</th>
                            <th nzWidth="120px">前置任务</th>
                            <th nzWidth="120px">备注</th>
                            <th nzWidth="120px">操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="center" *ngFor="let data of analysisList">
                            <td class="editProject">
                                <nz-badge *ngIf="!data.isEditNickname" [nzDot]="!data['isCheck']">{{data['nickname']}}
                                    <span *ngIf="data['isEdited']" style="color:red;">（已编辑）</span> &emsp;
                                </nz-badge>
                                <input #inputNickname *ngIf="data.isEditNickname" type="text" placeholder="字数限制50" (keyup.enter)="updateNicknameEnter(data,data.nickname)" (blur)="updateNickname(data,data.nickname)" [(ngModel)]="data.nickname">
                                <i class="iconfont icon-xiugai" (click)=updateNicknameCheck(data)></i>
                            </td>
                            <!-- <td>{{data['_id']}}</td> -->
                            <!-- process -1 pending 1 success 0 error -->
                            <td>
                                <span *ngIf="data['process'] == 1"><i class="anticon anticon-check-circle success"></i>&nbsp;成功</span>
                                <span *ngIf="data['process'] == 0"><i class="anticon anticon-close-circle error"></i>&nbsp;失败</span>
                                <span *ngIf="data['process'] == -1"><i class="anticon anticon-hourglass pending"></i>&nbsp;{{data['restTime']}}</span>
                            </td>
                            <td>{{data['date']}}</td>
                            <td>
                                <div class="links">
                                    <span>{{data['parent'].length}}
                                        <ul *ngIf="data['parent'].length" class="link-lists">
                                            <li *ngFor="let item of data['parent']" (click)="toDetail(item)">
                                                <p>类型：{{item['reanalysisType']}}</p>
                                                <p>任务名称：{{item['projectName']}}</p>
                                            </li>
                                        </ul>
                                    </span>

                                </div>
                            </td>
                            <!-- <td>{{data['remark']?data['remark']:'-'}}</td> -->
                            <td class="editRemark">
                                <span class="popover-table-tools" style="display:inline-block;">
                                    <span nz-popover [nzContent]="data['remark'] ? data['remark'] : '-'" style="display:inline-block;max-width:200px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;" *ngIf="!data.isEditRemark">{{data['remark'] ? data['remark'] : '-'}}
                                    </span>
                                </span>
                                <!-- ng-focus：获取到焦点，ng-blur: 失去焦点，ng-keyup（onkeyup）:回车-->
                                <input #inputRemark *ngIf="data.isEditRemark" type="text" placeholder="字数限制100" (blur)="updateRemark(data,data.remark)" (keyup.enter)="updateRemarkEnter(data,data.remark)" [(ngModel)]="data.remark">
                                <i class="iconfont icon-xiugai" (click)=updateRemarkCheck(data)></i>
                            </td>
                            <td class="re-list-btn">
                                <span *ngIf="data['process'] == -1">--</span>
                                <span *ngIf="data['process'] != -1">
                                    <a class="primary" (click)="toDetail(data)">Check</a>
                                    <nz-divider nzType="vertical"></nz-divider>
                                    <a class="danger" (click)="handleDelete(data)">Delete</a>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <app-error *ngIf="error" [error]="error"></app-error>
                <div class="table-bottom">
                    <app-pagination style="float:left;" [(pageIndex)]="tableEntity['pageIndex']" [showPageSize]="false" [total]="total" [pageSize]="10" (pageIndexChange)="getAnalysisList()" [maxLimit]="1000"></app-pagination>
                </div>
            </div>
        </div>
    </nz-spin>
</div>
