
<div class="report-analysis line">
    <app-menu [menu]="[]" [geneSwitch]="false">
        <p class="menu-slot-text">重分析id：{{tid}}</p>
    </app-menu>
    <div class="content reanalysis-content row">
    <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
        <!-- <div class="left-top-layout">
            <h4>title</h4>
            <p>describe</p>
        </div> -->
        <div class="left-bottom-layout">
                <!-- [selectTemplate]="selectTemplate" -->
                <app-table-switch-chart
                    #lineChart
                    [id]="'line'"
                    [chartUrl]="chartUrl"
                    [apiEntity]="chartEntity"
                    (drawChartEmit)="drawChart($event)"
                    [chartId]="'lineChartDiv'"
                    [chartName]="'折线图'"
                    [flex]="true"
                    (refresh)="handlerRefresh()"
                >
                </app-table-switch-chart>

                <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="isShowColorPanel"
                ></app-color-picker>
        </div>
        </div>
        <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
            <div class="switch">
                <app-layout-switch [ngModel]="switch" (ngModelChange)="switchChange($event)"></app-layout-switch>
            </div>
            <div class="func" #func (click)="resize($event)">
                <!-- 增删列 -->
                <app-add-column #addColumn  (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)"  [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="geneType"></app-add-column>
                <!-- 关系 -->
                <app-gene-relative class="ml-12" *ngIf="!addColumnShow" [disabled]="!selectGeneCount" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
                <!-- 返回 -->
                <button class="ml12" [hidden]="addColumnShow || !showBackButton" nzSize="small" nz-button nzType="Default" (click)="back()">返回</button>
            </div>
            <!-- 表格转换 -->
			<app-table-transformation
				class="no-outside-border"
				#transformTable
				[isFirst]="first"
				[tableHeight]="tableHeight"
				[defaultTableEntity]="defaultEntity"
				[defaultTableUrl]="defaultUrl"
				[defaultTableId]="defaultTableId"
				[defaultTableDefaultChecked]="defaultDefaultChecked"
				[(defaultEmitBaseThead)]="defaultEmitBaseThead"
				(defaultBaseTheadChange)="baseTheadChange($event)"
				[defaultTableCheckStatusInParams]="defaultCheckStatusInParams"
				[extendTableEntity]="extendEntity"
				[extendTableUrl]="extendUrl"
				[extendTableId]="extendTableId"
				[extendTableDefaultChecked]="extendDefaultChecked"
				[(extendEmitBaseThead)]="extendEmitBaseThead"
				(extendBaseTheadChange)="baseTheadChange($event)"
				[extendTableCheckStatusInParams]="extendCheckStatusInParams"
                [(applyOnceSearchParams)]="applyOnceSearchParams"
                (selectGeneCountChange)="handleSelectGeneCountChange($event)"
                [(computedScrollHeight)]="computedScrollHeight"
			></app-table-transformation>
        </div>
    </div>
</div>
