
<div class="report-analysis geneRich">
    <app-menu [menu]="[]" [geneSwitch]="false"> <p class="menu-slot-text">重分析id：{{tid}}</p> </app-menu>
    <div class="content reanalysis-content row">
        <div #left class="left-layout column" [class.expand]="switch==='right'" [class.unexpand]="switch==='center'" [class.table-only]="switch==='left'">
            <div #leftBottom class="left-bottom-layout" style=" overflow: auto; ">
                <!-- 下拉选择 -->
                <ng-template #selectTemplate>
                    <nz-select style="width: 160px;" class="ml12" nzSize="small" nzShowSearch  nzPlaceHolder="Select classification" [(ngModel)]="selectedVal" (ngModelChange)="handleSelectChange()">
                        <nz-option *ngFor="let item of selectData;index as i;" [nzLabel]="item" [nzValue]="item"></nz-option>
                    </nz-select>
                </ng-template>

                <!-- 可选择数据的大表 -->
                <ng-container style="margin-bottom:20px ">
                    <app-big-table-check class="no-outside-border" #bigTable
                        [selectTemplate]="selectTemplate" 
                        [tableHeight]="leftTableHeight / 2" 
                        [defaultChecked]="false" 
                        [pageEntity]="chartEntity" 
                        [url]="chartUrl" 
                        tableId="geneRichCheckBigTable" 
                        (checkedChange)="checkedChange($event)"
                        [(computedScrollHeight)]="leftComputedScrollHeight">
                    </app-big-table-check>
                </ng-container>

                <div class="text-info">
                    <span *ngIf="checkedData.length > 60">最多只对qvalue较小的top60进行重新画图</span>
                </div>

                <!-- 图表切换 -->
                <ng-container>
                    <app-table-switch-chart #switchChart 
                        [id]="'re-rich'" 
                        [tableUrl]="chartUrl"  
                        [apiEntity]="chartEntity" 
                        (drawChartEmit)="drawChart($event)" 
                        [chartId]="'geneRichChartDiv'" 
                        [chartName]="'基因富集'" 
                        (refresh)="handlerRefresh()" 
                        [isHasMultiSelect]="true" 
                        [(isMultiSelect)]="isMultipleSelect" 
                        (isMultiSelectChange)="chartSelectModelChange($event)" 
                        (multipleConfirmEmit)="multipleSelectConfirm()" 
                        [flex]="true"> 
                    </app-table-switch-chart>

                    <app-color-picker [(color)]="color" (colorChange)="colorChange($event)" [(show)]="show"></app-color-picker>
                </ng-container>
            </div>
        </div>
        <div #right class="right-layout" [class.expand]="switch==='center'" [class.unexpand]="switch==='right'" [class.table-only]="switch==='left'">
            <div class="switch">
                <app-layout-switch  [ngModel]="switch" (ngModelChange)="switchChange($event)" > </app-layout-switch>
            </div>
            <div class="func" #func (click)="resize($event)">
                <!-- 增删列 -->
                <app-add-column #addColumn  (computedTableEvent)="computedTableHeight()" (toggle)="toggle($event)"  [baseThead]="baseThead" (addThead)="addThead($event)" [geneType]="geneType"></app-add-column>
                <!-- 关系 -->
                <app-gene-relative class="ml-12" [disabled]="!selectGeneCount" *ngIf="!addColumnShow" #relative (confirmEvent)="confirm($event)"></app-gene-relative>
                <!-- 返回 -->
                <button class="ml12" [hidden]="addColumnShow || !showBackButton" nz-button nzType="Default" (click)="back()">返回</button> </div>
            <!-- 表格转换 -->
            <ng-container *ngIf="false">
                <app-table-transformation class="no-outside-border" #transformTable [isFirst]="first" [tableHeight]="tableHeight" [defaultTableEntity]="defaultEntity" [defaultTableUrl]="defaultUrl" [defaultTableId]="defaultTableId" [defaultTableDefaultChecked]="defaultDefaultChecked" [(defaultEmitBaseThead)]="defaultEmitBaseThead" (defaultBaseTheadChange)="baseTheadChange($event)" [defaultTableCheckStatusInParams]="defaultCheckStatusInParams" [extendTableEntity]="extendEntity" [extendTableUrl]="extendUrl" [extendTableId]="extendTableId" [extendTableDefaultChecked]="extendDefaultChecked" [(extendEmitBaseThead)]="extendEmitBaseThead" (extendBaseTheadChange)="baseTheadChange($event)" [extendTableCheckStatusInParams]="extendCheckStatusInParams" [(applyOnceSearchParams)]="applyOnceSearchParams" (selectGeneCountChange)="handleSelectGeneCountChange($event)" [(computedScrollHeight)]="computedScrollHeight"></app-table-transformation>
            </ng-container>
        </div>
    </div>
</div>
